<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EduCourseMapper">
    
    <resultMap type="EduCourse" id="EduCourseResult">
        <result property="id"    column="id"    />
        <result property="cname"    column="cname"    />
        <result property="score"    column="score"    />
        <result property="xingzhi"    column="xingzhi"    />
        <result property="kaoshi"    column="kaoshi"    />
    </resultMap>

    <sql id="selectEduCourseVo">
        select id, cname, score, xingzhi, kaoshi from edu_course
    </sql>

    <select id="selectEduCourseList" parameterType="EduCourse" resultMap="EduCourseResult">
        <include refid="selectEduCourseVo"/>
        <where>  
            <if test="cname != null  and cname != ''"> and cname like concat('%', #{cname}, '%')</if>
            <if test="score != null  and score != ''"> and score = #{score}</if>
            <if test="xingzhi != null  and xingzhi != ''"> and xingzhi = #{xingzhi}</if>
            <if test="kaoshi != null  and kaoshi != ''"> and kaoshi = #{kaoshi}</if>
        </where>
    </select>
    
    <select id="selectEduCourseById" parameterType="Integer" resultMap="EduCourseResult">
        <include refid="selectEduCourseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEduCourse" parameterType="EduCourse" useGeneratedKeys="true" keyProperty="id">
        insert into edu_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cname != null">cname,</if>
            <if test="score != null">score,</if>
            <if test="xingzhi != null">xingzhi,</if>
            <if test="kaoshi != null">kaoshi,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cname != null">#{cname},</if>
            <if test="score != null">#{score},</if>
            <if test="xingzhi != null">#{xingzhi},</if>
            <if test="kaoshi != null">#{kaoshi},</if>
         </trim>
    </insert>

    <update id="updateEduCourse" parameterType="EduCourse">
        update edu_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="cname != null">cname = #{cname},</if>
            <if test="score != null">score = #{score},</if>
            <if test="xingzhi != null">xingzhi = #{xingzhi},</if>
            <if test="kaoshi != null">kaoshi = #{kaoshi},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEduCourseById" parameterType="Integer">
        delete from edu_course where id = #{id}
    </delete>

    <delete id="deleteEduCourseByIds" parameterType="String">
        delete from edu_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCourseAll" resultMap="EduCourseResult">
      <include refid="selectEduCourseVo"/>
    </select>

</mapper>