<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EduTeaCourseMapper">
    
    <resultMap type="EduTeaCourse" id="EduTeaCourseResult">
        <result property="tid"    column="tid"    />
        <result property="cid"    column="cid"    />
    </resultMap>

    <sql id="selectEduTeaCourseVo">
        select tid, cid from edu_tea_course
    </sql>

    <select id="selectEduTeaCourseList" parameterType="EduTeaCourse" resultMap="EduTeaCourseResult">
        <include refid="selectEduTeaCourseVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectEduTeaCourseByTid" parameterType="Integer" resultMap="EduTeaCourseResult">
        <include refid="selectEduTeaCourseVo"/>
        where tid = #{tid}
    </select>
        
    <insert id="insertEduTeaCourse" parameterType="EduTeaCourse">
        insert into edu_tea_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tid != null">tid,</if>
            <if test="cid != null">cid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tid != null">#{tid},</if>
            <if test="cid != null">#{cid},</if>
         </trim>
    </insert>

    <update id="updateEduTeaCourse" parameterType="EduTeaCourse">
        update edu_tea_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="cid != null">cid = #{cid},</if>
        </trim>
        where tid = #{tid}
    </update>

    <delete id="deleteEduTeaCourseByTid" parameterType="Integer">
        delete from edu_tea_course where tid = #{tid}
    </delete>

    <delete id="deleteEduTeaCourseByTids" parameterType="String">
        delete from edu_tea_course where tid in 
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

   <insert id="batchTeaCoures">
		insert into edu_tea_course(tid, cid) values
		<foreach item="a" index="index" collection="list" separator=",">
			(#{a.tid},#{a.cid})
		</foreach>
	</insert>


</mapper>