<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OverViewMapper">
    <resultMap type="SciHorizontalApply" id="SciHorizontalApplyResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="topName"    column="top_name"    />
        <result property="topType"    column="top_type"    />
        <result property="partyA"    column="party_A"    />
        <result property="partyB"    column="party_B"    />
        <result property="persionId"    column="persion_id"    />
        <result property="ranking"    column="ranking"    />
        <result property="signingData"    column="signing_data"    />
        <result property="validityDate"    column="validity_Date"    />
        <result property="firstPersonId"    column="first_person_id"    />
        <result property="secondPersonId"    column="second_person_id"    />
        <result property="thirdPersonId"    column="third_person_id"    />
        <result property="fourthPersonId"    column="fourth_person_id"    />
        <result property="amount"    column="amount"    />
        <result property="state"    column="state"    />
        <result property="userName"    column="userName"    />
        <result property="createtime"    column="createtime"    />
        <result property="year"    column="year"    />
        <result property="newsql"    column="newsql"    />
    </resultMap>

    <resultMap type="SciHorizontalApplyVertical" id="SciHorizontalApplyVerticalResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="topName"    column="top_name"    />
        <result property="topNumber"    column="top_number"    />
        <result property="topType"    column="top_type"    />
        <result property="signingData"    column="signing_data"    />
        <result property="firstPersonId"    column="first_person_id"    />
        <result property="secondPersonId"    column="second_person_id"    />
        <result property="thirdPersonId"    column="third_person_id"    />
        <result property="fourthPersonId"    column="fourth_person_id"    />
        <result property="filing"    column="file"    />
        <result property="openfile"    column="open_file"    />
        <result property="midfile"    column="mid_file"    />
        <result property="overfile"    column="over_file"    />
        <result property="amount"    column="amount"    />
        <result property="state"    column="state"    />
        <result property="userName"    column="userName"    />
        <result property="createtime"    column="createtime"    />
    </resultMap>

    <select id="selectOtherListByUid" parameterType="Long" resultMap="SciHorizontalApplyResult">
        select s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, pe.persion_id,pe.ranking,s.top_type,s.party_A,s.party_B, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s left join sci_persion pe on pe.apply_id = s.id
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where pe.persion_id = #{uid}
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
    </select>


    <select id="selectOtherListByUid2" parameterType="Long" resultMap="SciHorizontalApplyVerticalResult">
        select s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
                                    where 1=1
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
    </select>
</mapper>