<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciHorizontalApplyMapper">

    <resultMap type="SciHorizontalApply" id="SciHorizontalApplyResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="topName"    column="top_name"    />
        <result property="topType"    column="top_type"    />
        <result property="client"    column="client"    />
        <result property="undertaking"    column="undertaking"    />
        <result property="contacta"    column="contacta"    />
        <result property="contactaTel"    column="contacta_tel"    />
        <result property="contactb"    column="contactb"    />
        <result property="contactbTel"    column="contactb_tel"    />
        <result property="signingData"    column="signing_data"    />
        <result property="validityDate"    column="validity_Date"    />
        <result property="firstPersonId"    column="first_person_id"    />
        <result property="firstPersonTask"    column="first_person_task"    />
        <result property="secondPersonTask"    column="second_person_task"    />
        <result property="secondPersonId"    column="second_person_id"    />
        <result property="thirdPersonId"    column="third_person_id"    />
        <result property="thirdPersonTask"    column="third_person_task"    />
        <result property="fourthPersonId"    column="fourth_person_id"    />
        <result property="fourthPersonTask"    column="fourth_person_task"    />
        <result property="amount"    column="amount"    />
        <result property="state"    column="state"    />
        <result property="userName"    column="userName"    />
        <result property="createtime"    column="createtime"    />
        <result property="year"    column="year"    />
    </resultMap>

    <sql id="selectSciHorizontalApplyVo">
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s left join sys_user u on  s.user_id=u.user_id
                                    left join sys_dept d on u.dept_id = d.dept_id
                                    left join sys_dept p on d.parent_id =p.dept_id
    </sql>

    <select id="selectSciHorizontalApplyList" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult" >
        <include refid="selectSciHorizontalApplyVo"/>
        where state in (1,2,3,4,5)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}

        order  by createtime desc
    </select>

    <select id="selectSciHorizontalApplyListByJYS" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select  #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (1,3,4,5)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>
        ${params.dataScope}
        order  by createtime desc
    </select>

    <select id="selectSciHorizontalApplyListByKYC" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select  #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (2,3,4,5)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>
        order  by createtime desc
    </select>

    <select id="selectSciHorizontalApplyListByOverApply" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select  #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in(7,8,9,10)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>
        ${params.dataScope}
        order  by s.createtime desc
    </select>
    <select id="selectSciHorizontalApplyListByOverApplyJYS" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select  #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in(7,9)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>
        ${params.dataScope}
        order  by s.createtime desc
    </select>
    <select id="selectSciHorizontalApplyListByOverApplyKYC" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select  #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in(8,10)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>
        ${params.dataScope}
        order  by s.createtime desc
    </select>


    <select id="selectSciHorizontalApplyListByOVER" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select  #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state = 6
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order  by createtime desc
    </select>




    <select id="selectSciHorizontalApplyById" parameterType="Integer" resultMap="SciHorizontalApplyResult">
        select s.id,u.user_name userName, s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date,s.first_person_id,  s.second_person_id, s.third_person_id, s.fourth_person_id,  s.amount, s.contract, s.filing,s.filingurl,s.agreeurl ,s.state
        from sci_horizontal_apply s  left join sys_user u on  s.user_id=u.user_id
        where s.id = #{id}

    </select>

    <insert id="insertSciHorizontalApply" parameterType="SciHorizontalApply" useGeneratedKeys="true" keyProperty="id">
        insert into sci_horizontal_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="topName != null and topName != ''">top_name,</if>
            <if test="topType != null and topType != ''">top_type,</if>
            <if test="signingData != null and signingData != ''">signing_data,</if>
            <if test="validityDate != null and validityDate != ''">validity_Date,</if>
            <if test="firstPersonId != null and firstPersonId != ''">first_person_id,</if>
            <if test="secondPersonId != null and secondPersonId != ''">second_person_id,</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">third_person_id,</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">fourth_person_id,</if>
            <if test="amount != null and amount != ''">amount,</if>
            <if test="contract != null and contract != ''">contract,</if>
            <if test="filing != null and filing != ''">filing,</if>
            <if test="state != null and state != ''">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="topName != null and topName != ''">#{topName},</if>
            <if test="topType != null and topType != ''">#{topType},</if>

            <if test="signingData != null and signingData != ''">#{signingData},</if>
            <if test="validityDate != null and validityDate != ''">#{validityDate},</if>
            <if test="firstPersonId != null and firstPersonId != ''">#{firstPersonId},</if>
            <if test="secondPersonId != null and secondPersonId != ''">#{secondPersonId},</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">#{thirdPersonId},</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">#{fourthPersonId},</if>
            <if test="amount != null and amount != ''">#{amount},</if>
            <if test="contract != null and contract != ''">#{contract},</if>
            <if test="filing != null and filing != ''">#{filing},</if>
            <if test="state != null and state != ''">#{state},</if>
        </trim>
    </insert>

    <update id="updateSciHorizontalOverApply" parameterType="SciHorizontalApply" >
        update  sci_horizontal_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="filing != null and filing != ''">filingurl=#{filing},</if>
            <if test="contract != null and contract != ''">agreeurl=#{contract},</if>
            <if test="state != null and state != ''">state=#{state},</if>
        </trim>
        where id=#{id}
    </update>

    <update id="updateSciHorizontalApply" parameterType="SciHorizontalApply">
        update sci_horizontal_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="topName != null and topName != ''">top_name = #{topName},</if>
            <if test="topType != null and topType != ''">top_type = #{topType},</if>

            <if test="signingData != null and signingData != ''">signing_data = #{signingData},</if>
            <if test="validityDate != null and validityDate != ''">validity_Date = #{validityDate},</if>
            <if test="firstPersonId != null and firstPersonId != ''">first_person_id = #{firstPersonId},</if>
            <if test="secondPersonId != null and secondPersonId != ''">second_person_id = #{secondPersonId},</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">third_person_id = #{thirdPersonId},</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">fourth_person_id = #{fourthPersonId},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="contract != null and contract != ''">contract = #{contract},</if>
            <if test="filing != null and filing != ''">filing = #{filing},</if>
            <if test="state != null and state != ''">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSciHorizontalApplyById" parameterType="Integer">
        delete from sci_horizontal_apply where id = #{id}
    </delete>

    <delete id="deleteSciHorizontalOverApplyById" parameterType="Integer">
        delete from sci_horizontal_apply where id = #{id}
    </delete>

    <delete id="deleteSciHorizontalApplyByIds" parameterType="String">
        delete from sci_horizontal_apply where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="hxPass" >
        update sci_horizontal_apply set state = #{state} where id = #{id}
    </update>


    <update id="overApply" >
        update sci_horizontal_apply set state = #{state} where id = #{id}
    </update>
</mapper>