<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciHorizontalApplyMapper">

    <resultMap type="SciHorizontalApply" id="SciHorizontalApplyResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="topName"    column="top_name"    />
        <result property="topNumber"    column="top_number"    />
        <result property="topType"    column="top_type"    />
        <result property="partyA"    column="party_A"    />
        <result property="partyB"    column="party_B"    />
        <result property="persionId"    column="persion_id"    />
        <result property="ranking"    column="ranking"    />
        <result property="signingData"    column="signing_data"    />
        <result property="validityDate"    column="validity_Date"    />
        <result property="firstPersonId"    column="first_person_id"    />
        <result property="secondPersonId"    column="second_person_id"    />
        <result property="thirdPersonId"    column="third_person_id"    />
        <result property="fourthPersonId"    column="fourth_person_id"    />
        <result property="amount"    column="amount"    />
        <result property="state"    column="state"    />
        <result property="userName"    column="userName"    />
        <result property="createtime"    column="createtime"    />
        <result property="year"    column="year"    />
        <result property="newsql"    column="newsql"    />
        <result property="dnameId"    column="dept_id"    />
    </resultMap>

    <resultMap id="SciHorizontalPersionResult" type="SciHorizontalPersion">
        <result property="applyid"    column="apply_id"    />
        <result property="persionid"    column="persion_id"    />
        <result property="ranking"    column="ranking"    />
    </resultMap>

    <sql id="selectSciHorizontalApplyVo">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id ,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state,s.createtime
        from sci_horizontal_apply s
                                    left join sys_user u on  s.user_id=u.user_id
                                    left join sys_dept d on u.dept_id = d.dept_id
                                    left join sys_dept p on d.parent_id =p.dept_id
    </sql>

    <select id="selectOtherListByUid" parameterType="Long" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, pe.persion_id,pe.ranking,s.top_type,s.party_A,s.party_B, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state,s.createtime
        from sci_horizontal_apply s left join sci_persion pe on pe.apply_id = s.id
                                    left join sys_user u on  s.user_id=u.user_id
                                    left join sys_dept d on u.dept_id = d.dept_id
                                    left join sys_dept p on d.parent_id =p.dept_id
        where pe.persion_id = #{uid}
        <if test="newsql != null  and newsql != '' ">
            <choose>
                <when test="newsql == '00' ">
                    and s.state = 6
                </when>
                <when test="newsql == '01'">
                    and s.state in (1,2,3,4,5,11,22,99)
                </when>
                <when test="newsql == '02'">
                    and s.state in (7,8,9,10,33,44)
                </when>
            </choose>
        </if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        order  by createtime desc
    </select>

<!--    查询申请流程-->
    <select id="selectSciHorizontalApplyList" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult" >
        <include refid="selectSciHorizontalApplyVo"/>
        where state in (1,2,3,4,5,11,22,99)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order  by
            case
                when state in (3,5,22) then 1
                when state = 4 then 2
                when state in (1,2,11) then 3
            end,
        createtime desc
    </select>

<!--    教研室查询申请审批-->
    <select id="selectSciHorizontalApplyListByJYS" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state  in (1,2,4,11,99)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order  by
            case
                when state = 2 then 1
                when state = 1 then 2
                when state in (4,11) then 3
            end,
        createtime desc
    </select>

<!--    科研处查询申请审批-->
    <select id="selectSciHorizontalApplyListByKYC" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id, d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state  in (4,11)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        order  by
            case
                when state = 11 then 2
                when state = 4 then 1
            end,
        createtime desc
    </select>

<!--    学院查询申请审批-->
    <select id="selectSciHorizontalApplyListByDept" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_id ynameId,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state  in (2,4,11)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order  by
            case
                when state in (2,11) then 1
                when state = 4 then 2
            end,
        createtime desc
    </select>

<!--    查询结项申请流程-->
    <select id="selectSciHorizontalApplyListByOverApply" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B,s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in(7,8,9,10,33,44)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order  by s.createtime desc
    </select>

<!--    教研室查询结项审批-->
    <select id="selectSciHorizontalApplyListByOverApplyJYS" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_id ynameId,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B,s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (7,8,33)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order  by s.createtime desc
    </select>
<!--    科研处查询结项审批-->
    <select id="selectSciHorizontalApplyListByOverApplyKYC" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type, s.party_A,s.party_B,s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (33)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        order  by s.createtime desc
    </select>

<!--    学院查询结项审批-->
    <select id="selectSciHorizontalApplyListByOverDept" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_id ynameId,p.dept_name yname, s.user_id, s.top_name, s.top_type, s.party_A,s.party_B,s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (8,33)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order  by s.createtime desc
    </select>

<!--查询已结项-->
    <select id="selectSciHorizontalApplyListByOVER" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state = 6
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order  by createtime desc
    </select>
    <select id="selectSciHorizontalApplyListByOVERKYC" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select #{uid} uid,s.id,u.user_name userName,s.top_number ,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state = 6
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!-- 数据范围过滤 -->
        order  by createtime desc
    </select>



    <select id="selectSciHorizontalApplyById" parameterType="Integer" resultMap="SciHorizontalApplyResult">
        select s.id,u.user_name userName, s.user_id, s.top_name,s.top_number , s.top_type,s.party_A,s.party_B,  s.signing_data, s.validity_Date,s.first_person_id,  s.second_person_id, s.third_person_id, s.fourth_person_id,  s.amount, s.contract, s.filing,s.filingurl,s.agreeurl ,s.state
        from sci_horizontal_apply s  left join sys_user u on  s.user_id=u.user_id
        where s.id = #{id}

    </select>

    <insert id="insertSciHorizontalApply" parameterType="SciHorizontalApply" useGeneratedKeys="true" keyProperty="id">
        insert into sci_horizontal_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="topName != null and topName != ''">top_name,</if>
            <if test="topType != null and topType != ''">top_type,</if>
            <if test="topNumber != null and topNumber != ''">top_number,</if>
            <if test="partyA != null and partyA != ''">party_A,</if>
            <if test="partyB != null and partyB != ''">party_B,</if>
            <if test="signingData != null and signingData != ''">signing_data,</if>
            <if test="firstPersonId != null and firstPersonId != ''">first_person_id,</if>
            <if test="secondPersonId != null and secondPersonId != ''">second_person_id,</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">third_person_id,</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">fourth_person_id,</if>
            <if test="amount != null and amount != ''">amount,</if>
            <if test="contract != null and contract != ''">contract,</if>
            <if test="filing != null and filing != ''">filing,</if>
            <if test="state != null and state != ''">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="topName != null and topName != ''">#{topName},</if>
            <if test="topType != null and topType != ''">#{topType},</if>
            <if test="topNumber != null and topNumber != ''">#{topNumber},</if>
            <if test="partyA != null and partyA != ''">#{partyA},</if>
            <if test="partyB != null and partyB != ''">#{partyB},</if>
            <if test="signingData != null and signingData != ''">#{signingData},</if>
            <if test="firstPersonId != null and firstPersonId != ''">#{firstPersonId},</if>
            <if test="secondPersonId != null and secondPersonId != ''">#{secondPersonId},</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">#{thirdPersonId},</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">#{fourthPersonId},</if>
            <if test="amount != null and amount != ''">#{amount},</if>
            <if test="contract != null and contract != ''">#{contract},</if>
            <if test="filing != null and filing != ''">#{filing},</if>
            <if test="state != null and state != ''">#{state},</if>
        </trim>
    </insert>



    <update id="updateSciHorizontalApply" parameterType="SciHorizontalApply">
        update sci_horizontal_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="topName != null and topName != ''">top_name = #{topName},</if>
            <if test="topType != null and topType != ''">top_type = #{topType},</if>
            <if test="topNumber != null and topNumber != ''">top_number = #{topNumber},</if>
            <if test="signingData != null and signingData != ''">signing_data = #{signingData},</if>
            <if test="validityDate != null and validityDate != ''">validity_Date = #{validityDate},</if>
            <if test="firstPersonId != null and firstPersonId != ''">first_person_id = #{firstPersonId},</if>
            <if test="secondPersonId != null and secondPersonId != ''">second_person_id = #{secondPersonId},</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">third_person_id = #{thirdPersonId},</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">fourth_person_id = #{fourthPersonId},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="contract != null and contract != ''">contract = #{contract},</if>
            <if test="filing != null and filing != ''">filing = #{filing},</if>
            <if test="filingurl != null and filingurl != ''">filingurl = #{filingurl},</if>
            <if test="agreeurl != null and agreeurl != ''">agreeurl = #{agreeurl},</if>
            <if test="state != null and state != ''">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSciHorizontalApplyById" parameterType="Integer">
        delete from sci_horizontal_apply where id = #{id}
    </delete>

    <delete id="deleteSciHorizontalOverApplyById" parameterType="Integer">
        delete from sci_horizontal_apply where id = #{id}
    </delete>

    <delete id="deleteSciHorizontalApplyByIds" parameterType="String">
        delete from sci_horizontal_apply where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="hxPass" >
        update sci_horizontal_apply set state = #{state} where id = #{id}
    </update>


    <update id="overApply" >
        update sci_horizontal_apply set state = #{state} where id = #{id}
    </update>
    
    <insert id="insertPersion" useGeneratedKeys="true" keyProperty="id">
        insert into sci_persion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="persionid != null">persion_id,</if>
            <if test="applyid != null">apply_id,</if>
            <if test="ranking != null">ranking</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="persionid != null">#{persionid},</if>
            <if test="applyid != null">#{applyid},</if>
            <if test="ranking != null">#{ranking},</if>
        </trim>
    </insert>



    <delete id="deletePersion">
        delete from sci_persion where apply_id = #{applyid}
    </delete>

    <delete id="deletePersionByid" parameterType="String">
        delete from sci_persion where apply_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="exportSciHorizontalApplyList" parameterType="SciHorizontalApply" resultMap="SciHorizontalApplyResult">
        select s.id,u.user_name userName,s.top_number ,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,s.party_A,s.party_B, s.first_person_id, pe.ranking, s.second_person_id, s.third_person_id, fourth_person_id, s.signing_data, s.validity_Date,  concat( s.amount,'万') amount, s.contract, s.filing, s.state
        from sci_horizontal_apply s
        left join sci_persion pe on s.id=pe.apply_id
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order  by createtime desc
    </select>

    <delete id="sci_horizontal_piyue" parameterType="Integer">
        delete from sci_horizontal_piyue
        where schxkt_id = (
        select id from sci_horizontal_piyue
        where schxkt_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by create_time desc limit 1
    </delete>

</mapper>