<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciHorizontalApplyVerticalMapper">

    <resultMap type="SciHorizontalApplyVertical" id="SciHorizontalApplyVerticalResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="topName"    column="top_name"    />
        <result property="topNumber"    column="top_number"    />
        <result property="topType"    column="top_type"    />
        <result property="signingData"    column="signing_data"    />
        <result property="validityData"    column="validity_data"    />
        <result property="firstPersonId"    column="first_person_id"    />
        <result property="secondPersonId"    column="second_person_id"    />
        <result property="thirdPersonId"    column="third_person_id"    />
        <result property="fourthPersonId"    column="fourth_person_id"    />
        <result property="file"    column="file"    />
        <result property="openfile"    column="open_file"    />
        <result property="midfile"    column="mid_file"    />
        <result property="overfile"    column="over_file"    />
        <result property="amount"    column="amount"    />
        <result property="state"    column="state"    />
        <result property="userName"    column="userName"    />
        <result property="createtime"    column="createtime"    />
        <result property="newsql"    column="newsql"    />
        <result property="dnameId"    column="dept_id"    />

    </resultMap>

    <select id="selectSciHorizontalApplyVerticalAllList" resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult">
        select s.id,u.user_name userName,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number ,s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sci_persion pe on pe.apply_id = s.id
                                              left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where s.state != 99
        <if test="dnameId != null and dnameId != ''"> and d.dept_id = #{dnameId}</if>
        <if test="ynameId != null and ynameId != ''"> and p.dept_id = #{ynameId}</if>
        order  by createtime desc
    </select>

    <select id="selectSciHorizontalApplyVerticalList"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult">
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where  s.state in (1,2,3,4,5,6,7,99)
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if  test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="topNumber != null  and topNumber != ''"> or top_number =  #{topNumber}</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        ${params.dataScope}
        order by s.createtime desc
    </select>

    <select id="selectSciHorizontalApplyVerticalListJYS"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult">
        select #{uid} uid,s.id,u.user_name userName,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where  s.state in (1,2)
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if  test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
            ${params.dataScope}
        order by s.createtime desc
    </select>

    <select id="selectSciHorizontalApplyVerticalListDept"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult">
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_id ynameId,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where  s.state in (2,4)
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if  test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        ${params.dataScope}
        order by s.createtime desc
    </select>

    <select id="selectSciHorizontalApplyVerticalListKYC"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult">
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where  s.state in (4,6)
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
            ${params.dataScope}
        order by s.createtime desc
    </select>


    <select id="selectSciHorizontalApplyVerticalListJX"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult" >
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where  s.state in (11,22,33,44,55,77)
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        ${params.dataScope}
        order by s.createtime desc
    </select>

    <select id="selectSciHorizontalApplyVerticalListJYSJX"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult" >
        select #{uid} uid,s.id,u.user_name userName,d.dept_id,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where  s.state  in (11,22)
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        ${params.dataScope}
        order by s.createtime desc
    </select>

    <select id="selectSciHorizontalApplyVerticalListDeptJX"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult" >
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_id ynameId,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where  s.state in (22,44)
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if  test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        ${params.dataScope}
        order by s.createtime desc
    </select>

    <select id="selectSciHorizontalApplyVerticalListKYCJX"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult" >
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (44)
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if  test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        ${params.dataScope}
        order by s.createtime desc
    </select>

    <select id="selectSciHorizontalApplyVerticalListOVER"  resultType="SciHorizontalApplyVertical" resultMap="SciHorizontalApplyVerticalResult" >
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where  s.state = 66
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if  test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        ${params.dataScope}
        order by s.createtime desc
    </select>

    <insert id="insertSciHorizontalApplyVertical" parameterType="SciHorizontalApplyVertical" useGeneratedKeys="true" keyProperty="id">
        insert into sci_horizontal_apply_vertical
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="topName != null and topName != ''">top_name,</if>
            <if test="topNumber != null and topNumber != ''">top_number,</if>
            <if test="topType != null and topType != ''">top_type,</if>
            <if test="signingData != null and signingData != ''">signing_data,</if>
            <if test="firstPersonId != null and firstPersonId != ''">first_person_id,</if>
            <if test="secondPersonId != null and secondPersonId != ''">second_person_id,</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">third_person_id,</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">fourth_person_id,</if>
            <if test="amount != null and amount != ''">amount,</if>
            <if test="file != null and file != ''">file,</if>
            <if test="state != null and state != ''">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="topName != null and topName != ''">#{topName},</if>
            <if test="topNumber != null and topNumber != ''">#{topNumber},</if>
            <if test="topType != null and topType != ''">#{topType},</if>
            <if test="signingData != null and signingData != ''">#{signingData},</if>
            <if test="firstPersonId != null and firstPersonId != ''">#{firstPersonId},</if>
            <if test="secondPersonId != null and secondPersonId != ''">#{secondPersonId},</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">#{thirdPersonId},</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">#{fourthPersonId},</if>
            <if test="amount != null and amount != ''">#{amount},</if>
            <if test="file != null and file != ''">#{file},</if>
            <if test="state != null and state != ''">#{state},</if>
        </trim>
    </insert>

    <select id="selectSciHorizontalApplyVerticalById" resultMap="SciHorizontalApplyVerticalResult" parameterType="Integer">
        select s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data, s.validity_data,  s.first_person_id,  s.second_person_id, s.third_person_id, s.fourth_person_id, s.amount, s.state,s.file,s.open_file,s.mid_file,s.over_file
        from  sci_horizontal_apply_vertical s left join sys_user u on  s.user_id=u.user_id
                                              left join sys_dept d on u.dept_id = d.dept_id
                                              left join sys_dept p on d.parent_id =p.dept_id
        where s.id=#{id}
    </select>

    <update id="updateSciHorizontalApplyVertical" parameterType="SciHorizontalApplyVertical">
        update  sci_horizontal_apply_vertical
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="topName != null and topName != ''">top_name = #{topName},</if>
            <if test="topNumber != null and topNumber != ''">top_number = #{topNumber},</if>
            <if test="topType != null and topType != ''">top_type = #{topType},</if>
            <if test="signingData != null and signingData != ''">signing_data = #{signingData},</if>
            <if test="validityData != null and validityData != ''">validity_data = #{validityData},</if>
            <if test="firstPersonId != null and firstPersonId != ''">first_person_id = #{firstPersonId},</if>
            <if test="secondPersonId != null and secondPersonId != ''">second_person_id = #{secondPersonId},</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">third_person_id = #{thirdPersonId},</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">fourth_person_id = #{fourthPersonId},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="file != null and file != ''">file = #{file},</if>
            <if test="openfile != null and openfile != ''">open_file = #{openfile},</if>
            <if test="midfile != null and midfile != ''">mid_file = #{midfile},</if>
            <if test="overfile != null and overfile != ''">over_file = #{overfile},</if>
            <if test="state != null and state != ''">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSciHorizontalApplyVerticalByIds" parameterType="String">
        delete from sci_horizontal_apply_vertical where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="applyPass" >
        update sci_horizontal_apply_vertical set state = #{state} where id = #{id}
    </update>

    <update id="overPass" >
        update sci_horizontal_apply_vertical set state = #{state} where id = #{id}
    </update>

    <insert id="insertPersionVertical" useGeneratedKeys="true" keyProperty="id">
        insert into sci_persion_vertical
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="persionid != null">persion_id,</if>
            <if test="verticalid != null">vertical_id,</if>
            <if test="ranking != null">ranking</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="persionid != null">#{persionid},</if>
            <if test="verticalid != null">#{verticalid},</if>
            <if test="ranking != null">#{ranking},</if>
        </trim>
    </insert>

    <select id="selectOtherListByUid" parameterType="Long" resultMap="SciHorizontalApplyVerticalResult">
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name,s.top_number, s.top_type,  s.signing_data,  s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id, concat( s.amount,'万') amount, s.state,s.file,s.over_file
        from sci_horizontal_apply_vertical s left join sci_persion_vertical pe on pe.vertical_id = s.id
        left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where pe.persion_id = #{uid}
        <if test="newsql != null  and newsql != '' ">
            <choose>
                <when test="newsql == '00' ">
                    and s.state = 66
                </when>
                <when test="newsql == '01'">
                    and s.state in (99,1,2,3,4,5,6)
                </when>
                <when test="newsql == '02'">
                    and s.state in (11,22,33,44,55)
                </when>
            </choose>
        </if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <if  test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        order  by createtime desc
    </select>

    <!-- 按纵向申请ID查询 sci_persion_vertical 的全部成员ID，按排名升序 -->
    <select id="selectPersionIdsByVerticalId" parameterType="int" resultType="string">
        SELECT persion_id
        FROM sci_persion_vertical
        WHERE vertical_id = #{verticalId}
        ORDER BY ranking ASC
    </select>

    <delete id="deletePersionVerticalByVerticalId" parameterType="int">
        delete from sci_persion_vertical where vertical_id = #{verticalId}
    </delete>

</mapper>