<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciIntraSchProApplyMapper">
    <resultMap type="SciIntraSchoolPro" id="SciIntraSchoolProResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="topName"    column="top_name"    />
        <result property="topType"    column="top_type"    />
        <result property="client"    column="client"    />
        <result property="undertaking"    column="undertaking"    />
        <result property="contacta"    column="contacta"    />
        <result property="contactaTel"    column="contacta_tel"    />
        <result property="contactb"    column="contactb"    />
        <result property="contactbTel"    column="contactb_tel"    />
        <result property="signingData"    column="signing_data"    />
        <result property="validityDate"    column="validity_Date"    />
        <result property="firstPersonId"    column="first_person_id"    />
        <result property="firstPersonTask"    column="first_person_task"    />
        <result property="secondPersonTask"    column="second_person_task"    />
        <result property="secondPersonId"    column="second_person_id"    />
        <result property="thirdPersonId"    column="third_person_id"    />
        <result property="thirdPersonTask"    column="third_person_task"    />
        <result property="fourthPersonId"    column="fourth_person_id"    />
        <result property="fourthPersonTask"    column="fourth_person_task"    />
        <result property="amount"    column="amount"    />
        <result property="state"    column="state"    />
        <result property="userName"    column="userName"    />
        <result property="createtime"    column="createtime"    />
        <result property="pa"    column="PA"    />
        <result property="pb"    column="PB"    />
        <result property="year"    column="year"    />
        <result property="overContract"    column="over_contract"    />
        <result property="overFiling"    column="over_filing"    />

    </resultMap>



    <select id="sel_IntraSchPro_isOVER" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
            #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
            s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
            concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedALL_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedALL_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedALL_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedALL_Points END) AS forthPoints
        from sci_IntraSchPro_apply s
        left join sys_user u on s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
        where s.state = 6
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!-- 数据范围过滤 -->
        <!--${params.dataScope}-->
        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB
        order  by createtime desc
    </select>
    <select id="sel_my_IntraSchPro_isOVER" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedALL_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedALL_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedALL_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedALL_Points END) AS forthPoints
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
        where s.state = 6
        AND (
        s.user_id = #{uid}
        OR s.first_person_id = #{uid}
        OR s.second_person_id = #{uid}
        OR s.third_person_id = #{uid}
        OR s.fourth_person_id = #{uid}
        )
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
<!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>

        <!-- 数据范围过滤 -->
        /*${params.dataScope}*/
        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB
        order  by createtime desc
    </select>



    <select id="sel_IntraSchPro_approval_ky" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'sci_tesearch' role,#{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earned_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earned_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earned_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earned_Points END) AS forthPoints
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
        <!--这里加上4是为了同意之后可以取消-->
       where s.state in (2,4)
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!--where s.state in (2,4,1,3,12)-->
        OR (
        s.state in (2,4,1,3,12)
        and
        (
        s.user_id = #{uid}
        OR s.first_person_id = #{uid}
        OR s.second_person_id = #{uid}
        OR s.third_person_id = #{uid}
        OR s.fourth_person_id = #{uid}
        )
        )

        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->


        <!-- 数据范围过滤 -->
        <!--${params.dataScope}-->
        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB

        order  by createtime desc
    </select>
<!--    教研室的立项申请：有所有的申请-->
    <select id="sel_IntraSchPro_approval_jy" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'research' role,#{uid} uid,(SELECT dept_name FROM sys_dept WHERE dept_id=(SELECT dept_id from sys_user WHERE user_id=#{uid}))=d.dept_name deptNamekey, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS forthPoints
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
        /*todo:这里之前只是1，3为了查到负责人包含自己的，该成了1,2,3,4,5,之后在前端判断一下这个项目的状态，然后加一个按钮可以查看详情*/
        where s.state in (1,11)
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!--where s.state in (1,11,2,3,4,12)-->
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        or (
        s.state in (1,11,2,3,4,12)
        and
        (
        s.user_id = #{uid}
        OR s.first_person_id = #{uid}
        OR s.second_person_id = #{uid}
        OR s.third_person_id = #{uid}
        OR s.fourth_person_id = #{uid}
        )
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        )
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        OR(
        s.state = 15 and s.user_id = #{uid}
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        )
        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB
        order  by createtime desc
    </select>
    <select id="sel_IntraSchPro_approval_my" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        SELECT
        'teacher' AS role,
        #{uid} AS uid,
        (SELECT dept_name
        FROM sys_dept
        WHERE dept_id = (SELECT dept_id FROM sys_user WHERE user_id = #{uid})) AS deptNamekey,
        s.id,
        u.user_name AS userName,
        d.dept_name AS dname,
        p.dept_name AS yname,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万') AS amount,
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earned_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earned_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earned_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earned_Points END) AS forthPoints
        FROM
        sci_IntraSchPro_apply s
        LEFT JOIN sys_user u ON s.user_id = u.user_id
        LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
        LEFT JOIN sys_dept p ON d.parent_id = p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
        WHERE
        s.state IN (1, 2,3,4,5,11,12,15) and s.user_id = #{uid}
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        OR (
        s.state IN (1, 11, 2, 3, 4, 12,5,15)
        AND (
        s.user_id = #{uid}
        OR s.first_person_id = #{uid}
        OR s.second_person_id = #{uid}
        OR s.third_person_id = #{uid}
        OR s.fourth_person_id = #{uid}
        )
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        )

        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB
        <!-- 数据范围过滤 -->
        /*${params.dataScope}*/
        order  by createtime desc
    </select>



    <select id="sel_IntraSchPro_closure_ky" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'sci_tesearch' role,#{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS forthPoints
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
<!--         这个6是为了通过之后可以撤回-->
--         ,7,9,10,14
        where s.state in (6,8)
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
      <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        OR (
        s.state in (6,8,7,9,10,14,16)
        and
        (
        s.user_id = #{uid}
        OR s.first_person_id = #{uid}
        OR s.second_person_id = #{uid}
        OR s.third_person_id = #{uid}
        OR s.fourth_person_id = #{uid}
        )
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        )
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->


        <!-- 数据范围过滤 -->
        <!--${params.dataScope}-->
        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB
        order  by createtime desc
    </select>
    <select id="sel_IntraSchPro_closure_jy" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'research' role,#{uid} uid,(SELECT dept_name FROM sys_dept WHERE dept_id=(SELECT dept_id from sys_user WHERE user_id=#{uid}))=d.dept_name deptNamekey, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS forthPoints
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
--         ,8,9,10,14
        where s.state in (7,13)
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        OR (
        s.state in (7,13,8,9,10,14,16)
        and
        (
        s.user_id = #{uid}
        OR s.first_person_id = #{uid}
        OR s.second_person_id = #{uid}
        OR s.third_person_id = #{uid}
        OR s.fourth_person_id = #{uid}
        )
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        )
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->

        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB

        order  by createtime desc
    </select>
    <select id="sel_IntraSchPro_closure_my" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'teacher' role,#{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS forthPoints
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
        where s.state in (8,10,7,9,13,14,6)
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        AND (
        s.user_id = #{uid}
        OR s.first_person_id = #{uid}
        OR s.second_person_id = #{uid}
        OR s.third_person_id = #{uid}
        OR s.fourth_person_id = #{uid}
        )
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->


        <!-- 数据范围过滤 -->
        /*${params.dataScope}*/
        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB
        order  by createtime desc
    </select>


    <insert id="insert_SchPro_Apply" parameterType="SciIntraSchoolPro" useGeneratedKeys="true" keyProperty="id">
        insert into sci_IntraSchPro_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="topName != null and topName != ''">top_name,</if>
            <if test="topType != null and topType != ''">top_type,</if>
            <if test="signingData != null and signingData != ''">signing_data,</if>
            <if test="validityDate != null and validityDate != ''">validity_Date,</if>
            <if test="firstPersonId != null and firstPersonId != ''">first_person_id,</if>
            <if test="secondPersonId != null and secondPersonId != ''">second_person_id,</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">third_person_id,</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">fourth_person_id,</if>
            <if test="amount != null and amount != ''">amount,</if>
            <if test="pa != null and pa != ''">pa,</if>
            <if test="pb != null and pb != ''">pb,</if>
            <if test="contract != null and contract != ''">contract,</if>
            <if test="filing != null and filing != ''">filing,</if>
            <if test="state != null and state != ''">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="topName != null and topName != ''">#{topName},</if>
            <if test="topType != null and topType != ''">#{topType},</if>

            <if test="signingData != null and signingData != ''">#{signingData},</if>
            <if test="validityDate != null and validityDate != ''">#{validityDate},</if>
            <if test="firstPersonId != null and firstPersonId != ''">#{firstPersonId},</if>
            <if test="secondPersonId != null and secondPersonId != ''">#{secondPersonId},</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">#{thirdPersonId},</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">#{fourthPersonId},</if>
            <if test="amount != null and amount != ''">#{amount},</if>
            <if test="pa != null and pa != ''">#{pa},</if>
            <if test="pb != null and pb != ''">#{pb},</if>
            <if test="contract != null and contract != ''">#{contract},</if>
            <if test="filing != null and filing != ''">#{filing},</if>
            <if test="state != null and state != ''">#{state},</if>
        </trim>
    </insert>

    <select id="sel_IntraSchPro_by_id" parameterType="Integer" resultMap="SciIntraSchoolProResult">
        select s.PA,s.PB,s.id,u.user_name userName, d.dept_name dname,s.user_id, s.top_name, s.top_type,  s.signing_data, s.validity_Date,s.createtime, s.over_contract,s.over_filing,s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,  s.amount, amount, s.contract, s.filing, s.state
        from sci_IntraSchPro_apply s
            left join sys_user u on  s.user_id=u.user_id
            left join sys_dept d on u.dept_id = d.dept_id
        where s.id = #{id}

    </select>
    <select id="getuser_dnameById" parameterType="java.lang.Long" >
        SELECT dept_name from sys_dept WHERE dept_id=(SELECT dept_id from sys_user WHERE user_id=#{id})
    </select>

    <update id="sch_hxPass" >
        update sci_IntraSchPro_apply set state = #{state} where id = #{id}
    </update>

    <update id="updateIntraSchoolApply" parameterType="SciIntraSchoolPro">
        update sci_IntraSchPro_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="topName != null and topName != ''">top_name = #{topName},</if>
            <if test="topType != null and topType != ''">top_type = #{topType},</if>

            <if test="pa != null and pa != ''">PA = #{pa},</if>
            <if test="pb != null and pb != ''">PA = #{pb},</if>
            <if test="signingData != null and signingData != ''">signing_data = #{signingData},</if>
            <if test="validityDate != null and validityDate != ''">validity_Date = #{validityDate},</if>
            <if test="firstPersonId != null and firstPersonId != ''">first_person_id = #{firstPersonId},</if>
            <if test="secondPersonId != null and secondPersonId != ''">second_person_id = #{secondPersonId},</if>
            <if test="thirdPersonId != null and thirdPersonId != ''">third_person_id = #{thirdPersonId},</if>
            <if test="fourthPersonId != null and fourthPersonId != ''">fourth_person_id = #{fourthPersonId},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="contract != null and contract != ''">contract = #{contract},</if>
            <if test="filing != null and filing != ''">filing = #{filing},</if>
            <if test="state != null and state != ''">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="overApply" >
        update sci_IntraSchPro_apply set state = #{state} where id = #{id}
    </update>

    <update id="update_IntraSchPro_OverApply" parameterType="SciIntraSchoolPro">
        update sci_IntraSchPro_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="overFiling != null and overFiling != ''">over_filing = #{overFiling},</if>
            <if test="overContract != null and overContract != ''">over_contract = #{overContract},</if>
            <if test="validityDate != null and validityDate != ''">validity_Date = #{validityDate},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="sch_hxover" >
        update sci_IntraSchPro_over set state = #{state} where appid = #{id}
    </update>

    <!--admin登陆查看所有的完结校内横向-->
    <select id="sel_IntraSchPro_isOVER_admin" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        #{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state =6
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
      <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>

        <!-- 数据范围过滤 -->
        order  by createtime desc

    </select>

    <!--admin登陆查看处于开题流程的项目-->
    <select id="sel_IntraSchPro_approval_admin" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'admin' role,#{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (1,2,3,4,5)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
      <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>

        <!-- 数据范围过滤 -->
        order  by createtime desc

    </select>

    <!--admin登陆查看处于结题流程的项目-->
    <select id="sel_IntraSchPro_closure_admin" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'admin' role,#{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (7,8,9,10)
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
      <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>

        order  by createtime desc

    </select>


    <select id="getRoleid_list" resultType="java.lang.Long">
        SELECT role_id from sys_user_role WHERE user_id=#{userId}
    </select>


    <select id="sel_IntraSchPro_approval_dept_teacher" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'dept_teacher' role,#{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state in (11,2) and d.dept_name in (SELECT dept_name from sys_dept where parent_id = (SELECT parent_id from sys_dept WHERE dept_id=(SELECT dept_id from sys_user WHERE user_id= #{uid})))
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
        <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!--where s.state in (11,2,1,3,4,12)-->
        <!-- 数据范围过滤 -->
      <!--${params.dataScope}-->
      or (
      s.user_id = #{uid}
      OR s.first_person_id = #{uid}
      OR s.second_person_id = #{uid}
      OR s.third_person_id = #{uid}
      OR s.fourth_person_id = #{uid}
      )
      <!--            <if test="userId != null "> and user_id = #{userId}</if>-->



        order  by createtime desc
    </select>

    <select id="sel_IntraSchPro_closure_dept_teacher" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'dept_teacher' role,#{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB,
        MAX(CASE WHEN s.first_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS firstPoints,
        MAX(CASE WHEN s.second_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS secondPoints,
        MAX(CASE WHEN s.third_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS thirdPoints,
        MAX(CASE WHEN s.fourth_person_id = sc.userid AND s.id = sc.sciIntraSch_Id THEN sc.earnedJT_Points END) AS forthPoints
        from sci_IntraSchPro_apply s left join sys_user u on  s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        LEFT JOIN sci_IntraSchPro_score sc ON sc.sciIntraSch_Id = s.id
        where s.state in (13,8) and d.dept_name in (SELECT dept_name from sys_dept where parent_id = (SELECT parent_id from sys_dept WHERE dept_id=(SELECT dept_id from sys_user WHERE user_id= #{uid})))

      <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>
      <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!--        <if test="year != null  and year != ''"> and YEAR(signing_data) = #{year}</if>-->
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(signing_data,INTERVAL 1 MONTH)) = #{year}</if>
        <!-- 数据范围过滤 -->
      <!--${params.dataScope}-->
      OR (
      (
      s.user_id = #{uid}
      OR s.first_person_id = #{uid}
      OR s.second_person_id = #{uid}
      OR s.third_person_id = #{uid}
      OR s.fourth_person_id = #{uid}
      )and s.state IN ( 13, 8 )
      )
      <!--            <if test="userId != null "> and user_id = #{userId}</if>-->

        GROUP BY
        s.id,
        u.user_name,
        d.dept_name,
        p.dept_name,
        s.user_id,
        s.top_name,
        s.top_type,
        s.signing_data,
        s.validity_Date,
        s.first_person_id,
        s.second_person_id,
        s.third_person_id,
        s.fourth_person_id,
        CONCAT(s.amount, '万'),
        s.contract,
        s.filing,
        s.state,
        s.PA,
        s.PB
        order  by createtime desc
    </select>

    <select id="sel_IntraSchPro_isOVER_dept_teacher" parameterType="SciIntraSchoolPro" resultMap="SciIntraSchoolProResult">
        select
        'dept_teacher' role ,#{uid} uid, s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.top_name, s.top_type,
        s.signing_data, s.validity_Date, s.first_person_id,  s.second_person_id, s.third_person_id, fourth_person_id,
        concat( s.amount,'万') amount, s.contract, s.filing, s.state ,s.PA ,s.PB
        from sci_IntraSchPro_apply s
        left join sys_user u on s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        where s.state = 6
        <!--            <if test="userId != null "> and user_id = #{userId}</if>-->
        <if test="topName != null  and topName != ''"> and top_name like concat('%', #{topName}, '%')</if>

        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
        <if test="dname != null  and dname != ''"> and d.dept_name like concat('%', #{dname}, '%')</if>
        <if test="state != null  and state != ''"> and state = #{state}</if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order  by createtime desc
    </select>

    <delete id="deleteSciSCHHorizontalApplyByIds" parameterType="String">
        delete from sci_IntraSchPro_apply where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="geStaticById" parameterType="SciIntraSchoolPro" >
        SELECT state from sci_IntraSchPro_apply WHERE id=#{id}

    </select>


    <select id="getfilekey" parameterType="java.util.HashMap" >
        SELECT
            d2.dept_name 'parent',
            d.dept_name 'BePartOf',
            u.user_name 'name'
        FROM
            sys_user u,
            sys_dept d
                LEFT JOIN sys_dept d2 ON d.parent_id = d2.dept_id
        WHERE
            u.dept_id = d.dept_id AND u.user_id = #{userId}

    </select>

  <select id="getAllOverSchProToAlltotle" parameterType="java.util.HashMap" >
    select
      id,
      first_person_id ,
      second_person_id ,
      third_person_id ,
      fourth_person_id ,
      amount
    from
      sci_IntraSchPro_apply
    where
      state = 6
  </select>
</mapper>
