<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciJiaocairuanzhuScoreCfgMapper">

    <resultMap type="SciJiaocairuanzhuScoreCfg" id="SciJiaocairuanzhuScoreCfgResult">
        <result property="id"    column="id"    />
        <result property="fenLei"    column="fen_lei"    />
        <result property="paiMing"    column="pai_ming"    />
        <result property="totalScore"    column="total_score"    />

    </resultMap>

    <sql id="selectSciJiaocairuanzhuScoreCfgVo">
        select id, fen_lei, pai_ming, total_score from sci_jiaocairuanzhu_score_cfg
    </sql>

    <select id="selectSciJiaocairuanzhuScoreCfgList" parameterType="SciJiaocairuanzhuScoreCfg" resultMap="SciJiaocairuanzhuScoreCfgResult">
        <include refid="selectSciJiaocairuanzhuScoreCfgVo"/>
        <where>
            <if test="fenLei != null  and fenLei != ''"> and fen_lei like concat('%', #{fenLei}, '%')</if>
            <if test="paiMing != null  and paiMing != ''"> and pai_ming = #{paiMing}</if>
            <if test="totalScore != null  and totalScore != ''"> and total_score = #{totalScore}</if>

        </where>
    </select>

    <select id="selectSciJiaocairuanzhuScoreCfgById" parameterType="Long" resultMap="SciJiaocairuanzhuScoreCfgResult">
        <include refid="selectSciJiaocairuanzhuScoreCfgVo"/>
        where id = #{id}
    </select>

    <insert id="insertSciJiaocairuanzhuScoreCfg" parameterType="SciJiaocairuanzhuScoreCfg" useGeneratedKeys="true" keyProperty="id">
        insert into sci_jiaocairuanzhu_score_cfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fenLei != null and fenLei != ''">fen_lei,</if>
            <if test="paiMing != null and paiMing != ''">pai_ming,</if>
            <if test="totalScore != null and totalScore != ''">total_score,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fenLei != null and fenLei != ''">#{fenLei},</if>
            <if test="paiMing != null and paiMing != ''">#{paiMing},</if>
            <if test="totalScore != null and totalScore != ''">#{totalScore},</if>

        </trim>
    </insert>

    <update id="updateSciJiaocairuanzhuScoreCfg" parameterType="SciJiaocairuanzhuScoreCfg">
        update sci_jiaocairuanzhu_score_cfg
        <trim prefix="SET" suffixOverrides=",">
            <if test="fenLei != null and fenLei != ''">fen_lei = #{fenLei},</if>
            <if test="paiMing != null and paiMing != ''">pai_ming = #{paiMing},</if>
            <if test="totalScore != null and totalScore != ''">total_score = #{totalScore},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSciJiaocairuanzhuScoreCfgById" parameterType="Long">
        delete from sci_jiaocairuanzhu_score_cfg where id = #{id}
    </delete>

    <delete id="deleteSciJiaocairuanzhuScoreCfgByIds" parameterType="String">
        delete from sci_jiaocairuanzhu_score_cfg where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>