<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.SciJYSKYMapper">
    <select id="selectKYGZLJYS" parameterType="long">
        select * from Alltotle_score   where deptId=#{deptId}
    </select>

    <select id="selectKYGZLXY" parameterType="long">
        SELECT
            partenName ,
            deptName ,
            SUM(hxkt) AS hxkt,
            SUM(zxktxj) AS zxktxj,
            SUM(zxktxjys) AS zxktxjys,
            SUM(cgzh) AS cgzh,
            SUM(xslw) AS xslw,
            SUM(jczz) AS jczz,
            SUM(zlrz) AS zlrz,
            SUM(jl) AS jl,
            SUM(jzbg) AS jzbg
        FROM Alltotle_score
        where partenId = #{parentId}
        GROUP BY deptName,partenName
    </select>
</mapper>