<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.SciJYSKYMapper">
    <select id="selectJYSKY" parameterType="long">
        SELECT
            d.dept_name AS "教研室",
            u.user_name AS "教师",
            COALESCE(SUM(CASE WHEN h_apply.id IS NOT NULL THEN h_score.change_value ELSE 0 END), 0) AS "横向课题科研项目",
            COALESCE(SUM(CASE WHEN v_apply_top.id IS NOT NULL AND v_apply_top.top_type NOT IN (6, 7) THEN v_score_top.change_value ELSE 0 END), 0) AS "纵向课题科研项目-校级以上",
            COALESCE(SUM(CASE WHEN v_apply_school.id IS NOT NULL AND v_apply_school.top_type IN (6, 7) THEN v_score_school.change_value ELSE 0 END), 0) AS "纵向课题科研项目-校级",
            COALESCE(report.report_score, 0) AS "讲座报告积分",
            COALESCE(rewards.reward_score, 0) AS "奖励积分",
            COALESCE(patent.patent_score, 0) AS "专利积分",
            COALESCE(software.software_score, 0) AS "软著积分",
            COALESCE(conversion.conversion_score, 0) AS "成果转化积分",
            COALESCE(SUM(jr.jifen), 0) AS "教材软著积分",
            COALESCE(paper_score.total_research_score, 0) AS "论文积分"
        FROM
            sys_user u
                JOIN
            sys_dept d ON d.dept_id = u.dept_id
                -- 横向课题科研项目连接
                LEFT JOIN
            sci_user_score_history h_score
                JOIN
            sci_horizontal_apply h_apply ON h_score.apply_id = h_apply.id
            ON
                u.user_id = h_apply.user_id
                -- 纵向课题科研项目-校级以上连接
                LEFT JOIN
            sci_user_score_vertical v_score_top
                JOIN
            sci_horizontal_apply_vertical v_apply_top ON v_score_top.vertical_id = v_apply_top.id AND v_apply_top.top_type NOT IN (6, 7)
            ON
                u.user_id = v_apply_top.user_id
                -- 纵向课题科研项目-校级连接
                LEFT JOIN
            sci_user_score_vertical v_score_school
                JOIN
            sci_horizontal_apply_vertical v_apply_school ON v_score_school.vertical_id = v_apply_school.id AND v_apply_school.top_type IN (6, 7)
            ON
                u.user_id = v_apply_school.user_id
                -- 讲座报告积分子查询连接
                LEFT JOIN (
                SELECT
                    s.user_id,
                    SUM(s.report_keyanfen) AS report_score
                FROM
                    sci_lecture_report s
                GROUP BY
                    s.user_id
            ) report ON u.user_id = report.user_id
                -- 奖励积分子查询连接
                LEFT JOIN (
                SELECT
                    r.user_id,
                    SUM(r.jifen) AS reward_score
                FROM
                    sys_reward r
                WHERE
                    r.state = 6
                GROUP BY
                    r.user_id
            ) rewards ON u.user_id = rewards.user_id
                -- 专利积分子查询连接
                LEFT JOIN (
                SELECT
                    su.user_id,
                    SUM(CASE WHEN sz.fenlei IN (1, 2, 3) THEN sz.jifen ELSE 0 END) AS patent_score
                FROM (
                         SELECT
                             sz1.*
                         FROM sci_zhuanliruanzhu sz1
                                  INNER JOIN (
                             SELECT
                                 mingcheng,
                                 MIN(paiming) AS min_paiming
                             FROM sci_zhuanliruanzhu
                             WHERE state = 6
                             GROUP BY mingcheng
                         ) sz2
                                             ON sz1.mingcheng = sz2.mingcheng AND sz1.paiming = sz2.min_paiming
                     ) sz
                         INNER JOIN sys_user su ON sz.user_id = su.user_id
                GROUP BY
                    su.user_id
            ) patent ON u.user_id = patent.user_id
                -- 软著积分子查询连接
                LEFT JOIN (
                SELECT
                    su.user_id,
                    SUM(CASE WHEN sz.fenlei = 4 THEN sz.jifen ELSE 0 END) AS software_score
                FROM (
                         SELECT
                             sz1.*
                         FROM sci_zhuanliruanzhu sz1
                                  INNER JOIN (
                             SELECT
                                 mingcheng,
                                 MIN(paiming) AS min_paiming
                             FROM sci_zhuanliruanzhu
                             WHERE state = 6
                             GROUP BY mingcheng
                         ) sz2
                                             ON sz1.mingcheng = sz2.mingcheng AND sz1.paiming = sz2.min_paiming
                     ) sz
                         INNER JOIN sys_user su ON sz.user_id = su.user_id
                GROUP BY
                    su.user_id
            ) software ON u.user_id = software.user_id
                -- 成果转化积分子查询连接
                LEFT JOIN (
                SELECT
                    u1.user_id,
                    SUM(sub.allsc) AS conversion_score
                FROM (
                         SELECT
                             u.user_id,
                             u.user_name username,
                             sc.earnedALL_Points allsc,
                             d.dept_name dname,
                             d2.dept_name pardname
                         FROM
                             sci_IntraSchPro_score sc
                                 LEFT JOIN sci_IntraSchPro_apply ap ON ap.id = sc.sciIntraSch_Id
                                 LEFT JOIN sys_user u ON u.user_id = ap.user_id
                                 LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
                                 LEFT JOIN sys_dept d2 ON d2.dept_id = d.parent_id
                         WHERE 1
                     ) sub
                         INNER JOIN sys_user u1 ON sub.user_id = u1.user_id
                GROUP BY
                    u1.user_id
            ) conversion ON u.user_id = conversion.user_id
                -- 教材软著连接
                LEFT JOIN
            sci_jiaocairuanzhu jr ON u.user_id = jr.user_id
                -- 论文积分子查询连接
                LEFT JOIN (
                SELECT
                    u.user_id,
                    SUM(p.research_score) AS total_research_score
                FROM
                    sci_paper_a p
                        LEFT JOIN sys_user u ON p.user_id = u.user_id
                WHERE
                    p.state = 8
                GROUP BY
                    u.user_id
            ) paper_score ON u.user_id = paper_score.user_id
        WHERE
            d.dept_id = #{deptId}
        GROUP BY
            d.dept_name,
            u.user_name,
            report.report_score,
            rewards.reward_score,
            patent.patent_score,
            software.software_score,
            conversion.conversion_score,
            jr.jifen,
            paper_score.total_research_score;
    </select>
</mapper>