<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciLectureReportMapper">

    <resultMap type="SciLectureReport" id="SciLectureReportResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="xueyuan" column="dept_name"/>
        <result property="keyanshi" column="dname"/>
        <result property="jobId" column="login_name"/>
        <result property="teacherName" column="userName"/>
        <result property="reportTime" column="report_time"/>
        <result property="reportEndTime" column="report_end_time"/>
        <result property="reportTheme" column="report_theme"/>
        <result property="hostUnit" column="host_unit"/>
        <result property="reportPlace" column="report_place"/>
        <result property="reportNumber" column="report_number"/>
        <result property="reportSubject" column="report_subject"/>
        <result property="reportDuration" column="report_duration"/>
        <result property="reportClassify" column="report_classify"/>
        <result property="reportKeyanfen" column="reportKeyanfen"/>
        <result property="reportUrl" column="report_url"/>
        <!--        <result property="actualTime"    column="actual_time"    />-->
        <result property="state" column="state"/>
        <result property="repIntId" column="rep_int_id"/>
        <!-- 新增字段映射 -->
        <result property="classificationName" column="classification_name"/>
        <result property="integralValue" column="integral_value"/>
    </resultMap>

    <sql id="selectSciLectureReportVo">
        select #{uid}           uid,
               id,
               u.user_name      userName,
               u.login_name,
               d.dept_name      dname,
               u.user_id,
               p.dept_name,
               s.report_time,
               s.report_end_time,
               s.report_theme,
               s.host_unit,
               s.report_place,
               s.report_number,
               s.report_subject,
               s.report_duration,
               s.report_classify,
               coalesce(i.classification, s.report_classify) classification_name,
               s.state,
               s.createtime,
               s.report_url,
               CASE WHEN s.state = 'LECTURE_PASSED' THEN coalesce(i.integral, '0') ELSE '0' END reportKeyanfen,
               CASE WHEN s.state = 'LECTURE_PASSED' THEN coalesce(i.integral, '0') ELSE '0' END integral_value,
               i.rep_int_id
        from sci_lecture_report s
                 left join sys_user u on s.user_id = u.user_id
                 left join sys_dept d on u.dept_id = d.dept_id
                 left join sys_dept p on d.parent_id = p.dept_id
                 left join sci_lecture_report_integral i on i.rep_int_id = CAST(s.report_classify AS UNSIGNED)
    </sql>

    <!--    讲座报告首页项目申请数据查询       原始SQL -->
    <!--    <select id="selectSciLectureReportList" parameterType="SciLectureReport" resultMap="SciLectureReportResult">-->
    <!--        <include refid="selectSciLectureReportVo"/>-->
    <!--        where 1=1-->
    <!--            <if test="reportTheme != null  and reportTheme != ''"> and report_theme like concat('%', #{reportTheme}, '%')</if>-->
    <!--            <if test="hostUnit != null  and hostUnit != ''"> and host_unit like concat('%', #{hostUnit}, '%')</if>-->
    <!--            <if test="reportPlace != null  and reportPlace != ''"> and report_place like concat('%', #{reportPlace}, '%')</if>-->
    <!--            <if test="userId != null and userId != ''">and user_id = #{userId}</if>-->
    <!--            <if test="year != null  and year != ''"> and YEAR(report_time) = #{year}</if>-->
    <!--        &lt;!&ndash; 数据范围过滤 &ndash;&gt;-->
    <!--        ${params.dataScope}-->
    <!--        order  by createtime desc-->
    <!--    </select>-->

    <!--    讲座报告首页项目申请数据查询-->
    <select id="selectSciLectureReportList" parameterType="SciLectureReport" resultMap="SciLectureReportResult">
        <include refid="selectSciLectureReportVo"/>
        where 1=1
        <if test="reportTheme != null  and reportTheme != ''">and report_theme like concat('%', #{reportTheme}, '%')
        </if>
        <if test="keyanshi != null  and keyanshi != ''">and d.dept_name like concat('%', #{keyanshi}, '%')</if>
        <if test="teacherName != null  and teacherName != ''">and u.user_name like concat('%', #{teacherName}, '%')</if>
        <if test="hostUnit != null  and hostUnit != ''">and host_unit like concat('%', #{hostUnit}, '%')</if>
        <if test="reportPlace != null  and reportPlace != ''">and report_place like concat('%', #{reportPlace}, '%')</if>
        <if test="reportSubject != null  and reportSubject != ''">and report_subject like concat('%', #{reportSubject}, '%')</if>
        <if test="reportClassify != null  and reportClassify != ''">and report_classify = #{reportClassify}</if>
        <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        <if test="year != null  and year != ''">and YEAR(DATE_ADD(report_time,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="statelist != null and statelist.size() > 0">and CAST(s.state AS UNSIGNED) in <foreach item="item" collection="statelist" open="(" separator="," close=")">#{item}</foreach></if>
        ${params.dataScope}
        <!-- 没有搜索条件时执行 -->
        <if test="uid != null and uid != '' and year != null  and year != ''
          and (reportTheme == null or reportTheme == '')
          and (keyanshi == null or keyanshi == '')
          and (teacherName == null or teacherName == '')
          and (hostUnit == null or hostUnit == '')
          and (reportPlace == null or reportPlace == '')
          and (reportSubject == null or reportSubject == '')
          and (reportClassify == null or reportClassify == '')">
            or (s.user_id = #{uid} and YEAR(DATE_ADD(report_time,INTERVAL 1 MONTH)) = #{year}
            <if test="statelist != null and statelist.size() > 0">and CAST(s.state AS UNSIGNED) in <foreach item="item" collection="statelist" open="(" separator="," close=")">#{item}</foreach></if>
            )
        </if>
        <!-- 有搜索条件时执行 -->
        <if test="uid != null and uid != '' and year != null  and year != ''
          and (reportTheme != null and reportTheme != ''
          or keyanshi != null and keyanshi != ''
          or teacherName != null and teacherName != ''
          or hostUnit != null and hostUnit != ''
          or reportPlace != null and reportPlace != ''
          or reportSubject != null and reportSubject != ''
          or reportClassify != null and reportClassify != '')">
            or (
            s.user_id = #{uid} and YEAR(DATE_ADD(report_time,INTERVAL 1 MONTH)) = #{year}
            <if test="reportTheme != null and reportTheme != ''">
                and report_theme like concat('%', #{reportTheme}, '%')
            </if>
            <if test="keyanshi != null and keyanshi != ''">
                and d.dept_name like concat('%', #{keyanshi}, '%')
            </if>
            <if test="teacherName != null and teacherName != ''">
                and u.user_name like concat('%', #{teacherName}, '%')
            </if>
            <if test="hostUnit != null and hostUnit != ''">
                and host_unit like concat('%', #{hostUnit}, '%')
            </if>
            <if test="reportPlace != null and reportPlace != ''">
                and report_place like concat('%', #{reportPlace}, '%')
            </if>
            <if test="reportSubject != null and reportSubject != ''">
                and report_subject like concat('%', #{reportSubject}, '%')
            </if>
            <if test="reportClassify != null and reportClassify != ''">
                and report_classify = #{reportClassify}
            </if>
            <if test="statelist != null and statelist.size() > 0">
                and CAST(s.state AS UNSIGNED) in <foreach item="item" collection="statelist" open="(" separator="," close=")">#{item}</foreach>
            </if>
            )
        </if>
        order by
        CASE
        <if test="uid != null and uid != ''">
            WHEN s.user_id = #{uid} AND CAST(state AS UNSIGNED) IN (3, 5, 7) THEN 0
            ELSE 1
        </if>
        <if test="uid == null or uid == ''">
            WHEN 1=1 THEN 1
        </if>
        END,
        CASE
        WHEN CAST(state AS UNSIGNED) = 1 THEN 2
        WHEN CAST(state AS UNSIGNED) = 6 THEN 3
        WHEN CAST(state AS UNSIGNED) = 2 THEN 4

        WHEN CAST(state AS UNSIGNED) = 5 THEN 5
        WHEN CAST(state AS UNSIGNED) = 7 THEN 6
        WHEN CAST(state AS UNSIGNED) = 3 THEN 7

        WHEN CAST(state AS UNSIGNED) = 4 THEN 8
        END,
        createtime desc
    </select>

    <!--    <select id="selectSciLectureReportListBy" parameterType="SciLectureReport" resultMap="SciLectureReportResult">-->
    <!--        select * from (-->
    <!--        <include refid="selectSciLectureReportVo"/>-->
    <!--        where state in <foreach item="item" collection="statelist" open="(" separator="," close=")">#{item}</foreach>-->
    <!--        <if test="reportTheme != null  and reportTheme != ''"> and report_theme like concat('%', #{reportTheme}, '%')</if>-->
    <!--        <if test="hostUnit != null  and hostUnit != ''"> and host_unit like concat('%', #{hostUnit}, '%')</if>-->
    <!--        <if test="reportPlace != null  and reportPlace != ''"> and report_place like concat('%', #{reportPlace}, '%')</if>-->
    <!--        <if test="userId != null and userId != ''">and user_id = #{userId}</if>-->
    <!--        <if test="year != null  and year != ''"> and YEAR(report_time) = #{year}</if>) report-->

    <!--        <where>-->
    <!--        <if test="state != null and state !='' and uid != null and uid != ''">-->
    <!--            and (-->
    <!--            state != #{state}-->
    <!--            or (state = #{state}and user_id != #{uid})-->
    <!--            )</if>-->
    <!--        </where>-->
    <!--        &lt;!&ndash; 数据范围过滤 &ndash;&gt;-->
    <!--        ${params.dataScope}-->
    <!--        order  by createtime desc-->
    <!--    </select>-->

    <!--    根据用户选择性导出数据-->
    <select id="selectSciLectureReportListByIds" parameterType="String" resultMap="SciLectureReportResult">
        select id,u.user_name userName,u.login_name,d.dept_name dname,u.user_id,p.dept_name, s.report_time,
        s.report_end_time, s.report_theme, s.host_unit, s.report_place, s.report_number, s.report_subject,
        s.report_duration, coalesce(i.classification, s.report_classify) report_classify,
        s.state,s.createtime,s.report_url,coalesce(i.integral, '0') report_keyanfen,i.integral integral_value,i.rep_int_id
        from sci_lecture_report s left join sys_user u on s.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept p on d.parent_id =p.dept_id
        left join sci_lecture_report_integral i on i.rep_int_id = CAST(s.report_classify AS UNSIGNED)
        <where>
            id in
            <foreach item="item" collection="array" open="(" separator="," close=")">#{item}</foreach>
        </where>
    </select>

    <!--    讲座报告数据  修改查询语句-->
    <select id="selectSciLectureReportById" parameterType="Integer" resultMap="SciLectureReportResult">
        <include refid="selectSciLectureReportVo"/>
        where id = #{id}
    </select>

    <!--    新增一条数据（讲座报告）-->
    <insert id="insertSciLectureReport" parameterType="SciLectureReport" useGeneratedKeys="true" keyProperty="id">
        insert into sci_lecture_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>

            <if test="reportTime != null and reportTime != ''">report_time,</if>
            <if test="reportEndTime != null and reportEndTime != ''">report_end_time,</if>
            <if test="reportTheme != null">report_theme,</if>
            <if test="hostUnit != null and hostUnit != ''">host_unit,</if>
            <if test="reportPlace != null and reportPlace != ''">report_place,</if>
            <if test="reportNumber != null">report_number,</if>
            <if test="reportSubject != null and reportSubject != ''">report_subject,</if>
            <if test="reportDuration != null">report_duration,</if>
            <if test="reportClassify != null">report_classify,</if>
            <if test="reportKeyanfen != null">report_keyanfen,</if>
            <if test="reportUrl != null">report_url,</if>
            <if test="state != null">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>

            <if test="reportTime != null and reportTime != ''">#{reportTime},</if>
            <if test="reportEndTime != null and reportEndTime != ''">#{reportEndTime},</if>
            <if test="reportTheme != null">#{reportTheme},</if>
            <if test="hostUnit != null and hostUnit != ''">#{hostUnit},</if>
            <if test="reportPlace != null and reportPlace != ''">#{reportPlace},</if>
            <if test="reportNumber != null">#{reportNumber},</if>
            <if test="reportSubject != null and reportSubject != ''">#{reportSubject},</if>
            <if test="reportDuration != null">#{reportDuration},</if>
            <if test="reportClassify != null">#{reportClassify},</if>
            <if test="reportKeyanfen != null">#{reportKeyanfen},</if>
            <if test="reportUrl != null">#{reportUrl},</if>
            <if test="state != null">#{state},</if>
        </trim>
    </insert>

    <select id="checkConflict" parameterType="SciLectureReport" resultType="Integer">
        SELECT COUNT(*)
        FROM sci_lecture_report
        WHERE host_unit = #{hostUnit}
        AND report_place = #{reportPlace}
        AND (
        (#{reportTime} &gt;= report_time AND #{reportTime} &lt; report_end_time)
        OR
        (#{reportEndTime} &gt; report_time AND #{reportEndTime} &lt;= report_end_time)
        OR
        (report_time &gt;= #{reportTime} AND report_end_time &lt;= #{reportEndTime})
        OR
        (#{reportTime} &gt;= report_time AND #{reportEndTime} &lt;= report_end_time)
        )
        <!-- 排除自身（如果是更新操作） -->
        <if test="id != null and id != ''">
            AND id != #{id}
        </if>
    </select>

    <!--    修改保存讲座报告的语句-->
    <update id="updateSciLectureReport" parameterType="SciLectureReport">
        update sci_lecture_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="reportTime != null and reportTime != ''">report_time = #{reportTime},</if>
            <if test="reportTheme != null">report_theme = #{reportTheme},</if>
            <if test="hostUnit != null and hostUnit != ''">host_unit = #{hostUnit},</if>
            <if test="reportPlace != null and reportPlace != ''">report_place = #{reportPlace},</if>
            <if test="reportNumber != null">report_number = #{reportNumber},</if>
            <if test="reportSubject != null and reportSubject != ''">report_subject = #{reportSubject},</if>
            <if test="reportDuration != null">report_duration = #{reportDuration},</if>
            <if test="reportClassify != null">report_classify = #{reportClassify},</if>
            <if test="reportKeyanfen != null">report_keyanfen = #{reportKeyanfen},</if>
            <if test="reportUrl != null">report_url = #{reportUrl},</if>
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <!--    结项申请的保存-->
    <update id="SciLectureReportOverAdd" parameterType="SciLectureReport">
        update sci_lecture_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null and state != '4'">state = #{state},</if>
            <if test="actualNumber != null">actual_number = #{actualNumber},</if>
            <if test="actualTime != null">actual_time = #{actualTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!--    通过批阅修改讲座报告的状态-->
    <update id="criticism" parameterType="SciLectureReport">
        update sci_lecture_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <!--    科研室审核通过时修改讲座报告的科研分-->
    <update id="reportKeyanfen" parameterType="SciLectureReport">
        update sci_lecture_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="keyanfen != null">report_keyanfen = #{keyanfen},</if>
        </trim>
        where id = #{id}
    </update>

    <!--    删除一条数据-->
    <delete id="deleteSciLectureReportById" parameterType="Integer">
        delete
        from sci_lecture_report_opinion
        where id in (select id from sci_lecture_report_opinion where baogao_id = #{id})
        delete
        from sci_lecture_report
        where id = #{id}
    </delete>

    <!--    批量删除数据-->
    <delete id="deleteSciLectureReportByIds" parameterType="String">
        delete from sci_lecture_report where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--    删除传入报告id对应的批阅记录

    sql示例：
    DELETE FROM sci_lecture_report_opinion
    WHERE id IN (
        SELECT temp.id FROM (
            SELECT id FROM sci_lecture_report_opinion
            WHERE baogao_id IN (#{id1}, #{id2}, #{id3}, ...)
        ) AS temp
    );
    -->
    <delete id="deleteSciLectureReportOpinionBy" parameterType="String">
        delete from sci_lecture_report_opinion where id in (
        select temp.id from (
        select id from sci_lecture_report_opinion where baogao_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        ) as temp
        )
    </delete>
    <select id="getStatsQuery" parameterType="map" resultMap="SciLectureReportResult">
        <include refid="selectSciLectureReportVo"/>
        where 1=1
        <if test="userId != null and userId != ''">
            and  u.user_id = #{userId}
        </if>
        <if test="startTime != null and startTime != ''">
            and s.createtime >= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and s.createtime &lt;= #{endTime}
        </if>
        <if test="Pcollege != null and Pcollege != '' and Pcollege!='null' ">
            AND d.parent_id = #{Pcollege}
        </if>
        <if test="college != null and college != '' and college!='null' ">
            AND p.dept_id = #{college}
        </if>
        <if test="major != null and major != '' and major!='null'">
            AND d.dept_id = #{major}
        </if>
        <if test="jobTitle != null and jobTitle != '' and jobTitle != 'null'">
            AND u.tea_zhicheng = #{jobTitle}
        </if>
        <if test="xingming != null and xingming != '' and xingming != 'null'">
            and u.user_name like concat('%', #{xingming}, '%')
        </if>
        <if test="topicName != null and topicName != ''">
            and s.report_subject like concat('%', #{topicName}, '%')
        </if>
        <if test="fenlei != null and fenlei != ''">
            and s.fenlei = #{fenlei}
        </if>
        <if test="leixing != null and leixing != ''">
            and s.leixing = #{leixing}
        </if>
        <if test='state != null and state != "" and state!="null" and state =="1" '>
            AND s.state in (3,5,7,0)
        </if>
        <if test='state != null and state != "" and state!="null" and state =="2"'>
            AND s.state in (1,2,6)
        </if>
        <if test='state != null and state != "" and state!="null" and state =="3"'>
            AND s.state in (4)
        </if>
        order by s.createtime desc
    </select>

    <select id="getStatsQueryToCheck" parameterType="map" resultMap="SciLectureReportResult">
        select
        p.dept_name dept_name,
        d.dept_name dname,
        u.login_name,
        u.user_name userName,
        s.report_theme,
        s.report_place,
        s.report_subject,
        coalesce(i.integral, '0') report_keyanfen,
        s.state,
        s.report_end_time
        from
        sci_lecture_report s
        left join sys_user u on
        s.user_id = u.user_id
        left join sys_dept d on
        u.dept_id = d.dept_id
        left join sys_dept p on
        d.parent_id = p.dept_id
        left join sci_lecture_report_integral i on i.rep_int_id = CAST(s.report_classify AS UNSIGNED)
        where 1=1
        <if test="college != null and college != '' and college!='null' ">
            AND p.dept_id = #{college}
        </if>
        <if test="major != null and major != '' and major!='null'">
            AND d.dept_id = #{major}
        </if>
        <if test="teacherName != null and teacherName != '' and teacherName!='null'">
            AND u.user_id = #{teacherName}
        </if>
        <if test="startTime != null and startTime != ''">
            and s.createtime >= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and s.createtime &lt;= #{endTime}
        </if>
        <if test="topicName != null and topicName != ''">
            and s.report_subject like concat('%', #{topicName}, '%')
        </if>
        <if test='state != null and state != "" and state!="null" and state =="1" '>
            AND s.state in (3,5,7,0)
        </if>
        <if test='state != null and state != "" and state!="null" and state =="2"'>
            AND s.state in (1,2,6)
        </if>
        <if test='state != null and state != "" and state!="null" and state =="3"'>
            AND s.state in (4)
        </if>
        <if test="year != null and year != '' and year != 'null'">
            AND YEAR(DATE_ADD(s.report_end_time, INTERVAL 1 MONTH)) = #{year}
        </if>
        <if test="_dataScope != null and _dataScope != ''">
            ${_dataScope}
        </if>
        order by dept_name asc,dname asc,u.login_name asc
    </select>

    <!-- 教师查询讲座报告列表（课题名称查询） -->
    <select id="selectSciLectureReportListCx" parameterType="SciLectureReport" resultMap="SciLectureReportResult">
        <include refid="selectSciLectureReportVo"/>
        where 1=1
        <if test="reportTheme != null  and reportTheme != ''">and report_theme like concat('%', #{reportTheme}, '%')</if>
        <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        <if test="year != null  and year != ''">and YEAR(DATE_ADD(report_time,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order by createtime desc
    </select>

    <!-- 教研室查询讲座报告列表（第一作者、课题名称查询） -->
    <select id="selectSciLectureReportListCxList" parameterType="SciLectureReport" resultMap="SciLectureReportResult">
        <include refid="selectSciLectureReportVo"/>
        where 1=1
        <if test="reportTheme != null  and reportTheme != ''">and report_theme like concat('%', #{reportTheme}, '%')</if>
        <if test="teacherName != null  and teacherName != ''">and u.user_name like concat('%', #{teacherName}, '%')</if>
        <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        <if test="year != null  and year != ''">and YEAR(DATE_ADD(report_time,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order by createtime desc
    </select>

    <!-- 学院查询讲座报告列表（专业、第一作者、课题名称查询） -->
    <select id="selectSciLectureReportListXY" parameterType="SciLectureReport" resultMap="SciLectureReportResult">
        <include refid="selectSciLectureReportVo"/>
        where 1=1
        <if test="reportTheme != null  and reportTheme != ''">and report_theme like concat('%', #{reportTheme}, '%')</if>
        <if test="teacherName != null  and teacherName != ''">and u.user_name like concat('%', #{teacherName}, '%')</if>
        <if test="keyanshi != null  and keyanshi != ''">and d.dept_name like concat('%', #{keyanshi}, '%')</if>
        <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        <if test="year != null  and year != ''">and YEAR(DATE_ADD(report_time,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order by createtime desc
    </select>

    <!-- 科研处查询讲座报告列表（学院、专业、第一作者、课题名称查询） -->
    <select id="selectSciLectureReportListKY" parameterType="SciLectureReport" resultMap="SciLectureReportResult">
        <include refid="selectSciLectureReportVo"/>
        where 1=1
        <if test="reportTheme != null  and reportTheme != ''">and report_theme like concat('%', #{reportTheme}, '%')</if>
        <if test="teacherName != null  and teacherName != ''">and u.user_name like concat('%', #{teacherName}, '%')</if>
        <if test="keyanshi != null  and keyanshi != ''">and d.dept_name like concat('%', #{keyanshi}, '%')</if>
        <if test="xueyuan != null  and xueyuan != ''">and p.dept_name like concat('%', #{xueyuan}, '%')</if>
        <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        <if test="year != null  and year != ''">and YEAR(DATE_ADD(report_time,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order by createtime desc
    </select>

    <!-- 统一查询讲座报告列表 -->
    <!-- 移除状态过滤，保留数据权限控制 -->
    <select id="selectSciLectureReportListAll" parameterType="SciLectureReport" resultMap="SciLectureReportResult">
        <include refid="selectSciLectureReportVo"/>
        where 1=1
        <if test="reportTheme != null  and reportTheme != ''">and report_theme like concat('%', #{reportTheme}, '%')
        </if>
        <if test="keyanshi != null  and keyanshi != ''">and d.dept_name like concat('%', #{keyanshi}, '%')</if>
        <if test="teacherName != null  and teacherName != ''">and u.user_name like concat('%', #{teacherName}, '%')</if>
        <if test="xueyuan != null  and xueyuan != ''">and p.dept_name like concat('%', #{xueyuan}, '%')</if>
        <if test="hostUnit != null  and hostUnit != ''">and host_unit like concat('%', #{hostUnit}, '%')</if>
        <if test="reportPlace != null  and reportPlace != ''">and report_place like concat('%', #{reportPlace}, '%')</if>
        <if test="reportSubject != null  and reportSubject != ''">and report_subject like concat('%', #{reportSubject}, '%')</if>
        <if test="reportClassify != null  and reportClassify != ''">and report_classify = #{reportClassify}</if>
        <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        <if test="year != null  and year != ''">and YEAR(DATE_ADD(report_time,INTERVAL 1 MONTH)) = #{year}</if>
        ${params.dataScope}
        order by createtime desc
    </select>

</mapper>