<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciPaperAMapper">

    <resultMap type="SciPaperA" id="SciPaperAResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
        <result property="roleName"    column="role_name"    />
        <result property="rolekey"    column="role_key"    />
        <result property="college"    column="college"    />
        <result property="researchRoom"    column="dname"    /><!--research_room -->
        <result property="employeeId"    column="employee_id"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="text_paper"    column="text_paper"    />
        <result property="word_paper"    column="word_paper"    />
        <result property="search_web"    column="search_web"    />
        <result property="administrativePosition"    column="administrative_position"    />
        <result property="socialTitle"    column="social_title"    />
        <result property="onCampusTitle"    column="on_campus_title"    />
        <result property="authorType"    column="author_type"    />
        <result property="state"    column="state"    />
        <result property="signingData"    column="signing_data"    />
        <result property="paperTitle"    column="paper_title"    />
        <result property="paperCategory"    column="paper_category"    />
        <result property="publishedJournal"    column="published_journal"    />
        <result property="inclusionStatus"    column="inclusion_status"    />
        <result property="publicationTime"    column="publication_time"    />
        <result property="isIndustryCollaborative"    column="is_industry_collaborative"    />
        <result property="isLocalCollaborative"    column="is_local_collaborative"    />
        <result property="isInternationalCollaborative"    column="is_international_collaborative"    />
        <result property="isCrossDiscipline"    column="is_cross_discipline"    />
        <result property="paperRanking"    column="paper_ranking"    />
        <result property="researchScore"    column="research_score"    />
        <result property="remarks"    column="remarks"    />
        <result property="rolename"    column="rolename"    />
        <result property="rolekey"    column="rolekey"    />
        <result property="year"    column="year"    />
    </resultMap>

    <sql id="selectSciPaperAVo">
      select
        #{uid} uid,
        p.id ,
        u.login_name employee_id,
        p.text_paper,
        p.word_paper,
        p.search_web,
        pt.dept_name research_room,
        p.user_id,
        d.dept_name dname,
        pt.dept_name college,
        p.teacher_name,
        u.tea_zhicheng on_campus_title,
        p.paper_title,
        p.paper_category,
        p.published_journal,
        p.publication_time,
        p.is_industry_collaborative,
        p.is_local_collaborative,
        p.is_international_collaborative,
        p.is_cross_discipline,
        p.paper_ranking,
        p.research_score,
        p.remarks,
        p.state
      from
        sci_paper_a p
          left join sys_user u on
          p.user_id = u.user_id
          left join sys_dept d on
          u.dept_id = d.dept_id
          left join sys_dept pt on
          d.parent_id = pt.dept_id


    </sql>

    <select id="selectSciPaperAList" parameterType="SciPaperA" resultMap="SciPaperAResult">
        <include refid="selectSciPaperAVo"/>
        <where>
            ${params.dataScope}
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="paperTitle != null  and paperTitle != ''"> and paper_title = #{paperTitle}</if>
            <if test="paperCategory != null  and paperCategory != ''"> and paper_category = #{paperCategory}</if>
            <if test="publishedJournal != null  and publishedJournal != ''"> and published_journal = #{publishedJournal}</if>
            <if test="inclusionStatus != null  and inclusionStatus != ''"> and inclusion_status = #{inclusionStatus}</if>
            <if test="publicationTime != null "> and publication_time = #{publicationTime}</if>
            <if test="isIndustryCollaborative != null  and isIndustryCollaborative != ''"> and is_industry_collaborative = #{isIndustryCollaborative}</if>
            <if test="isLocalCollaborative != null  and isLocalCollaborative != ''"> and is_local_collaborative = #{isLocalCollaborative}</if>
            <if test="isInternationalCollaborative != null  and isInternationalCollaborative != ''"> and is_international_collaborative = #{isInternationalCollaborative}</if>
            <if test="isCrossDiscipline != null  and isCrossDiscipline != ''"> and is_cross_discipline = #{isCrossDiscipline}</if>
            <if test="paperRanking != null  and paperRanking != ''"> and paper_ranking = #{paperRanking}</if>
            <if test="researchScore != null  and researchScore != ''"> and research_score = #{researchScore}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="year != null  and year != ''"> and YEAR(publication_time) = #{year}</if>
        </where>
      order  by p.state
    </select>
<!--待科研处审核，完成-->
    <select id="selectSciPaperAListKY" parameterType="SciPaperA" resultMap="SciPaperAResult">
        <include refid="selectSciPaperAVo"/>
        <where>
            p.state in (4,8)  or( p.user_id = #{uid})
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="paperTitle != null  and paperTitle != ''"> and paper_title = #{paperTitle}</if>
            <if test="paperCategory != null  and paperCategory != ''"> and paper_category = #{paperCategory}</if>
            <if test="publishedJournal != null  and publishedJournal != ''"> and published_journal = #{publishedJournal}</if>
            <if test="inclusionStatus != null  and inclusionStatus != ''"> and inclusion_status = #{inclusionStatus}</if>
            <if test="publicationTime != null "> and publication_time = #{publicationTime}</if>
            <if test="isIndustryCollaborative != null  and isIndustryCollaborative != ''"> and is_industry_collaborative = #{isIndustryCollaborative}</if>
            <if test="isLocalCollaborative != null  and isLocalCollaborative != ''"> and is_local_collaborative = #{isLocalCollaborative}</if>
            <if test="isInternationalCollaborative != null  and isInternationalCollaborative != ''"> and is_international_collaborative = #{isInternationalCollaborative}</if>
            <if test="isCrossDiscipline != null  and isCrossDiscipline != ''"> and is_cross_discipline = #{isCrossDiscipline}</if>
            <if test="paperRanking != null  and paperRanking != ''"> and paper_ranking = #{paperRanking}</if>
            <if test="researchScore != null  and researchScore != ''"> and research_score = #{researchScore}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="year != null  and year != ''"> and YEAR(publication_time) = #{year}</if>

        </where>
        order  by p.state
    </select>
  <!--待学院审核，完成-->
    <select id="selectSciPaperAListXY" parameterType="SciPaperA" resultMap="SciPaperAResult">
        <include refid="selectSciPaperAVo"/>
        <where>
            p.state in (2,4,8) or( p.user_id = #{uid})
            ${params.dataScope}
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="college != null  and college != ''"> and pt.dept_name like concat('%', #{college}, '%')</if>
            <if test="roleName != null  and roleName != ''"> and d.dept_name like concat('%', #{roleName}, '%')</if>
            <if test="paperTitle != null  and paperTitle != ''"> and paper_title = #{paperTitle}</if>
            <if test="paperCategory != null  and paperCategory != ''"> and paper_category = #{paperCategory}</if>
            <if test="publishedJournal != null  and publishedJournal != ''"> and published_journal = #{publishedJournal}</if>
            <if test="inclusionStatus != null  and inclusionStatus != ''"> and inclusion_status = #{inclusionStatus}</if>
            <if test="publicationTime != null "> and publication_time = #{publicationTime}</if>
            <if test="isIndustryCollaborative != null  and isIndustryCollaborative != ''"> and is_industry_collaborative = #{isIndustryCollaborative}</if>
            <if test="isLocalCollaborative != null  and isLocalCollaborative != ''"> and is_local_collaborative = #{isLocalCollaborative}</if>
            <if test="isInternationalCollaborative != null  and isInternationalCollaborative != ''"> and is_international_collaborative = #{isInternationalCollaborative}</if>
            <if test="isCrossDiscipline != null  and isCrossDiscipline != ''"> and is_cross_discipline = #{isCrossDiscipline}</if>
            <if test="paperRanking != null  and paperRanking != ''"> and paper_ranking = #{paperRanking}</if>
            <if test="researchScore != null  and researchScore != ''"> and research_score = #{researchScore}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="year != null  and year != ''"> and YEAR(publication_time) = #{year}</if>
        </where>
      order  by p.state
    </select>

    <select id="selectSciPaperAListCxList" parameterType="SciPaperA" resultMap="SciPaperAResult">
        select  #{uid} uid,p.id,ptt.dept_name as college,
        p.text_paper,p.word_paper,p.search_web,p.user_id,
        p.teacher_name,
        p.paper_title, p.paper_category, p.published_journal,p.publication_time, p.is_industry_collaborative,
        p.is_local_collaborative, p.is_international_collaborative, p.is_cross_discipline, p.paper_ranking, p.research_score, p.remarks,p.state
        from sci_paper_a p
        left join sys_user u on u.user_id = p.user_id
        left join sys_dept pt on u.dept_id = pt.dept_id
        left join sys_dept ptt on pt.parent_id = ptt.dept_id
        <where>
           p.state in (1,2,8) or( p.user_id = #{uid})
            /*${params.dataScope}*/
<!--            <if test="userId != null  and userId != ''"> and p.user_id = #{userId}</if>-->
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="college != null  and college != ''"> and pt.dept_name like concat('%', #{college}, '%')</if>
            <if test="roleName != null  and roleName != ''"> and d.dept_name like concat('%', #{roleName}, '%')</if>
            <if test="paperTitle != null  and paperTitle != ''"> and paper_title = #{paperTitle}</if>
            <if test="paperCategory != null  and paperCategory != ''"> and paper_category = #{paperCategory}</if>
            <if test="publishedJournal != null  and publishedJournal != ''"> and published_journal = #{publishedJournal}</if>
            <if test="inclusionStatus != null  and inclusionStatus != ''"> and inclusion_status = #{inclusionStatus}</if>
            <if test="publicationTime != null "> and publication_time = #{publicationTime}</if>
            <if test="isIndustryCollaborative != null  and isIndustryCollaborative != ''"> and is_industry_collaborative = #{isIndustryCollaborative}</if>
            <if test="isLocalCollaborative != null  and isLocalCollaborative != ''"> and is_local_collaborative = #{isLocalCollaborative}</if>
            <if test="isInternationalCollaborative != null  and isInternationalCollaborative != ''"> and is_international_collaborative = #{isInternationalCollaborative}</if>
            <if test="isCrossDiscipline != null  and isCrossDiscipline != ''"> and is_cross_discipline = #{isCrossDiscipline}</if>
            <if test="paperRanking != null  and paperRanking != ''"> and paper_ranking = #{paperRanking}</if>
            <if test="researchScore != null  and researchScore != ''"> and research_score = #{researchScore}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="year != null  and year != ''"> and YEAR(publication_time) = #{year}</if>
        </where>
      order  by p.state
</select>

    <select id="selectSciPaperArole" parameterType="SciPaperA" resultMap="SciPaperAResult">
        select r.role_id role_id,r.role_name role_name,r.role_key role_key,s.user_name from sys_user s
            left join sys_user_role ur on s.user_id = ur.user_id
            left join sys_role r on r.role_id = ur.role_id
        where s.user_id =#{user_id}
    </select>

    <select id="selectSciPaperAListCx" parameterType="SciPaperA" resultMap="SciPaperAResult">
      select  #{uid} uid,p.id,ptt.dept_name as college,
      p.text_paper,p.word_paper,p.search_web,p.user_id,
      p.teacher_name,
      p.paper_title, p.paper_category, p.published_journal,p.publication_time, p.is_industry_collaborative,
      p.is_local_collaborative, p.is_international_collaborative, p.is_cross_discipline, p.paper_ranking, p.research_score, p.remarks,p.state
      from sci_paper_a p
      left join sys_user u on u.user_id = p.user_id
      left join sys_dept pt on u.dept_id = pt.dept_id
      left join sys_dept ptt on pt.parent_id = ptt.dept_id
      <where>
         p.user_id = #{uid}
        /*${params.dataScope}*/
        <!--            <if test="userId != null  and userId != ''"> and p.user_id = #{userId}</if>-->
        <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
        <if test="college != null  and college != ''"> and pt.dept_name like concat('%', #{college}, '%')</if>
        <if test="roleName != null  and roleName != ''"> and d.dept_name like concat('%', #{roleName}, '%')</if>
        <if test="paperTitle != null  and paperTitle != ''"> and paper_title = #{paperTitle}</if>
        <if test="paperCategory != null  and paperCategory != ''"> and paper_category = #{paperCategory}</if>
        <if test="publishedJournal != null  and publishedJournal != ''"> and published_journal = #{publishedJournal}</if>
        <if test="inclusionStatus != null  and inclusionStatus != ''"> and inclusion_status = #{inclusionStatus}</if>
        <if test="publicationTime != null "> and publication_time = #{publicationTime}</if>
        <if test="isIndustryCollaborative != null  and isIndustryCollaborative != ''"> and is_industry_collaborative = #{isIndustryCollaborative}</if>
        <if test="isLocalCollaborative != null  and isLocalCollaborative != ''"> and is_local_collaborative = #{isLocalCollaborative}</if>
        <if test="isInternationalCollaborative != null  and isInternationalCollaborative != ''"> and is_international_collaborative = #{isInternationalCollaborative}</if>
        <if test="isCrossDiscipline != null  and isCrossDiscipline != ''"> and is_cross_discipline = #{isCrossDiscipline}</if>
        <if test="paperRanking != null  and paperRanking != ''"> and paper_ranking = #{paperRanking}</if>
        <if test="researchScore != null  and researchScore != ''"> and research_score = #{researchScore}</if>
        <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        <if test="year != null  and year != ''"> and YEAR(publication_time) = #{year}</if>
      </where>
      order  by p.state
    </select>

    <select id="selectSciPaperAByroleId" >
        select ur.role_id,r.role_name,r.role_key from sys_user_role ur
                                left join sys_user u on  ur.user_id=u.user_id
                                left join sys_role r on r.role_id = ur.role_id
        where ur.user_id = #{user_id}

    </select>
    <select id="selectUser"  parameterType="SciPaperA">
        <include refid="selectSciPaperAVo"/>
            where p.user_id = {#uid}

    </select>

    <select id="selectSciPaperAById" parameterType="Long" resultMap="SciPaperAResult">
        <include refid="selectSciPaperAVo"/>
        where id = #{id}
    </select>

    <select id="selectSciPaperAExport"  resultMap="SciPaperAResult">
        select  p.id ,r.role_id,r.role_name,r.role_key,u.login_name employee_id,
        p.text_paper,p.word_paper,p.search_web,pt.dept_name research_room,p.user_id,
        d.dept_name dname,pt.dept_name college, p.teacher_name,u.tea_zhicheng on_campus_title,
        p.paper_title, p.paper_category, p.published_journal,p.publication_time, p.is_industry_collaborative,
        p.is_local_collaborative, p.is_international_collaborative, p.is_cross_discipline, p.paper_ranking, p.research_score, p.remarks,p.state,r.data_scope
        from sci_paper_a p
        left join sys_user u on  p.user_id=u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_dept pt on d.parent_id =pt.dept_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        <where>
            <if test="ListRowId != null  and ListRowId != ''">
                and p.id in
                <foreach item="item" collection="ListRowId" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectSciPaperA" parameterType="SciPaperA" resultType="java.lang.Integer">
        SELECT count(*) FROM `sci_paper_a`
        <where>
            <if test="paperTitle != null  and paperTitle != ''"> AND paper_title = #{paperTitle}</if>
            <if test="paperCategory != null  and paperCategory != ''"> AND paper_category = #{paperCategory}</if>
            <if test="publishedJournal != null  and publishedJournal != ''"> AND published_journal = #{publishedJournal}</if>
            <if test="inclusionStatus != null  and inclusionStatus != ''"> AND inclusion_status = #{inclusionStatus}</if>
            <if test="publicationTime != null "> AND publication_time = #{publicationTime}</if>
            <if test="isIndustryCollaborative != null  and isIndustryCollaborative != ''"> AND is_industry_collaborative = #{isIndustryCollaborative}</if>
            <if test="isLocalCollaborative != null  and isLocalCollaborative != ''"> AND is_local_collaborative = #{isLocalCollaborative}</if>
            <if test="isInternationalCollaborative != null  and isInternationalCollaborative != ''"> AND is_international_collaborative = #{isInternationalCollaborative}</if>
            <if test="isCrossDiscipline != null  and isCrossDiscipline != ''"> AND is_cross_discipline = #{isCrossDiscipline}</if>
            <if test="paperRanking != null  and paperRanking != ''"> AND paper_ranking = #{paperRanking}</if>
            <if test="researchScore != null  and researchScore != ''"> AND research_score = #{researchScore}</if>
            <if test="remarks != null  and remarks != ''"> AND remarks = #{remarks}</if>
        </where>
    </select>

    <select id="selectAllPaperName" parameterType="SciPaperA" resultMap="SciPaperAResult">
        select p.id,p.user_id,p.teacher_name,p.text_paper,p.paper_title, p.paper_category,p.published_journal,p.publication_time,
               p.word_paper,p.search_web, p.is_industry_collaborative,
               p.is_local_collaborative, p.is_international_collaborative, p.is_cross_discipline,
               p.paper_ranking, p.research_score, p.remarks,p.state
        from sci_paper_a p
        <where>
            <if test="query != null and query != ''">
                paper_title LIKE CONCAT('%',#{query}, '%')
            </if>
        </where>
    </select>

    <insert id="insertSciPaperA" parameterType="SciPaperA" useGeneratedKeys="true" keyProperty="id">
        insert into sci_paper_a
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="teacherName != null">teacher_name,</if>
            <if test="paperTitle != null">paper_title,</if>
            <if test="paperCategory != null">paper_category,</if>
            <if test="publishedJournal != null">published_journal,</if>
            <if test="inclusionStatus != null">inclusion_status,</if>
            <if test="publicationTime != null">publication_time,</if>
            <if test="text_paper != null">text_paper,</if>
            <if test="word_paper != null">word_paper,</if>
            <if test="search_web != null">search_web,</if>
            <if test="isIndustryCollaborative != null">is_industry_collaborative,</if>
            <if test="isLocalCollaborative != null">is_local_collaborative,</if>
            <if test="isInternationalCollaborative != null">is_international_collaborative,</if>
            <if test="isCrossDiscipline != null">is_cross_discipline,</if>
            <if test="paperRanking != null">paper_ranking,</if>
            <if test="researchScore != null">research_score,</if>
            <if test="remarks != null">remarks,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="paperTitle != null">#{paperTitle},</if>
            <if test="paperCategory != null">#{paperCategory},</if>
            <if test="publishedJournal != null">#{publishedJournal},</if>
            <if test="inclusionStatus != null">#{inclusionStatus},</if>
            <if test="publicationTime != null">#{publicationTime},</if>
            <if test="text_paper != null">#{text_paper},</if>
            <if test="word_paper != null">#{word_paper},</if>
            <if test="search_web != null">#{search_web},</if>
            <if test="isIndustryCollaborative != null">#{isIndustryCollaborative},</if>
            <if test="isLocalCollaborative != null">#{isLocalCollaborative},</if>
            <if test="isInternationalCollaborative != null">#{isInternationalCollaborative},</if>
            <if test="isCrossDiscipline != null">#{isCrossDiscipline},</if>
            <if test="paperRanking != null">#{paperRanking},</if>
            <if test="researchScore != null">#{researchScore},</if>
            <if test="remarks != null">#{remarks},</if>
        </trim>
    </insert>

    <insert id="insertSciPaperAr" parameterType="SciPaperAr" useGeneratedKeys="true" keyProperty="id">
        insert into sci_paper_ar
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ar_id != null">ar_id,</if>
            <if test="concate != null">concate,</if>
            <if test="uid != null">uid,</if>
            <if test="createTime != null">create_time,</if>
            <if test="state != null">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ar_id != null">#{ar_id},</if>
            <if test="concate != null">#{concate},</if>
            <if test="uid != null">#{uid},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="state != null">#{state},</if>
        </trim>
    </insert>

    <insert id="insertSciPaperArbh" parameterType="SciPaperA" useGeneratedKeys="true" keyProperty="id">
        insert into sci_paper_ar
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ar_id != null">ar_id,</if>
            <if test="concate != null">concate,</if>
            <if test="uid != null">uid,</if>
            <if test="createTime != null">create_time,</if>
            <if test="state != null">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ar_id != null">#{ar_id},</if>
            <if test="concate != null">#{concate},</if>
            <if test="uid != null">#{uid},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="state != null">#{state},</if>
        </trim>
    </insert>

    <select id="selectSciPaperArList" resultType="SciPaperAr">
        select id, ar_id, concate, uid ,u.user_name uname, p.create_time,state from sci_paper_ar p
                    left join sys_user u on p.uid = u.user_id
        <where>
            <if test="ar_id != null "> and ar_id = #{ar_id}</if>
            <if test="concate != null  and concate != ''"> and concate = #{concate}</if>
            <if test="uid != null "> and uid = #{uid}</if>
        </where>
        order  by create_time
    </select>


    <update id="updateSciPaperA" parameterType="SciPaperA">
        update sci_paper_a
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="paperTitle != null">paper_title = #{paperTitle},</if>
            <if test="paperCategory != null">paper_category = #{paperCategory},</if>
            <if test="publishedJournal != null">published_journal = #{publishedJournal},</if>
            <if test="inclusionStatus != null">inclusion_status = #{inclusionStatus},</if>
            <if test="publicationTime != null">publication_time = #{publicationTime},</if>
            <if test="text_paper != null">text_paper = #{text_paper},</if>
            <if test="word_paper != null">text_paper = #{word_paper},</if>
            <if test="search_web != null">search_web = #{search_web},</if>
            <if test="isIndustryCollaborative != null">is_industry_collaborative = #{isIndustryCollaborative},</if>
            <if test="isLocalCollaborative != null">is_local_collaborative = #{isLocalCollaborative},</if>
            <if test="isInternationalCollaborative != null">is_international_collaborative = #{isInternationalCollaborative},</if>
            <if test="isCrossDiscipline != null">is_cross_discipline = #{isCrossDiscipline},</if>
            <if test="paperRanking != null">paper_ranking = #{paperRanking},</if>
            <if test="researchScore != null">research_score = #{researchScore},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateSciPaperAState">
        update sci_paper_a set state = 1 where id = #{id}
    </update>

    <update id="pytg" >
        update sci_paper_a set state = #{state} where id = #{id}
    </update>
    <update id="updateSciPaperArs" >
        update sci_paper_a set research_score = #{points} where id = #{id}
    </update>
    <delete id="deleteSciPaperAById" parameterType="Long">
        delete from sci_paper_a where id = #{id}
    </delete>

    <delete id="deleteSciPaperAByIds" parameterType="String">
        delete from sci_paper_a where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getStatsQuery" parameterType="map" resultMap="SciPaperAResult">
        <include refid="selectSciPaperAVo"/>
        where p.state in (1,2,3,4,5,6,7)
        <if test="startTime != null and startTime != ''">
            and p.createtime >= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and p.createtime &lt;= #{endTime}
        </if>
        <if test="college != null and college != '' and college != 'null'">
            and p.college like concat('%', #{college}, '%')
        </if>
        <if test="major != null and major != '' and major != 'null'">
            and d.dept_name like concat('%', #{major}, '%')
        </if>
        <if test="jobTitle != null and jobTitle != '' and jobTitle != 'null'">
            and u.user_name like concat('%', #{jobTitle}, '%')
        </if>
        <if test="topicName != null and topicName != ''">
            and p.paper_title like concat('%', #{topicName}, '%')
        </if>
        <if test="state != null and state != '' and state != 'null'">
            and p.state = #{state}
        </if>
        order by p.createtime desc
    </select>

</mapper>
