<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciTectraScoreCfgMapper">

    <resultMap type="SciTec_traScoreCfg" id="SciTec_traScoreCfgResult">
        <result property="tec_tra_id"    column="tec_tra_id"    />
        <result property="funds_max"    column="funds_max"    />
        <result property="funds_min"    column="funds_min"    />
        <result property="user_order"    column="user_order"    />
        <result property="total_score"    column="total_score"    />
        <result property="start_score"    column="start_score"    />
        <result property="end_score"    column="end_score"    />
        <result property="update_user"    column="update_user"    />
        <result property="update_time"    column="update_time"    />
    </resultMap>

    <sql id="selectTec_traScoreCfgVo">
        select tec_tra_id, funds_max, funds_min, user_order, total_score, start_score, end_score, update_user, update_time from sci_technology_transfer_cfg
    </sql>

    <select id="selectSciTec_traScoreCfgList" parameterType="SciTec_traScoreCfg" resultMap="SciTec_traScoreCfgResult">
        <include refid="selectTec_traScoreCfgVo"/>
        <where>
            <if test="fundsMax != null  and fundsMax != ''"> and funds_max = #{fundsMax}</if>
            <if test="fundsMin != null  and fundsMin != ''"> and funds_min = #{fundsMin}</if>
            <if test="userOrder != null  and userOrder != ''"> and user_order = #{userOrder}</if>
            <if test="totalScore != null  and totalScore != ''"> and total_score = #{totalScore}</if>
            <if test="startScore != null  and startScore != ''"> and start_score = #{startScore}</if>
            <if test="endScore != null  and endScore != ''"> and end_score = #{endScore}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
       </where>
    </select>


    <insert id="insertTec_traScoreCfg" parameterType="SciTec_traScoreCfg" useGeneratedKeys="true" keyProperty="tec_tra_id">
        insert into sci_technology_transfer_cfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="funds_max != null">funds_max,</if>
            <if test="funds_min != null">funds_min,</if>
            <if test="user_order != null">user_order,</if>
            <if test="total_score != null">total_score,</if>
            <if test="start_score != null">start_score,</if>
            <if test="end_score != null">end_score,</if>
            <if test="update_user != null">update_user,</if>
            <if test="update_time != null">update_time,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="funds_max != null">#{funds_max},</if>
            <if test="funds_min != null">#{funds_min},</if>
            <if test="user_order != null">#{user_order},</if>
            <if test="total_score != null">#{total_score},</if>
            <if test="start_score != null">#{start_score},</if>
            <if test="end_score != null">#{end_score},</if>
            <if test="update_user != null">#{update_user},</if>
            <if test="update_time != null">now(),</if>
        </trim>
    </insert>
</mapper>