<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciZhuanliruanzhuPiyueMapper">

    <resultMap type="SciZhuanliruanzhuPiyue" id="SciZhuanliruanzhuPiyueResult">
        <result property="id"    column="id"    />
        <result property="hxktId"    column="hxkt_id"    />
        <result property="concate"    column="concate"    />
        <result property="uid"    column="uid"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
        <result property="uname"    column="uname"    />
    </resultMap>

    <sql id="selectSciZhuanliruanzhuPiyueVo">
        select id, hxkt_id, concate, uid ,u.user_name uname, s.create_time,state from sci_zhuanliruanzhu_piyue s
                                                                                          left join sys_user u on s.uid = u.user_id
    </sql>

    <select id="selectSciZhuanliruanzhuPiyueList" parameterType="SciZhuanliruanzhuPiyue" resultMap="SciZhuanliruanzhuPiyueResult">
        <include refid="selectSciZhuanliruanzhuPiyueVo"/>
        <where>
            <if test="hxktId != null "> and hxkt_id = #{hxktId}</if>
            <if test="concate != null  and concate != ''"> and concate = #{concate}</if>
            <if test="uid != null "> and uid = #{uid}</if>
        </where>
    </select>

    <select id="selectSciZhuanliruanzhuPiyueById" parameterType="Integer" resultMap="SciZhuanliruanzhuPiyueResult">
        <include refid="selectSciZhuanliruanzhuPiyueVo"/>
        where id = #{id}
    </select>

    <insert id="insertSciZhuanliruanzhuPiyue" parameterType="SciZhuanliruanzhuPiyue" useGeneratedKeys="true" keyProperty="id">
        insert into sci_zhuanliruanzhu_piyue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hxktId != null">hxkt_id,</if>
            <if test="concate != null">concate,</if>
            <if test="uid != null">uid,</if>
            <if test="createTime != null">create_time,</if>
            <if test="state != null">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hxktId != null">#{hxktId},</if>
            <if test="concate != null">#{concate},</if>
            <if test="uid != null">#{uid},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="state != null">#{state},</if>
        </trim>
    </insert>

    <update id="updateSciZhuanliruanzhuPiyue" parameterType="SciZhuanliruanzhuPiyue">
        update sci_zhuanliruanzhu_piyue
        <trim prefix="SET" suffixOverrides=",">
            <if test="hxktId != null">hxkt_id = #{hxktId},</if>
            <if test="concate != null">concate = #{concate},</if>
            <if test="uid != null">uid = #{uid},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSciZhuanliruanzhuPiyueById" parameterType="Integer">
        delete from sci_zhuanliruanzhu_piyue where id = #{id}
    </delete>

    <delete id="deleteSciZhuanliruanzhuPiyueByIds" parameterType="String">
        delete from sci_zhuanliruanzhu_piyue where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>