<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SciZhuanliruanzhuMapper">
    
    <resultMap type="SciZhuanliruanzhu" id="SciZhuanliruanzhuResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />


        <result property="xueyuan" column="yname"/> <!-- 学院 -->
        <result property="jiaoyanshi" column="dname"/> <!-- 教研室 -->
        <result property="xingming" column="userName"/> <!-- 姓名 -->

        <result property="mingcheng"    column="mingcheng"    />
        <result property="leixing"    column="leixing"    />
        <result property="shoquanhao"    column="shoquanhao"    />
        <result property="huopishijain"    column="huopishijain"    />
        <result property="shifouyingyon"    column="shifouyingyon"    />
        <result property="hangyelianhe"    column="hangyelianhe"    />
        <result property="fenlei"    column="fenlei"    />
        <result property="jifen"    column="jifen"    />
        <result property="wenjian"    column="wenjian"    />
        <result property="createtime" column="createtime" /> <!-- 确保映射正确 -->
        <result property="year" column="year" /> <!-- 确保映射正确 -->
        <result  property="parentId" column="parent_id" />



    </resultMap>

    <sql id="selectSciZhuanliruanzhuVo">
        select #{uid} uid,s.id,u.user_name userName,d.dept_name dname,p.dept_name yname, s.user_id, s.mingcheng, s.shoquanhao, s.huopishijain, s.shifouyingyon, s.hangyelianhe, s.fenlei, s.state,s.jifen,s.paiming,s.wenjian,s.createtime
        from sci_zhuanliruanzhu s left join sys_user u on  s.user_id=u.user_id
                                  left join sys_dept d on u.dept_id = d.dept_id
                                  left join sys_dept p on d.parent_id =p.dept_id
    </sql>

    <select id="selectSciZhuanliruanzhuList" parameterType="SciZhuanliruanzhu" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where state in (1,2,3,4,5,6,7)

        <if test="jiaoyanshi != null  and jiaoyanshi != ''">and  d.dept_name like concat('%', #{jiaoyanshi}, '%')</if>
        <if test="xingming != null  and xingming != ''">and  u.user_name like concat('%', #{xingming}, '%')</if>
        <if test="mingcheng != null  and mingcheng != ''"> and mingcheng like concat('%', #{mingcheng}, '%')</if>
        <if test="huopishijain != null "> and huopishijain = #{huopishijain}</if>
        <if test="fenlei != null  and fenlei != ''"> and fenlei = #{fenlei}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userId != null  and userId != ''">and s.user_id = #{uid}</if>



    </select>


    <select id="selectSciZhuanliruanzhuList31" parameterType="SciZhuanliruanzhu" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where state in (1,2,3,4,5,6,7) and d.parent_id = #{parentId}


        <if test="mingcheng != null  and mingcheng != ''"> and mingcheng like concat('%', #{mingcheng}, '%')</if>
        <if test="huopishijain != null "> and huopishijain = #{huopishijain}</if>
        <if test="fenlei != null  and fenlei != ''"> and fenlei = #{fenlei}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userId != null  and userId != ''">and s.user_id = #{uid}</if>



    </select>


    <select id="selectSciZhuanliruanzhuList21" parameterType="SciZhuanliruanzhu" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where state in (1,2,3,4,5,6,7) and d.dept_id = #{deptId}


        <if test="mingcheng != null  and mingcheng != ''"> and mingcheng like concat('%', #{mingcheng}, '%')</if>
        <if test="huopishijain != null "> and huopishijain = #{huopishijain}</if>
        <if test="fenlei != null  and fenlei != ''"> and fenlei = #{fenlei}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userId != null  and userId != ''">and s.user_id = #{uid}</if>



    </select>

    <select id="selectSciZhuanliruanzhuList1" parameterType="SciZhuanliruanzhu" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where (state in (0,1,2,3,4,5,6,7) and s.user_id = #{uid})
        <if test="userId != null  and userId != ''">and s.user_id = #{uid}</if>







        <if test="mingcheng != null  and mingcheng != ''"> and mingcheng like concat('%', #{mingcheng}, '%')</if>
            <if test="huopishijain != null "> and huopishijain = #{huopishijain}</if>
            <if test="fenlei != null  and fenlei != ''"> and fenlei = #{fenlei}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) = #{year}</if>


        order by state, createtime desc
    </select>



    <select id="selectSciZhuanliruanzhuList2" parameterType="SciZhuanliruanzhu" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where (s.user_id = #{uid} or (state in (1,2) and d.dept_id = #{deptId}))

        <if test="xueyuan != null  and xueyuan != ''"> and xueyuan = #{xueyuan}</if>


        <if test="mingcheng != null  and mingcheng != ''"> and mingcheng like concat('%', #{mingcheng}, '%')</if>
        <if test="huopishijain != null "> and huopishijain = #{huopishijain}</if>
        <if test="fenlei != null  and fenlei != ''"> and fenlei = #{fenlei}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) = #{year}</if>

        order by state, createtime desc
    </select>



    <select id="selectSciZhuanliruanzhuList3" parameterType="SciZhuanliruanzhu" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where  (s.user_id = #{uid} or (state in (2,4) and d.parent_id = #{parentId}))
        <if test="jiaoyanshi != null  and jiaoyanshi != ''">and  d.dept_name like concat('%', #{jiaoyanshi}, '%')</if>
        <if test="xingming != null  and xingming != ''">and  u.user_name like concat('%', #{xingming}, '%')</if>



        <if test="mingcheng != null  and mingcheng != ''"> and mingcheng like concat('%', #{mingcheng}, '%')</if>
        <if test="huopishijain != null "> and huopishijain = #{huopishijain}</if>
        <if test="fenlei != null  and fenlei != ''"> and fenlei = #{fenlei}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) = #{year}</if>

        order by state, createtime desc
    </select>



    <select id="selectSciZhuanliruanzhuList4" parameterType="SciZhuanliruanzhu" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where  s.user_id = #{uid} or state in (4,6)
        <if test="jiaoyanshi != null  and jiaoyanshi != ''">and  d.dept_name like concat('%', #{jiaoyanshi}, '%')</if>
        <if test="xingming != null  and xingming != ''">and  u.user_name like concat('%', #{xingming}, '%')</if>
        <if test="xueyuan != null  and xueyuan != ''"> and xueyuan = #{xueyuan}</if>


        <if test="mingcheng != null  and mingcheng != ''"> and mingcheng like concat('%', #{mingcheng}, '%')</if>
        <if test="huopishijain != null "> and huopishijain = #{huopishijain}</if>
        <if test="fenlei != null  and fenlei != ''"> and fenlei = #{fenlei}</if>
        <if test="year != null  and year != ''"> and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) = #{year}</if>
        <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>


        order by state, createtime desc
    </select>
    
    <select id="selectSciZhuanliruanzhuById" parameterType="Integer" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSciZhuanliruanzhu" parameterType="SciZhuanliruanzhu" useGeneratedKeys="true" keyProperty="id">
        insert into sci_zhuanliruanzhu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="mingcheng != null and mingcheng != ''">mingcheng,</if>
            <if test="leixing != null and leixing != ''">leixing,</if>
            <if test="shoquanhao != null">shoquanhao,</if>
            <if test="huopishijain != null">huopishijain,</if>
            <if test="shifouyingyon != null">shifouyingyon,</if>
            <if test="hangyelianhe != null">hangyelianhe,</if>
            <if test="fenlei != null and fenlei != ''">fenlei,</if>
            <if test="paiming != null and paiming != ''">paiming,</if>
            <if test="jifen != null and jifen != ''">jifen,</if>
            <if test="wenjian != null and wenjian != ''">wenjian,</if>


        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="mingcheng != null and mingcheng != ''">#{mingcheng},</if>
            <if test="leixing != null and leixing != ''">#{leixing},</if>
            <if test="shoquanhao != null">#{shoquanhao},</if>
            <if test="huopishijain != null">#{huopishijain},</if>
            <if test="shifouyingyon != null">#{shifouyingyon},</if>
            <if test="hangyelianhe != null">#{hangyelianhe},</if>
            <if test="fenlei != null and fenlei != ''">#{fenlei},</if>
            <if test="paiming != null and paiming != ''">#{paiming},</if>
            <if test="jifen != null and jifen != ''">#{jifen},</if>
            <if test="wenjian != null and wenjian != ''">#{wenjian},</if>


        </trim>
    </insert>

    <update id="updateSciZhuanliruanzhu" parameterType="SciZhuanliruanzhu">
        update sci_zhuanliruanzhu
        <trim prefix="SET" suffixOverrides=",">


            <if test="userId != null">user_id = #{userId},</if>

            <if test="mingcheng != null and mingcheng != ''">mingcheng = #{mingcheng},</if>
            <if test="leixing != null and leixing != ''">leixing = #{leixing},</if>
            <if test="shoquanhao != null">shoquanhao = #{shoquanhao},</if>
            <if test="huopishijain != null">huopishijain = #{huopishijain},</if>
            <if test="shifouyingyon != null">shifouyingyon = #{shifouyingyon},</if>
            <if test="hangyelianhe != null">hangyelianhe = #{hangyelianhe},</if>
            <if test="fenlei != null and fenlei != ''">fenlei = #{fenlei},</if>
            <if test="paiming != null and paiming != ''">paiming = #{paiming},</if>
            <if test="wenjian != null and wenjian != ''">wenjian = #{wenjian},</if>
            state = "0"

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSciZhuanliruanzhuById" parameterType="Integer">
        delete from sci_zhuanliruanzhu where id = #{id}
    </delete>

    <delete id="deleteSciZhuanliruanzhuByIds" parameterType="String">
        delete from sci_zhuanliruanzhu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <update id="hxPass" >
        update sci_zhuanliruanzhu set state = #{state} where id = #{id}
    </update>




    <update id="updateJifen">
        UPDATE sci_zhuanliruanzhu
        SET jifen = #{jifen}
        WHERE id = #{id}
    </update>

    <select id="checkExist" resultType="int">
        SELECT COUNT(*) FROM sci_zhuanliruanzhu
        WHERE mingcheng = #{mingcheng}
          AND paiming = #{paiming}
    </select>

    <select id="getStatsQuery" parameterType="map" resultMap="SciZhuanliruanzhuResult">
        <include refid="selectSciZhuanliruanzhuVo"/>
        where state in (1,2,3,4,5,6,7)
        <if test="startYear != null and startYear != ''">
            and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) >= #{startYear}
        </if>
        <if test="endYear != null and endYear != ''">
            and YEAR(DATE_ADD(createtime,INTERVAL 1 MONTH)) &lt;= #{endYear}
        </if>
        <if test="xueyuan != null and xueyuan != '' and xueyuan != 'null'">
            and p.dept_name like concat('%', #{xueyuan}, '%')
        </if>
        <if test="jiaoyanshi != null and jiaoyanshi != '' and jiaoyanshi != 'null'">
            and d.dept_name like concat('%', #{jiaoyanshi}, '%')
        </if>
        <if test="xingming != null and xingming != '' and xingming != 'null'">
            and u.user_name like concat('%', #{xingming}, '%')
        </if>
        <if test="mingcheng != null and mingcheng != ''">
            and s.mingcheng like concat('%', #{mingcheng}, '%')
        </if>
        <if test="fenlei != null and fenlei != ''">
            and s.fenlei = #{fenlei}
        </if>
        <if test="leixing != null and leixing != ''">
            and s.leixing = #{leixing}
        </if>
        <if test="state != null and state != '' and state != 'null'">
            and s.state = #{state}
        </if>
        order by s.createtime desc
    </select>

</mapper>