<?xml version="1.0" encoding="UTF-8" ?>
<!--教研室科研工作任务计划表-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StatisticMapper">

    <resultMap type="ResearchWorkload" id="ResearchWorkloadResult">
        <result property="parentId"    column="partenId"    />
        <result property="parentName"    column="partenName"    />
        <result property="deptId"    column="deptId"    />
        <result property="deptName"    column="deptName"    />
        <result property="userId"    column="userId"    />
        <result property="userName"    column="userName"    />
        <result property="hxkt"    column="hxkt"    />
        <result property="zxktxj"    column="zxktxj"    />
        <result property="zxktxjys"    column="zxktxjys"    />
        <result property="cgzh"    column="cgzh"    />
        <result property="xslw"    column="xslw"    />
        <result property="jczz"    column="jczz"    />
        <result property="zl"    column="zl"    />
        <result property="rz"    column="rz"    />
        <result property="jl"    column="jl"    />
        <result property="jzbg"    column="jzbg"    />
    </resultMap>

    <resultMap type="ResearchWorkloadByJYS" id="ResearchWorkloadByJYSResult">
        <result property="parentId"    column="partenId"    />
        <result property="parentName"    column="partenName"    />
        <result property="deptId"    column="deptId"    />
        <result property="deptName"    column="deptName"    />
        <result property="userId"    column="userId"    />
        <result property="userName"    column="userName"    />
        <result property="hxkt"    column="hxkt"    />
        <result property="zxktxj"    column="zxktxj"    />
        <result property="zxktxjys"    column="zxktxjys"    />
        <result property="cgzh"    column="cgzh"    />
        <result property="xslw"    column="xslw"    />
        <result property="jczz"    column="jczz"    />
        <result property="zl"    column="zl"    />
        <result property="rz"    column="rz"    />
        <result property="jl"    column="jl"    />
        <result property="jzbg"    column="jzbg"    />
    </resultMap>


    <select id="selectAllTeacher" resultMap="ResearchWorkloadResult">
        select su.login_name , ac.userName, ac.partenId, ac.partenName, ac.deptId, deptName, ac.hxkt, ac.zxktxj, ac.zxktxjys, ac.cgzh, ac.xslw, ac.jczz, ac.zl, ac.rz, ac.jl, ac.jzbg
        from alltotle_score ac
        left join sys_user su on su.user_id  = ac.userId
        <where>
            <if test="dictValue != null and dictValue.size() > 0">
                AND partenId IN
                <foreach collection="dictValue" item="dictValue" open="(" separator="," close=")">
                    #{dictValue}
                </foreach>
            </if>
            <if test="pname != null and pname != ''">
                AND partenName LIKE CONCAT('%', #{pname}, '%')
            </if>
            <if test="dname != null and dname != ''">
                AND deptName LIKE CONCAT('%', #{dname}, '%')
            </if>
        </where>
        order by ac.partenName asc, deptName asc, su.login_name asc
    </select>

    <select id="selectAllDept" resultMap="ResearchWorkloadByJYSResult">
        select ac.partenId, ac.partenName, ac.deptId, deptName, sum(ac.hxkt) hxkt, sum(ac.zxktxj) zxktxj, sum(ac.zxktxjys) zxktxjys, sum(ac.cgzh) cgzh, sum(ac.xslw) xslw, sum(ac.jczz) jczz, sum(ac.zl) zl, sum(ac.rz) rz, sum(ac.jl)jl, sum(ac.jzbg) jzbg
        from alltotle_score ac
        left join sys_user su on su.user_id  = ac.userId
         <where>
            <if test="dictValue != null and dictValue.size() > 0">
                AND partenId IN
                <foreach collection="dictValue" item="dictValue" open="(" separator="," close=")">
                    #{dictValue}
                </foreach>
            </if>
            <if test="pname != null and pname != ''">
                AND partenName LIKE CONCAT('%', #{pname}, '%')
            </if>
            <if test="dname != null and dname != ''">
                AND deptName LIKE CONCAT('%', #{dname}, '%')
            </if>
        </where>
        GROUP BY deptId, deptName
        order by ac.partenName asc, deptName asc
    </select>

</mapper>