<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StatisticJZMapper">
    <select id="selectAllJZ">
        SELECT
            deptName AS `专业`,
            userName As '教师',
                SUM(zcgjjjkyxm + zcsbjjjkyxm + zcsbjjgxm + zcsbjzxkyxm + zctjjxhjkyxm ) AS `纵向科研项目-校级以上`,
            SUM(zcxjjxglxmywyys + zcxjjxglxmywyyx) AS `纵向科研项目-校级`,
            SUM(ewyyx + edwwy + wdswy  + sdeswy + esdsswwy + wswwydwswy + wsdqswwy + qswdybwy ) AS `横向课题科研项目`,
            SUM(eyxxx + edwxx + wdsxx + sdesxx + esdsswxx + sswdwsxx + dywsxx ) AS `成果转化`,
            SUM(SCI + EI + hx + sw + pt + xb ) AS `学术论文`,
            SUM(zz + jc ) AS `教材著作`,
            SUM(sqfmzl + syxxzl + wxsjzl ) AS `专利`,
            SUM(sjjxcgj ) AS '软著',
                SUM(sjjxcgj + sjkxjsj + sjyljpkpb + stjjzrkxlpj + stjjsklpj + xjjxcgj + yyxkyxjcgj + xjjpkpb +  jscjsjdshj ) AS `奖励类`,
            SUM(jbgj + jbgn + cjgj + cjgn + xjxs  ) AS `学术报告`
        FROM Alltotle
        WHERE
            deptId = #{dept}
        GROUP BY
            deptName,userName
    </select>


    <select id="selectTotalJZ">
        SELECT
            SUM(zcgjjjkyxm + zcsbjjjkyxm + zcsbjjgxm + zcsbjzxkyxm + zctjjxhjkyxm ) AS `纵向科研项目-校级以上`,
            SUM(zcxjjxglxmywyys + zcxjjxglxmywyyx) AS `纵向科研项目-校级`,
            SUM(ewyyx + edwwy + wdswy  + sdeswy + esdsswwy + wswwydwswy + wsdqswwy + qswdybwy ) AS `横向课题科研项目`,
            SUM(eyxxx + edwxx + wdsxx + sdesxx + esdsswxx + sswdwsxx + dywsxx ) AS `成果转化`,
            SUM(SCI + EI + hx + sw + pt + xb ) AS `学术论文`,
            SUM(zz + jc ) AS `教材著作`,
            SUM(sqfmzl + syxxzl + wxsjzl ) AS `专利`,
            SUM(sjjxcgj ) AS '软著',
                SUM(sjjxcgj + sjkxjsj + sjyljpkpb + stjjzrkxlpj + stjjsklpj + xjjxcgj + yyxkyxjcgj + xjjpkpb +  jscjsjdshj ) AS `奖励类`,
            SUM(jbgj + jbgn + cjgj + cjgn + xjxs  ) AS `学术报告`
        FROM Alltotle
        WHERE deptId = #{dept};
    </select>


<!--    <select id="selectAllJZ">-->
<!--        SELECT-->
<!--            dept.dept_name AS 专业,-->
<!--            user.user_name AS 教师,-->
<!--            COALESCE(SUM(temp.`纵向科研项目-校级以上`), 0) AS `纵向科研项目-校级以上`,-->
<!--            COALESCE(SUM(temp.`纵向科研项目-校级`), 0) AS `纵向科研项目-校级`,-->
<!--            COALESCE(SUM(temp.`横向课题科研项目`), 0) AS `横向课题科研项目`,-->
<!--            COALESCE(MAX(temp.`成果转化`), '0') AS `成果转化`,-->
<!--            COALESCE(SUM(temp.`学术论文`), 0) AS `学术论文`,-->
<!--            COALESCE(SUM(temp.`教材著作`), 0) AS `教材著作`,-->
<!--            COALESCE(SUM(temp.专利), 0) AS 专利,-->
<!--            COALESCE(SUM(temp.软著), 0) AS 软著,-->
<!--            COALESCE(SUM(temp.奖励类), 0) AS 奖励类,-->
<!--            COALESCE(SUM(temp.学术报告), 0) AS 学术报告-->
<!--        FROM-->
<!--            sys_user AS user-->
<!--JOIN-->
<!--    sys_dept AS dept ON user.dept_id = dept.dept_id-->
<!--            LEFT JOIN (-->
<!--            &#45;&#45; 纵向科研项目-校级以上-->
<!--            SELECT-->
<!--            dept.dept_name AS 专业,-->
<!--            user.user_name AS 教师,-->
<!--            COALESCE(SUM(subquery.count_type), 0) AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            0 AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM (-->
<!--            SELECT-->
<!--            a.user_id,-->
<!--            COUNT(*) AS count_type-->
<!--            FROM-->
<!--            sci_horizontal_apply_vertical AS a-->
<!--            WHERE-->
<!--            a.top_type NOT IN (6,7)-->
<!--            AND a.state = 66-->
<!--            GROUP BY-->
<!--            a.user_id-->
<!--            ) AS subquery-->
<!--            JOIN sys_user AS user ON user.user_id = subquery.user_id-->
<!--            JOIN sys_dept AS dept ON user.dept_id = dept.dept_id-->
<!--            GROUP BY-->
<!--            dept.dept_name,-->
<!--            user.user_name-->

<!--            UNION ALL-->

<!--            &#45;&#45; 纵向科研项目-校级-->
<!--            SELECT-->
<!--            dept.dept_name AS 专业,-->
<!--            user.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            COALESCE(SUM(subquery.count_type), 0) AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            0 AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM (-->
<!--            SELECT-->
<!--            a.user_id,-->
<!--            COUNT(*) AS count_type-->
<!--            FROM-->
<!--            sci_horizontal_apply_vertical AS a-->
<!--            WHERE-->
<!--            a.top_type IN (6,7)-->
<!--            AND a.state = 66-->
<!--            GROUP BY-->
<!--            a.user_id-->
<!--            ) AS subquery-->
<!--            JOIN sys_user AS user ON user.user_id = subquery.user_id-->
<!--            JOIN sys_dept AS dept ON user.dept_id = dept.dept_id-->
<!--            GROUP BY-->
<!--            dept.dept_name,-->
<!--            user.user_name-->

<!--            UNION ALL-->

<!--            &#45;&#45; 横向课题科研项目-->
<!--            SELECT-->
<!--            dept.dept_name AS 专业,-->
<!--            user.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            COALESCE(SUM(subquery.count_amount), 0) AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            0 AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM (-->
<!--            SELECT-->
<!--            a.user_id,-->
<!--            COUNT(*) AS count_amount-->
<!--            FROM-->
<!--            sci_horizontal_apply AS a-->
<!--            WHERE-->
<!--            a.state = 6-->
<!--            GROUP BY-->
<!--            a.user_id-->
<!--            ) AS subquery-->
<!--            JOIN sys_user AS user ON user.user_id = subquery.user_id-->
<!--            JOIN sys_dept AS dept ON user.dept_id = dept.dept_id-->
<!--            GROUP BY-->
<!--            dept.dept_name,-->
<!--            user.user_name-->

<!--            UNION ALL-->

<!--            &#45;&#45; 转化成果-->
<!--            SELECT-->
<!--            d.dept_name AS 专业,-->
<!--            u.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            COALESCE(CONCAT(p1.count, '个（', p1.amount, '）万'), '0') AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            0 AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM (-->
<!--            SELECT-->
<!--            d.dept_id,-->
<!--            COALESCE(COUNT(*), 0) AS count,-->
<!--            COALESCE(SUM(amount), 0) AS amount-->
<!--            FROM-->
<!--            sci_IntraSchPro_apply sc-->
<!--            LEFT JOIN sys_user u ON u.user_id = sc.user_id-->
<!--            LEFT JOIN sys_dept d ON d.dept_id = u.dept_id-->
<!--            WHERE-->
<!--            sc.state = 6-->
<!--            GROUP BY-->
<!--            d.dept_id-->
<!--            ) p1-->
<!--            LEFT JOIN sys_dept d ON d.dept_id = p1.dept_id-->
<!--            LEFT JOIN sys_user u ON u.dept_id = d.dept_id-->

<!--            UNION ALL-->

<!--            &#45;&#45; 学术论文-->
<!--            SELECT-->
<!--            subquery.dept_name AS 专业,-->
<!--            subquery.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            COALESCE(SUM(subquery.SCI + subquery.EI + subquery.核心 + subquery.三网 + subquery.普通 + subquery.校办), 0) AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            0 AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM (-->
<!--            SELECT-->
<!--            d_dept.dept_name AS dept_name,-->
<!--            u.user_name AS user_name,-->
<!--            COALESCE(SUM(CASE WHEN p.paper_category BETWEEN 1 AND 4 THEN 1 ELSE 0 END), 0) AS SCI,-->
<!--            COALESCE(SUM(CASE WHEN p.paper_category = 5 THEN 1 ELSE 0 END), 0) AS EI,-->
<!--            COALESCE(SUM(CASE WHEN p.paper_category = 6 THEN 1 ELSE 0 END), 0) AS 核心,-->
<!--            COALESCE(SUM(CASE WHEN p.paper_category = 7 THEN 1 ELSE 0 END), 0) AS 三网,-->
<!--            COALESCE(SUM(CASE WHEN p.paper_category = 8 THEN 1 ELSE 0 END), 0) AS 普通,-->
<!--            COALESCE(SUM(CASE WHEN p.paper_category = 9 THEN 1 ELSE 0 END), 0) AS 校办-->
<!--            FROM (-->
<!--            SELECT-->
<!--            p1.paper_title,-->
<!--            p1.paper_category,-->
<!--            u.dept_id,-->
<!--            p1.paper_ranking,-->
<!--            title_counts.title_count-->
<!--            FROM sci_paper_a p1-->
<!--            LEFT JOIN sys_user u ON p1.user_id = u.user_id-->
<!--            JOIN (-->
<!--            SELECT paper_title, COUNT(*) AS title_count-->
<!--            FROM sci_paper_a-->
<!--            GROUP BY paper_title-->
<!--            ) title_counts ON p1.paper_title = title_counts.paper_title-->
<!--            WHERE p1.state = 8-->
<!--            ) p-->
<!--            LEFT JOIN sys_dept d_dept ON p.dept_id = d_dept.dept_id-->
<!--            LEFT JOIN sys_user u ON u.dept_id = d_dept.dept_id-->
<!--            WHERE-->
<!--            (p.title_count = 1)-->
<!--            OR (p.title_count > 1 AND p.paper_ranking = 1)-->
<!--            GROUP BY-->
<!--            d_dept.dept_name,-->
<!--            u.user_name-->
<!--            ) subquery-->
<!--            GROUP BY-->
<!--            subquery.dept_name,-->
<!--            subquery.user_name-->

<!--            UNION ALL-->

<!--            &#45;&#45; 教材著作-->
<!--            SELECT-->
<!--            d_dept.dept_name AS 专业,-->
<!--            u.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            COALESCE(COUNT(DISTINCT a1.id), 0) AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            0 AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM (-->
<!--            SELECT-->
<!--            a1.id,-->
<!--            a1.user_id-->
<!--            FROM sci_jiaocairuanzhu a1-->
<!--            INNER JOIN (-->
<!--            SELECT-->
<!--            mingcheng,-->
<!--            MIN(paiming) AS min_paiming-->
<!--            FROM sci_jiaocairuanzhu-->
<!--            WHERE state = 6-->
<!--            GROUP BY mingcheng-->
<!--            ) a2 ON a1.mingcheng = a2.mingcheng AND a1.paiming = a2.min_paiming-->
<!--            ) a1-->
<!--            INNER JOIN sys_user u ON a1.user_id = u.user_id-->
<!--            INNER JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--            GROUP BY-->
<!--            d_dept.dept_id,-->
<!--            u.user_name-->

<!--            UNION ALL-->

<!--            &#45;&#45; 专利-->
<!--            SELECT-->
<!--            d_dept.dept_name AS 专业,-->
<!--            u.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            COALESCE(SUM(CASE WHEN a1.fenlei IN (1,2,3) THEN 1 ELSE 0 END), 0) AS 专利,-->
<!--            0 AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM (-->
<!--            SELECT-->
<!--            a1.id,-->
<!--            a1.fenlei,-->
<!--            a1.paiming,-->
<!--            a1.user_id-->
<!--            FROM sci_zhuanliruanzhu a1-->
<!--            INNER JOIN (-->
<!--            SELECT-->
<!--            mingcheng,-->
<!--            MIN(paiming) AS min_paiming-->
<!--            FROM sci_zhuanliruanzhu-->
<!--            WHERE state = 6-->
<!--            GROUP BY mingcheng-->
<!--            ) a2 ON a1.mingcheng = a2.mingcheng AND a1.paiming = a2.min_paiming-->
<!--            ) a1-->
<!--            INNER JOIN sys_user u ON a1.user_id = u.user_id-->
<!--            INNER JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--            GROUP BY-->
<!--            d_dept.dept_id,-->
<!--            u.user_name-->

<!--            UNION ALL-->

<!--            &#45;&#45; 软著-->
<!--            SELECT-->
<!--            d_dept.dept_name AS 专业,-->
<!--            u.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            COALESCE(SUM(CASE WHEN a1.fenlei = 4 THEN 1 ELSE 0 END), 0) AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM (-->
<!--            SELECT-->
<!--            a1.id,-->
<!--            a1.fenlei,-->
<!--            a1.paiming,-->
<!--            a1.user_id,-->
<!--            a2.mingcheng-->
<!--            FROM sci_zhuanliruanzhu a1-->
<!--            INNER JOIN (-->
<!--            SELECT-->
<!--            mingcheng,-->
<!--            MIN(paiming) AS min_paiming-->
<!--            FROM sci_zhuanliruanzhu-->
<!--            WHERE state = 6-->
<!--            GROUP BY mingcheng-->
<!--            ) a2 ON a1.mingcheng = a2.mingcheng AND a1.paiming = a2.min_paiming-->
<!--            ) a1-->
<!--            INNER JOIN sys_user u ON a1.user_id = u.user_id-->
<!--            INNER JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--            GROUP BY-->
<!--            d_dept.dept_id,-->
<!--            u.user_name-->

<!--            UNION ALL-->

<!--            &#45;&#45; 奖励类-->
<!--            SELECT-->
<!--            d_dept.dept_name AS 专业,-->
<!--            u.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            0 AS 软著,-->
<!--            COALESCE(COUNT(s.id), 0) AS 奖励类,-->
<!--            0 AS 学术报告-->
<!--            FROM sys_reward s-->
<!--            LEFT JOIN sys_user u ON s.user_id = u.user_id-->
<!--            LEFT JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--            WHERE s.state = 6-->
<!--            GROUP BY-->
<!--            d_dept.dept_id,-->
<!--            u.user_name-->

<!--            UNION ALL-->

<!--            &#45;&#45; 学术报告-->
<!--            SELECT-->
<!--            d_dept.dept_name AS 专业,-->
<!--            u.user_name AS 教师,-->
<!--            0 AS `纵向科研项目-校级以上`,-->
<!--            0 AS `纵向科研项目-校级`,-->
<!--            0 AS `横向课题科研项目`,-->
<!--            0 AS `成果转化`,-->
<!--            0 AS `学术论文`,-->
<!--            0 AS `教材著作`,-->
<!--            0 AS 专利,-->
<!--            0 AS 软著,-->
<!--            0 AS 奖励类,-->
<!--            COALESCE(COUNT(s.id), 0) AS 学术报告-->
<!--            FROM sci_lecture_report s-->
<!--            LEFT JOIN sys_user u ON s.user_id = u.user_id-->
<!--            LEFT JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--            GROUP BY-->
<!--            d_dept.dept_id,-->
<!--            u.user_name-->
<!--            ) temp ON dept.dept_name = temp.专业 AND user.user_name = temp.教师-->
<!--        WHERE dept.dept_id = #{dept} &#45;&#45; 添加专业筛选条件-->
<!--        GROUP BY-->
<!--            dept.dept_name,-->
<!--            user.user_name-->
<!--        ORDER BY-->
<!--            dept.dept_name,-->
<!--            user.user_name-->
<!--    </select>-->

<!--    <select id="selectTotalJZ">-->
<!--        SELECT-->
<!--            SUM(`纵向科研项目-校级以上`) AS `纵向科研项目-校级以上`,-->
<!--            SUM(`纵向科研项目-校级`) AS `纵向科研项目-校级`,-->
<!--            SUM(`横向课题科研项目`) AS `横向课题科研项目`,-->
<!--            SUM(转化成果数量) AS 成果转化,-->
<!--            SUM(`学术论文`) AS `学术论文`,-->
<!--            SUM(`教材著作`) AS `教材著作`,-->
<!--            SUM(专利) AS 专利,-->
<!--            SUM(软著) AS 软著,-->
<!--            SUM(奖励类) AS 奖励类,-->
<!--            SUM(学术报告) AS 学术报告-->
<!--        FROM (-->
<!--                 SELECT-->
<!--                     dept.dept_name AS 专业,-->
<!--                     user.user_name AS 教师,-->
<!--                     COALESCE(SUM(temp.`纵向科研项目-校级以上`), 0) AS `纵向科研项目-校级以上`,-->
<!--                     COALESCE(SUM(temp.`纵向科研项目-校级`), 0) AS `纵向科研项目-校级`,-->
<!--                     COALESCE(SUM(temp.`横向课题科研项目`), 0) AS `横向课题科研项目`,-->
<!--                     COALESCE(SUM(temp.转化成果数量), 0) AS 转化成果数量,-->
<!--                     COALESCE(SUM(temp.`学术论文`), 0) AS `学术论文`,-->
<!--                     COALESCE(SUM(temp.`教材著作`), 0) AS `教材著作`,-->
<!--                     COALESCE(SUM(temp.专利), 0) AS 专利,-->
<!--                     COALESCE(SUM(temp.软著), 0) AS 软著,-->
<!--                     COALESCE(SUM(temp.奖励类), 0) AS 奖励类,-->
<!--                     COALESCE(SUM(temp.学术报告), 0) AS 学术报告-->
<!--                 FROM-->
<!--                     sys_user AS user-->
<!--    JOIN-->
<!--        sys_dept AS dept ON user.dept_id = dept.dept_id-->
<!--                     LEFT JOIN (-->
<!--                     &#45;&#45; 纵向科研项目-校级以上-->
<!--                     SELECT-->
<!--                     dept.dept_name AS 专业,-->
<!--                     user.user_name AS 教师,-->
<!--                     COALESCE(SUM(subquery.count_type), 0) AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     a.user_id,-->
<!--                     COUNT(*) AS count_type-->
<!--                     FROM-->
<!--                     sci_horizontal_apply_vertical AS a-->
<!--                     WHERE-->
<!--                     a.top_type NOT IN (6,7)-->
<!--                     AND a.state = 66-->
<!--                     GROUP BY-->
<!--                     a.user_id-->
<!--                     ) AS subquery-->
<!--                     JOIN sys_user AS user ON user.user_id = subquery.user_id-->
<!--                     JOIN sys_dept AS dept ON user.dept_id = dept.dept_id-->
<!--                     GROUP BY-->
<!--                     dept.dept_name,-->
<!--                     user.user_name-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 纵向科研项目-校级-->
<!--                     SELECT-->
<!--                     dept.dept_name AS 专业,-->
<!--                     user.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     COALESCE(SUM(subquery.count_type), 0) AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     a.user_id,-->
<!--                     COUNT(*) AS count_type-->
<!--                     FROM-->
<!--                     sci_horizontal_apply_vertical AS a-->
<!--                     WHERE-->
<!--                     a.top_type IN (6,7)-->
<!--                     AND a.state = 66-->
<!--                     GROUP BY-->
<!--                     a.user_id-->
<!--                     ) AS subquery-->
<!--                     JOIN sys_user AS user ON user.user_id = subquery.user_id-->
<!--                     JOIN sys_dept AS dept ON user.dept_id = dept.dept_id-->
<!--                     GROUP BY-->
<!--                     dept.dept_name,-->
<!--                     user.user_name-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 横向课题科研项目-->
<!--                     SELECT-->
<!--                     dept.dept_name AS 专业,-->
<!--                     user.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     COALESCE(SUM(subquery.count_amount), 0) AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     a.user_id,-->
<!--                     COUNT(*) AS count_amount-->
<!--                     FROM-->
<!--                     sci_horizontal_apply AS a-->
<!--                     WHERE-->
<!--                     a.state = 6-->
<!--                     GROUP BY-->
<!--                     a.user_id-->
<!--                     ) AS subquery-->
<!--                     JOIN sys_user AS user ON user.user_id = subquery.user_id-->
<!--                     JOIN sys_dept AS dept ON user.dept_id = dept.dept_id-->
<!--                     GROUP BY-->
<!--                     dept.dept_name,-->
<!--                     user.user_name-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 转化成果-->
<!--                     SELECT-->
<!--                     d.dept_name AS 专业,-->
<!--                     u.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     COALESCE(p1.count, 0) AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     d.dept_id,-->
<!--                     COALESCE(COUNT(*), 0) AS count-->
<!--                     FROM-->
<!--                     sci_IntraSchPro_apply sc-->
<!--                     LEFT JOIN sys_user u ON u.user_id = sc.user_id-->
<!--                     LEFT JOIN sys_dept d ON d.dept_id = u.dept_id-->
<!--                     WHERE-->
<!--                     sc.state = 6-->
<!--                     GROUP BY-->
<!--                     d.dept_id-->
<!--                     ) p1-->
<!--                     LEFT JOIN sys_dept d ON d.dept_id = p1.dept_id-->
<!--                     LEFT JOIN sys_user u ON u.dept_id = d.dept_id-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 学术论文-->
<!--                     SELECT-->
<!--                     subquery.dept_name AS 专业,-->
<!--                     subquery.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     COALESCE(SUM(subquery.SCI + subquery.EI + subquery.核心 + subquery.三网 + subquery.普通 + subquery.校办), 0) AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     d_dept.dept_name AS dept_name,-->
<!--                     u.user_name AS user_name,-->
<!--                     COALESCE(SUM(CASE WHEN p.paper_category BETWEEN 1 AND 4 THEN 1 ELSE 0 END), 0) AS SCI,-->
<!--                     COALESCE(SUM(CASE WHEN p.paper_category = 5 THEN 1 ELSE 0 END), 0) AS EI,-->
<!--                     COALESCE(SUM(CASE WHEN p.paper_category = 6 THEN 1 ELSE 0 END), 0) AS 核心,-->
<!--                     COALESCE(SUM(CASE WHEN p.paper_category = 7 THEN 1 ELSE 0 END), 0) AS 三网,-->
<!--                     COALESCE(SUM(CASE WHEN p.paper_category = 8 THEN 1 ELSE 0 END), 0) AS 普通,-->
<!--                     COALESCE(SUM(CASE WHEN p.paper_category = 9 THEN 1 ELSE 0 END), 0) AS 校办-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     p1.paper_title,-->
<!--                     p1.paper_category,-->
<!--                     u.dept_id,-->
<!--                     p1.paper_ranking,-->
<!--                     title_counts.title_count-->
<!--                     FROM sci_paper_a p1-->
<!--                     LEFT JOIN sys_user u ON p1.user_id = u.user_id-->
<!--                     JOIN (-->
<!--                     SELECT paper_title, COUNT(*) AS title_count-->
<!--                     FROM sci_paper_a-->
<!--                     GROUP BY paper_title-->
<!--                     ) title_counts ON p1.paper_title = title_counts.paper_title-->
<!--                     WHERE p1.state = 8-->
<!--                     ) p-->
<!--                     LEFT JOIN sys_dept d_dept ON p.dept_id = d_dept.dept_id-->
<!--                     LEFT JOIN sys_user u ON u.dept_id = d_dept.dept_id-->
<!--                     WHERE-->
<!--                     (p.title_count = 1)-->
<!--                     OR (p.title_count > 1 AND p.paper_ranking = 1)-->
<!--                     GROUP BY-->
<!--                     d_dept.dept_name,-->
<!--                     u.user_name-->
<!--                     ) subquery-->
<!--                     GROUP BY-->
<!--                     subquery.dept_name,-->
<!--                     subquery.user_name-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 教材著作-->
<!--                     SELECT-->
<!--                     d_dept.dept_name AS 专业,-->
<!--                     u.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     COALESCE(COUNT(DISTINCT a1.id), 0) AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     a1.id,-->
<!--                     a1.user_id-->
<!--                     FROM sci_jiaocairuanzhu a1-->
<!--                     INNER JOIN (-->
<!--                     SELECT-->
<!--                     mingcheng,-->
<!--                     MIN(paiming) AS min_paiming-->
<!--                     FROM sci_jiaocairuanzhu-->
<!--                     WHERE state = 6-->
<!--                     GROUP BY mingcheng-->
<!--                     ) a2 ON a1.mingcheng = a2.mingcheng AND a1.paiming = a2.min_paiming-->
<!--                     ) a1-->
<!--                     INNER JOIN sys_user u ON a1.user_id = u.user_id-->
<!--                     INNER JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--                     GROUP BY-->
<!--                     d_dept.dept_id,-->
<!--                     u.user_name-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 专利-->
<!--                     SELECT-->
<!--                     d_dept.dept_name AS 专业,-->
<!--                     u.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     COALESCE(SUM(CASE WHEN a1.fenlei IN (1,2,3) THEN 1 ELSE 0 END), 0) AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     a1.id,-->
<!--                     a1.fenlei,-->
<!--                     a1.paiming,-->
<!--                     a1.user_id-->
<!--                     FROM sci_zhuanliruanzhu a1-->
<!--                     INNER JOIN (-->
<!--                     SELECT-->
<!--                     mingcheng,-->
<!--                     MIN(paiming) AS min_paiming-->
<!--                     FROM sci_zhuanliruanzhu-->
<!--                     WHERE state = 6-->
<!--                     GROUP BY mingcheng-->
<!--                     ) a2 ON a1.mingcheng = a2.mingcheng AND a1.paiming = a2.min_paiming-->
<!--                     ) a1-->
<!--                     INNER JOIN sys_user u ON a1.user_id = u.user_id-->
<!--                     INNER JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--                     GROUP BY-->
<!--                     d_dept.dept_id,-->
<!--                     u.user_name-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 软著-->
<!--                     SELECT-->
<!--                     d_dept.dept_name AS 专业,-->
<!--                     u.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     COALESCE(SUM(CASE WHEN a1.fenlei = 4 THEN 1 ELSE 0 END), 0) AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM (-->
<!--                     SELECT-->
<!--                     a1.id,-->
<!--                     a1.fenlei,-->
<!--                     a1.paiming,-->
<!--                     a1.user_id,-->
<!--                     a2.mingcheng-->
<!--                     FROM sci_zhuanliruanzhu a1-->
<!--                     INNER JOIN (-->
<!--                     SELECT-->
<!--                     mingcheng,-->
<!--                     MIN(paiming) AS min_paiming-->
<!--                     FROM sci_zhuanliruanzhu-->
<!--                     WHERE state = 6-->
<!--                     GROUP BY mingcheng-->
<!--                     ) a2 ON a1.mingcheng = a2.mingcheng AND a1.paiming = a2.min_paiming-->
<!--                     ) a1-->
<!--                     INNER JOIN sys_user u ON a1.user_id = u.user_id-->
<!--                     INNER JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--                     GROUP BY-->
<!--                     d_dept.dept_id,-->
<!--                     u.user_name-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 奖励类-->
<!--                     SELECT-->
<!--                     d_dept.dept_name AS 专业,-->
<!--                     u.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     COALESCE(COUNT(s.id), 0) AS 奖励类,-->
<!--                     0 AS 学术报告-->
<!--                     FROM sys_reward s-->
<!--                     LEFT JOIN sys_user u ON s.user_id = u.user_id-->
<!--                     LEFT JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--                     WHERE s.state = 6-->
<!--                     GROUP BY-->
<!--                     d_dept.dept_id,-->
<!--                     u.user_name-->

<!--                     UNION ALL-->

<!--                     &#45;&#45; 学术报告-->
<!--                     SELECT-->
<!--                     d_dept.dept_name AS 专业,-->
<!--                     u.user_name AS 教师,-->
<!--                     0 AS `纵向科研项目-校级以上`,-->
<!--                     0 AS `纵向科研项目-校级`,-->
<!--                     0 AS `横向课题科研项目`,-->
<!--                     0 AS 转化成果数量,-->
<!--                     0 AS `学术论文`,-->
<!--                     0 AS `教材著作`,-->
<!--                     0 AS 专利,-->
<!--                     0 AS 软著,-->
<!--                     0 AS 奖励类,-->
<!--                     COALESCE(COUNT(s.id), 0) AS 学术报告-->
<!--                     FROM sci_lecture_report s-->
<!--                     LEFT JOIN sys_user u ON s.user_id = u.user_id-->
<!--                     LEFT JOIN sys_dept d_dept ON u.dept_id = d_dept.dept_id-->
<!--                     GROUP BY-->
<!--                     d_dept.dept_id,-->
<!--                     u.user_name-->
<!--                     ) temp ON dept.dept_name = temp.专业 AND user.user_name = temp.教师-->
<!--                 WHERE dept.dept_id = #{dept} &#45;&#45; 添加专业筛选条件-->
<!--                 GROUP BY-->
<!--                     dept.dept_name,-->
<!--                     user.user_name-->
<!--             ) AS total-->
<!--        ORDER BY-->
<!--            专业,-->
<!--            教师;-->
<!--    </select>-->
</mapper>