<?xml version="1.0" encoding="UTF-8" ?>
<!--教研室科研工作任务计划表-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StatisticMapper">

    <resultMap type="ResearchWorkload" id="ResearchWorkloadResult">
        <result property="parentId"    column="partenId"    />
        <result property="parentName"    column="partenName"    />
        <result property="deptId"    column="deptId"    />
        <result property="deptName"    column="deptName"    />
        <result property="userId"    column="userId"    />
        <result property="userName"    column="userName"    />
        <result property="hxkt"    column="hxkt"    />
        <result property="zxktxj"    column="zxktxj"    />
        <result property="zxktxjys"    column="zxktxjys"    />
        <result property="cgzh"    column="cgzh"    />
        <result property="xslw"    column="xslw"    />
        <result property="jczz"    column="jczz"    />
        <result property="zl"    column="zl"    />
        <result property="rz"    column="rz"    />
        <result property="jl"    column="jl"    />
        <result property="jzbg"    column="jzbg"    />
    </resultMap>


    <select id="selectAllTeacher" parameterType="List" resultMap="ResearchWorkloadResult">
        select userId, userName, partenId, partenName, deptId, deptName, hxkt, zxktxj, zxktxjys, cgzh, xslw, jczz, zl, rz, jl, jzbg from alltotle_score
        <where>
            <if test="list != null and list.size() > 0">
                AND partenId IN
                <foreach collection="list" item="dictValue" open="(" separator="," close=")">
                    #{dictValue}
                </foreach>
            </if>
        </where>
        order by partenId, deptId
    </select>

    <select id="selectAllDept" parameterType="List" resultMap="ResearchWorkloadResult">
        select partenId, partenName, deptId, deptName,SUM(hxkt) hxkt,SUM(zxktxj) zxktxj,SUM(zxktxjys) zxktxjys,SUM(cgzh) cgzh,SUM(xslw) xslw,SUM(jczz) jczz,SUM(zl) zl,SUM(rz) rz,SUM(jl) jl,SUM(jzbg) jzbg from alltotle_score
        <where>
            <if test="list != null and list.size() > 0">
                AND partenId IN
                <foreach collection="list" item="dictValue" open="(" separator="," close=")">
                    #{dictValue}
                </foreach>
            </if>
        </where>
        GROUP BY deptId, deptName
        order by partenId, deptId
    </select>

</mapper>