<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRewardXueyuanMapper">
    <sql id="All">
    SELECT
    partenName AS `学院`,
    deptName AS `专业`,
    SUM(zcgjjjkyxm + zcsbjjjkyxm + zcsbjjgxm + zcsbjzxkyxm + zctjjxhjkyxm ) AS `纵向科研项目-校级以上`,
    SUM(zcxjjxglxmywyys + zcxjjxglxmywyyx) AS `纵向科研项目-校级`,
    SUM(ewyyx + edwwy + wdswy  + sdeswy + esdsswwy + wswwydwswy + wsdqswwy + qswdybwy ) AS `横向课题科研项目`,
    SUM(eyxxx + edwxx + wdsxx + sdesxx + esdsswxx + sswdwsxx + dywsxx ) AS `成果转化`,
    SUM(SCI + EI + hx + sw + pt + xb ) AS `学术论文`,
    SUM(cbzz1 + cbzz2+ cbyz1+ cbyz2 ) AS `专著`,
    SUM(cbjc1 + cbjc2 + zbjc) AS `教材`,
    SUM(sqfmzl + syxxzl + wxsjzl ) AS `专利`,
    SUM(jsjrjzzq ) AS `软著`,
    SUM(sjjxcgj + sjkxjsj + sjyljpkpb + stjjzrkxlpj + stjjsklpj + xjjxcgj + yyxkyxjcgj + xjjpkpb +  jscjsjdshj ) AS `奖励`,
    SUM(jbgj + jbgn + cjgj + cjgn + xjxs  ) AS `学术报告(讲座类)`
    FROM Alltotle
    </sql>
    <select id="selectAll" parameterType="map" resultType="map">
        <include refid="All"/>
        WHERE
            partenId = #{dept}
        GROUP BY
            partenName, deptName
    </select>

    <sql id ="Total">
        SELECT
            SUM(COALESCE(zcgjjjkyxm, 0)) +
            SUM(COALESCE(zcsbjjjkyxm, 0)) +
            SUM(COALESCE(zcsbjjgxm, 0)) +
            SUM(COALESCE(zcsbjzxkyxm, 0)) +
            SUM(COALESCE(zctjjxhjkyxm, 0)) AS '纵向科研项目-校级以上',

                SUM(COALESCE(zcxjjxglxmywyys, 0)) +
                    SUM(COALESCE(zcxjjxglxmywyyx, 0)) AS '纵向科研项目-校级',

                SUM(COALESCE(ewyyx, 0)) +
                SUM(COALESCE(edwwy, 0)) +
                SUM(COALESCE(wdswy, 0)) +
                SUM(COALESCE(sdeswy, 0)) +
                SUM(COALESCE(esdsswwy, 0)) +
                SUM(COALESCE(wswwydwswy, 0)) +
                SUM(COALESCE(wsdqswwy, 0)) +
                    SUM(COALESCE(qswdybwy, 0)) AS '横向课题科研项目',

                SUM(COALESCE(eyxxx, 0)) +
                SUM(COALESCE(edwxx, 0)) +
                SUM(COALESCE(wdsxx, 0)) +
                SUM(COALESCE(sdesxx, 0)) +
                SUM(COALESCE(esdsswxx, 0)) +
                SUM(COALESCE(sswdwsxx, 0)) +
                    SUM(COALESCE(dywsxx, 0)) AS '成果转化',

                SUM(COALESCE(SCI, 0)) +
                SUM(COALESCE(EI, 0)) +
                SUM(COALESCE(hx, 0)) +
                SUM(COALESCE(sw, 0)) +
                SUM(COALESCE(pt, 0)) +
                    SUM(COALESCE(xb, 0)) AS '学术论文',

                SUM(COALESCE(zz, 0)) +
                    SUM(COALESCE(jc, 0)) AS '教材著作',

                SUM(COALESCE(sqfmzl, 0)) +
                SUM(COALESCE(syxxzl, 0)) +
                    SUM(COALESCE(wxsjzl, 0)) AS '专利',

                SUM(COALESCE(sjjxcgj, 0)) AS '软著',

                SUM(COALESCE(sjjxcgj, 0)) +
                SUM(COALESCE(sjkxjsj, 0)) +
                SUM(COALESCE(sjyljpkpb, 0)) +
                SUM(COALESCE(stjjzrkxlpj, 0)) +
                SUM(COALESCE(stjjsklpj, 0)) +
                SUM(COALESCE(xjjxcgj, 0)) +
                SUM(COALESCE(yyxkyxjcgj, 0)) +
                SUM(COALESCE(xjjpkpb, 0)) +
                    SUM(COALESCE(jscjsjdshj, 0)) AS '奖励',

                SUM(COALESCE(jbgj, 0)) +
                SUM(COALESCE(jbgn, 0)) +
                SUM(COALESCE(cjgj, 0)) +
                SUM(COALESCE(cjgn, 0)) +
                    SUM(COALESCE(xjxs, 0)) AS '学术报告(讲座类)'
        FROM
            Alltotle

    </sql>
    <select id="selectTotal">
        <include refid="Total"/>
        WHERE
        partenId = #{dept}
    </select>

<select id="selectXuexiao" parameterType="map" resultType="java.util.LinkedHashMap">
    SELECT
    `学院`,
    `专业`,
    `纵向科研项目-校级以上`,
    `纵向科研项目-校级`,
    `横向课题科研项目`,
    `成果转化`,
    `学术论文`,
    `专著`,
    `教材`,
    `专利`,
    `软著`,
    `奖励`,
    `学术报告(讲座类)`
    FROM (
        <include refid="All"/>
        <where>
            <choose>
                <when test="dept == 1165">
                    partenId IN (1139, 1140,1147,1145,1150,1155,1143,1149)
                </when>
                <otherwise>
                    partenId = #{dept}
                </otherwise>
            </choose>
        </where>
        GROUP BY partenName, deptName
    ) tmp
</select>


<select id="selectXuexiaoall" parameterType="map" resultType="map">
    <include refid="Total"/>
    <where>
        <choose>
            <when test="dept == 1165">
                partenId IN (
                    1139, 1140,1147,1145,
                    1150,1155,1143,1149
                )
            </when>
            <otherwise>
                partenId = #{dept}
            </otherwise>
        </choose>
    </where>
</select>



</mapper>