<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SynrewardDataMapper">
    <update id="Reward">
        UPDATE Alltotle a
            JOIN (
            SELECT
            user_id,
            CONCAT(SUM(CASE WHEN reward_fenlei = 1 THEN 1 ELSE 0 END), '个') AS fenlei_1,
            CONCAT(SUM(CASE WHEN reward_fenlei = 2 THEN 1 ELSE 0 END), '个') AS fenlei_2,
            CONCAT(SUM(CASE WHEN reward_fenlei = 3 THEN 1 ELSE 0 END), '个') AS fenlei_3,
            CONCAT(SUM(CASE WHEN reward_fenlei = 4 THEN 1 ELSE 0 END), '个') AS fenlei_4,
            CONCAT(SUM(CASE WHEN reward_fenlei = 5 THEN 1 ELSE 0 END), '个') AS fenlei_5,
            CONCAT(SUM(CASE WHEN reward_fenlei = 6 THEN 1 ELSE 0 END), '个') AS fenlei_6,
            CONCAT(SUM(CASE WHEN reward_fenlei = 7 THEN 1 ELSE 0 END), '个') AS fenlei_7,
            CONCAT(SUM(CASE WHEN reward_fenlei = 8 THEN 1 ELSE 0 END), '个') AS fenlei_8
            FROM sys_reward
            WHERE state = 6
            GROUP BY user_id
            ) AS stats ON a.userId = stats.user_id
            SET
                a.sjjxcgj = COALESCE(stats.fenlei_1, 0),
                a.sjkxjsj = COALESCE(stats.fenlei_2, 0),
                a.sjyljpkpb = COALESCE(stats.fenlei_3, 0),
                a.stjjzrkxlpj = COALESCE(stats.fenlei_4, 0),
                a.stjjsklpj = COALESCE(stats.fenlei_5, 0),
                a.xjjxcgj = COALESCE(stats.fenlei_6, 0),
                a.yyxkyxjcgj = COALESCE(stats.fenlei_7, 0),
                a.xjjpkpb = COALESCE(stats.fenlei_8, 0)
    </update>



</mapper>