<!DOCTYPE html>

<!--教研室科研工作量-->

<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('表格虚拟滚动')" />
</head>
<body>
<div class="container-div">
    <div class="btn-group-sm" id="toolbar" role="group">
        &nbsp;&nbsp;<span id="total" class="badge badge-success"></span>
    </div>
    <div class="row">
        <div class="col-sm-12 select-table table-bordered">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script>
    var prefix = "jysky";
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: '教研室科研工作量',
            method: "post",
            sidePagination: "server",
            pagination: true,
            showSearch: false,
            virtualScroll: true,
            columns: [
                {
                    checkbox: true, // 添加多选框列
                    align: 'center'
                },
                { field: 'deptName', title: '教研室', align: 'center' },
                { field: 'userName', title: '&nbsp;&nbsp;&nbsp;教师&nbsp;&nbsp;&nbsp;', align: 'center' },
                { field: 'zxktxjys', title: '纵向课题科研项目-校级以上', align: 'center' },
                { field: 'zxktxj', title: '纵向课题科研项目-校级', align: 'center' },
                { field: 'hxkt', title: '横向课题科研项目', align: 'center' },
                { field: 'cgzh', title: '成果转化', align: 'center' },
                { field: 'xslw', title: '学术论文', align: 'center' },
                { field: 'jczz', title: '教材著作', align: 'center' },
                { field: 'zlrz', title: '专利、软著', align: 'center' },
                { field: 'jl', title: '&nbsp;&nbsp;&nbsp;奖励&nbsp;&nbsp;&nbsp;', align: 'center' },
                { field: 'jzbg', title: '学术报告(讲座类)', align: 'center' }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>