<!DOCTYPE html>

<!--科研处科研工作量-->

<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('表格虚拟滚动')" />
    <link rel="stylesheet" th:href="@{/css/statistic/statistic-common.css}">
</head>
<body class="gray-bg">
<div class="container-div compact-layout">
    <div class="row chart-row">
        <div class="col-sm-6">
            <div id="collegeRose"></div>
        </div>
        <div class="col-sm-6">
            <div id="teacherBar"></div>
        </div>
    </div>
    <div class="row search-row-compact">
        <div class="col-sm-12 search-collapse">
            <form id="formId1">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>学院：</label>
                            <input type="text" name="pname" placeholder="请输入学院"/>
                        </li>
                        <li>
                            <label>教研室：</label>
                            <input type="text" name="dname" placeholder="请输入教研室"/>
                        </li>
                        <li>
                            <label>教师姓名：</label>
                            <input type="text" name="userName" placeholder="请输入教师姓名"/>
                        </li>
                        <li class="button-item">
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('formId1','bootstrap-table')"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('formId1')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-success btn-rounded btn-sm" onclick="$.table.exportExcel()"><i class="fa fa-download"></i>&nbsp;导出</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="row table-row-compact">
        <div class="col-sm-12 select-table table-bordered">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/js/statistic/statistic-common.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js}"></script>
<script th:src="@{/js/statistic/statistic-chart.js}"></script>
<script>
    var prefix = "researchdept";
    
    function cntScoreFormatter(scoreField, varcharValue, row) {
        var score = row[scoreField] || varcharValue || '0';
        return Number(score).toFixed(2);
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            modalName: '科研处科研工作量',
            method: "post",
            sidePagination: "server",
            pagination: true,
            showSearch: false,
            height: 500,
            columns: [
                {
                    checkbox: true,
                    align: 'center'
                },
                { field: 'parentName', title: '学院', align: 'center' },
                { field: 'deptName', title: '教研室', align: 'center' },
                { field: 'userName', title: '&nbsp;&nbsp;&nbsp;教师&nbsp;&nbsp;&nbsp;', align: 'center' },
                { field: 'zxktxjys', title: '纵向课题科研项目-校级以上', align: 'center', formatter: function(v, r) { return cntScoreFormatter('zxktxjysScore', v, r); } },
                { field: 'zxktxj', title: '纵向课题科研项目-校级', align: 'center', formatter: function(v, r) { return cntScoreFormatter('zxktxjScore', v, r); } },
                { field: 'hxkt', title: '横向课题科研项目', align: 'center', formatter: function(v, r) { return cntScoreFormatter('hxktScore', v, r); } },
                { field: 'cgzh', title: '成果转化', align: 'center', formatter: function(v, r) { return cntScoreFormatter('cgzhScore', v, r); } },
                { field: 'xslw', title: '学术论文', align: 'center', formatter: function(v, r) { return cntScoreFormatter('xslwScore', v, r); } },
                { field: 'jczz', title: '教材著作', align: 'center', formatter: function(v, r) { return cntScoreFormatter('jczzScore', v, r); } },
                { field: 'zl', title: '专利', align: 'center', formatter: function(v, r) { return cntScoreFormatter('zlScore', v, r); } },
                { field: 'rz', title: '软著', align: 'center', formatter: function(v, r) { return cntScoreFormatter('rzScore', v, r); } },
                { field: 'jl', title: '&nbsp;&nbsp;&nbsp;奖励&nbsp;&nbsp;&nbsp;', align: 'center', formatter: function(v, r) { return cntScoreFormatter('jlScore', v, r); } },
                { field: 'jzbg', title: '学术报告(讲座类)', align: 'center', formatter: function(v, r) { return cntScoreFormatter('jzbgScore', v, r); } }
            ]
        };
        $.table.init(options);
        enableAutoScroll('#bootstrap-table', { autoStart: true });
        // 初始化跨页勾选支持
        initCrossPageSelection($('#bootstrap-table'), { scope: 'kygzl-kyg' });
        initSelectionUi($('#bootstrap-table'));

        // 表格加载完成后渲染总计/小计行和图表
        $('#bootstrap-table').on('load-success.bs.table', function () {
            var $table = $(this);
            setTimeout(function() {
                applyStatRowStyle($table);
                renderCollegeRose($table);
                renderTeacherBar($table);
            }, 200);
        });

        // 勾选/取消勾选时更新图表
        $('#bootstrap-table').on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
            var $table = $(this);
            setTimeout(function() {
                renderCollegeRose($table);
                renderTeacherBar($table);
            }, 50);
        });
    });
</script>
</body>
</html>
