<!DOCTYPE html>

<!--学校业绩成果数-->

<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('表格虚拟滚动')" />
    <link rel="stylesheet" th:href="@{/css/statistic/statistic-common.css}">
</head>
<body class="gray-bg">
<div class="container-div compact-layout">
    <div class="row chart-row">
        <div class="col-sm-12">
            <div id="achievementChart" style="width:100%;"></div>
        </div>
    </div>
    <div class="row table-row-compact">
        <div class="col-sm-12">
            <div class="btn-group-sm" id="toolbar" role="group" style="margin:2px 0;padding:2px 0;">
                &nbsp;&nbsp;<span id="total" class="badge badge-success"></span>
                <a class="btn btn-warning btn-sm" onclick="$.table.exportExcel()">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
        </div>
        <div class="col-sm-12 select-table table-bordered">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<th:block th:include="include :: bootstrap-table-export-js" />
<script th:src="@{/js/statistic/statistic-common.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js}"></script>
<script th:src="@{/js/statistic/statistic-chart.js}"></script>
<script>
    var total = 0
    var prefix = ctx + 'rewardxuexiao'
    $(function() {
        var options = {
            url: prefix + "/list",
            modalName: '[[${modalName}]]',
            height: 320,
            sidePagination: "client",
            pagination: false,
            showSearch: false,
            virtualScroll: false,
            columns:[
                {
                    checkbox: true
                },
                {
                    field: 'parentName',
                    title: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                    align: 'center'
                },
                {
                    field: 'deptName',
                    title: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;专业&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                    align: 'center'
                },
                {
                    title: '纵向科研项目-校级以上',
                    align: 'center',
                    field: '纵向科研项目-校级以上'
                },
                {
                    title: '纵向科研项目-校级',
                    align: 'center',
                    field: '纵向科研项目-校级'
                },
                {
                    title: '横向课题科研项目',
                    align: 'center',
                    field: '横向课题科研项目'
                },
                {
                    title: '成果转化',
                    align: 'center',
                    field: '成果转化'
                },
                {
                    title: '学术论文',
                    align: 'center',
                    field: '学术论文'
                },
                {
                    title: '教材著作',
                    align: 'center',
                    field: '教材著作'
                },
                {
                    title: '专利',
                    align: 'center',
                    field: '专利'
                },
                {
                    title: '软著',
                    align: 'center',
                    field: '软著'
                },
                {
                    title: '奖励',
                    align: 'center',
                    field: '奖励'
                },
                {
                    title: '学术报告(讲座类)',
                    align: 'center',
                    field: '学术报告(讲座类)'
                }
            ]
        };
        $.table.init(options);
        enableAutoScroll('#bootstrap-table');
        initCrossPageSelection($('#bootstrap-table'), { scope: 'yjcg-xx' });
        initSelectionUi($('#bootstrap-table'));

        $('#bootstrap-table').on('load-success.bs.table', function () {
            var $table = $(this);
            renderAchievementRose($table);
        });

        $('#bootstrap-table').on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
            var $table = $(this);
            setTimeout(function() { renderAchievementRose($table); }, 80);
        });
    });

</script>

</body>
</html>