<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('课题立项申请')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-apply-add">
            <input type="hidden" id="reAmount" name="reAmount">
            <input type="hidden" id="accountData" name="accountData">
            <input type="hidden" id="reamountUrl" name="reamountUrl">
            <input name="amountType" id="amountType" type="hidden" value="1">
            <input type="hidden" id="state" name="state"  value="99">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">申请人：</label>
                    <div class="col-sm-8">
                        <div th:each="user : ${sysUsers}" th:if="${user.flag}">
                            <input  class="form-control" type="text" th:value="${user.userName}" readonly>
                            <input name="userId" class="form-control" type="hidden" th:value="${user.userId}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">课题编号：</label>
                    <div class="col-sm-8">
                        <input name="topNumber" class="form-control" type="text"  maxlength="20">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">课题类型：</label>
                    <div class="col-sm-8">
                        <select name="topType" class="form-control" th:with="type=${@dict.getType('sci_top_type')}" required>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">课题名称：</label>
                    <div class="col-sm-8">
                        <input name="topName" class="form-control" type="text" required  maxlength="50">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">甲方：</label>
                    <div class="col-sm-8">
                        <input name="partyA" class="form-control" type="text" required  maxlength="20">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">乙方：</label>
                    <div class="col-sm-8">
                        <input name="partyB" class="form-control" type="text" required  maxlength="20">
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">项目金额(万)：</label>
                    <div class="col-sm-8">
                        <div class="input-group ">
                            <input name="amount"  class="form-control" type="number" required>
                            <span class="input-group-addon">
                            <a href="#" title="上传到账金额"  data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle" ></i>到账金额</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">立项日期：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input autocomplete="off" name="signingData" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="col-xs-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="col-sm-4 control-label is-required">结项日期：</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <div class="input-group date">-->
<!--                            <input autocomplete="off" name="validityDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>-->
<!--                             <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">主持人：</label>
                    <div class="col-sm-8">
                        <div th:each="user : ${sysUsers}" th:if="${user.flag}">
                            <input  class="form-control" type="text" th:value="${user.userName}" readonly>
                            <input name="firstPersonId" class="form-control" type="hidden" th:value="${user.userId}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员1：</label>
                    <div class="col-sm-8">
                        <select name="secondPersonId" class="form-control m-b" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}"  th:if="${user.userId} != 1 and ${user.flag != true}" ></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员2：</label>
                    <div class="col-sm-8">
                        <select name="thirdPersonId" class="form-control m-b" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:if="${user.userId} != 1 and ${user.flag != true}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员3：</label>
                    <div class="col-sm-8">
                        <select name="fourthPersonId" class="form-control m-b" required>
                            <option value="">--请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:if="${user.userId} != 1 and ${user.flag != true}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 第5位及以后：可动态添加 -->
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">更多成员：</label>
                    <div class="col-sm-10">
                        <div id="memberContainer" class="row"></div>
                        <button type="button" id="addMemberBtn" class="btn btn-white btn-sm" title="新增成员">
                            <a href="#"><i class="fa fa-plus-circle" ></i>增加成员</a>
                        </button>
                    </div>
                </div>
            </div>


            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">立项合同：</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="contract">
                        <div class="file-loading">
                            <input class="form-control file-uploada" id="contract" name="file" type="file" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">立项备案表：</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="filing">
                        <div class="file-loading">
                            <input class="form-control file-uploadb" id="filing" name="file" type="file" >
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js" />

    <script th:inline="javascript">
        var prefix = ctx + "system/apply"
        $("#form-apply-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()){
                var firstPersonId = document.querySelector('input[name="firstPersonId"]').value;
                var secondPersonId = document.querySelector('select[name="secondPersonId"]').value;
                var thirdPersonId = document.querySelector('select[name="thirdPersonId"]').value;
                var fourthPersonId = document.querySelector('select[name="fourthPersonId"]').value;

                // 先收集前四位（主持人 + 成员1/2/3）
                var personIds = [firstPersonId, secondPersonId, thirdPersonId, fourthPersonId];

                // 再收集第5位及以后的动态成员（过滤空）
                $('.member-select').each(function(){
                    var val = $(this).val();
                    if (val) personIds.push(val);
                });

                // 校验项目金额不能为负数
                var projectAmount = $("input[name='amount']").val();
                if (parseFloat(projectAmount) <= 0) {
                    return $.modal.alertError("请输入有效的项目金额");
                }

                // 校验项目金额小数点后最多4位
                if (!/^\d+(\.\d{1,4})?$/.test(projectAmount)) {
                    return $.modal.alertError("项目金额小数点后最多4位");
                }

                // 检查是否有重复的值
                var uniqueIds = new Set(personIds);
                if (uniqueIds.size !== personIds.length) {
                    return $.modal.alertError("成员不能有重复的值");
                }
                // 至少保证有主持人 + 1 名成员
                if (personIds.length < 2) {
                    return $.modal.alertError("请至少选择一名成员");
                }

                // 将成员数组写入隐藏域，便于后端接收
                // 若后端用 RequestParam 接收，可使用逗号拼接；若用数组接收，也可直接 form 序列化多个 name=members
                // 这里采用 name="members" 多值方式，无需额外隐藏域

                if($("input[name='contract']").val()==="")
                    return $.modal.alertError("请上传合同");
                if($("input[name='filing']").val()==="")
                    return $.modal.alertError("请上传备案表");
                if($("input[name='reAmount']").val()==="")
                    return $.modal.alertError("请添加到账金额");

                // 校验课题名称、甲方、乙方不能包含特殊字符
                var topName = $("input[name='topName']").val();
                var partyA = $("input[name='partyA']").val();
                var partyB = $("input[name='partyB']").val();
                var specialCharPattern = /[@#￥%&*$!]/;

                if (specialCharPattern.test(topName)) {
                    return $.modal.alertError("课题名称不能包含特殊字符");
                }
                if (topName === "") {
                    return $.modal.alertError("课题名称不能为空或纯空格");
                }
                if (specialCharPattern.test(partyA)) {
                    return $.modal.alertError("甲方不能包含特殊字符");
                }
                if (specialCharPattern.test(partyB)) {
                    return $.modal.alertError("乙方不能包含特殊字符");
                }
                if (topName.length > 20) {
                    return $.modal.alertError("课题名称不能超过20个字符");
                }
                if (partyA && partyA.length > 20) {
                    return $.modal.alertError("甲方不能超过20个字符");
                }
                if (partyB && partyB.length > 20) {
                    return $.modal.alertError("乙方不能超过20个字符");
                }
                $.operate.saveTab(prefix + "/add", $('#form-apply-add').serialize());
            }
        }


        $("input[name='signingData']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='validityDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(".file-uploada").fileinput({
            uploadUrl: ctx + 'common/upload/hxkt',
            initialPreviewAsData: true,
            maxFileCount: 1,
            autoReplace: true,
            allowedFileExtensions: ["pdf"],
            slugCallback: function(filename) {
                if ($("input[name='topName']").val()===""){
                    $(".file-uploada").fileinput('clear');
                    $.modal.alertError("请先输入课题名称");
                    return false;
                }
                // 自定义文件名生成规则
                fileExtension = filename.split('.').pop();
                const year = new Date().getFullYear();
                const newName = year +"-"+ $("input[name='topName']").val() +"-"+ "立项合同"+ "." + fileExtension;
                return newName;
            },
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
        $(".file-uploadb").fileinput({
            uploadUrl: ctx + 'common/upload/hxkt',
            initialPreviewAsData: true,
            maxFileCount: 1,
            autoReplace: true,
            allowedFileExtensions: ["pdf"],
            slugCallback: function(filename) {
                if ($("input[name='topName']").val()===""){
                    $(".file-uploadb").fileinput('clear');
                    $.modal.alertError("请先输入课题名称");
                    return false;
                }
                // 自定义文件名生成规则
                fileExtension = filename.split('.').pop();
                const year = new Date().getFullYear();
                const newName = year +"-"+ $("input[name='topName']").val() +"-"+ "立项备案表"+ "." + fileExtension;
                return newName;
            },
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
        // 动态新增成员下拉（第5位起）
        $('#addMemberBtn').on('click', function(){
            var optionsHtml = $('select[name="secondPersonId"]').html(); // 复用固定下拉的选项
            var tpl = '\
            <div class="col-xs-3 m-b-xs member-item">\
                <div class="input-group">\
                    <select name="members" class="form-control m-b member-select">\
                        ' + optionsHtml + '\
                    </select>\
                    <span class="input-group-btn">\
                        <button class="btn btn-danger btn-sm remove-member" type="button" title="移除"><i class="fa fa-minus"></i></button>\
                    </span>\
                </div>\
            </div>';
            $('#memberContainer').append(tpl);
        });

        // 移除成员项
        $(document).on('click', '.remove-member', function(){
            $(this).closest('.member-item').remove();
        });
    </script>
</body>
<body>
<style>
    .modal.inmodal .modal-dialog {
        width: auto;  /* 宽度自适应 */
        max-width: 50%;  /* 最大宽度限制，避免过宽 */
    }
    .modal.inmodal .modal-content {
        height: 800px;
    }
    /* 使模态框的内容区域自适应高度 */
    .modal-body {
        height: 500px;  /* 最大高度，避免溢出屏幕 */
        overflow-y: auto;  /* 如果内容超出高度，显示滚动条 */
    }
    .form-group-spacing {
        margin-bottom: 10px; /* 你可以根据需要调整这个值 */
    }
</style>
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">提交到账金额</h4>
                <!--                <small class="font-bold">需要到账金额文件为佐证材料！</small>-->
            </div>
            <form class="form-horizontal m" id="form-apply-add1">
                <div class="modal-body">
                    <div class="col-xs-10">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">项目金额(万)：</label>
                            <div class="col-sm-8">
                                <input name="reAmount1" class="form-control" type="number" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-10">
                            <div class="form-group">
                                <label class="col-sm-4 control-label is-required">到账日期：</label>
                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <input name="accountData1" autocomplete="off"  class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group-spacing" ></div>

                    <div class="col-xs-10">
                        <div class="form-group">
                            <label class="col-sm-4 control-label is-required">到账文件：</label>
                            <div class="col-sm-8">
                                <input type="hidden" name="reamountUrl1">
                                <div class="file-loading">
                                    <input class="form-control amountfile-upload" id="reamountUrl1" name="file" type="file" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="submitAmount()">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function submitAmount() {
        var reAmount1 = $("input[name='reAmount1']").val();
        var accountData1 = $("input[name='accountData1']").val();
        var reamountUrl1 = $("input[name='reamountUrl1']").val();
        var projectAmount = $("input[name='amount']").val(); // 获取项目金额

        if (reAmount1 === "") {
            return $.modal.alertError("请添加到账金额");
        }

        // 校验到账金额不能为负数
        if (parseFloat(reAmount1) < 0) {
            return $.modal.alertError("到账金额不能为负数");
        }

        // 校验到账金额不能大于项目金额的70%
        if (projectAmount !== undefined && projectAmount !== "") {
            var maxAmount = parseFloat(projectAmount) * 0.7;
            if (parseFloat(reAmount1) > maxAmount) {
                return $.modal.alertError("到账金额不能大于项目金额的70%");
            }
        }

        // 去除前后空格并转换为字符串
        var value = reAmount1.trim();

        // 判断是否是有效数字
        if (isNaN(value)) {
            return $.modal.alertError("请输入有效的数字");
        }

        // 全由0组成（包括整数和小数形式）
        if (/^0+(\.0+)?$/.test(value)) {
            return $.modal.alertError("到账金额不能为零");
        }

        if (accountData1 === "") {
            return $.modal.alertError("请添加到账时间");
        }

        if (reamountUrl1 === "") {
            return $.modal.alertError("请上传到账金额文件");
        }

        if (reAmount1 && accountData1 && reamountUrl1) {
            $("#reAmount").val(reAmount1);
            $("#accountData").val(accountData1);
            $("#reamountUrl").val(reamountUrl1);
            $("#close").click();
        } else {
            return $.modal.alertError("上传信息有误");
        }
    }


    $("input[name='accountData1']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });


    $(".amountfile-upload").fileinput({
        uploadUrl: ctx + 'common/upload/hxkt',
        initialPreviewAsData: true,
        maxFileCount: 1,
        autoReplace: true,
        allowedFileExtensions: ["pdf"],
        slugCallback: function(filename) {
            if ($("input[name='reAmount1']").val()===""){
                $(".amountfile-upload").fileinput('clear');
                $.modal.alertError("请先输入到账金额");
                return false;
            }
            // 自定义文件名生成规则
            fileExtension = filename.split('.').pop();
            const year = new Date().getFullYear();
            const newName = year +"-"+ $("input[name='topName']").val() +"-"+ "金额佐证材料"+ "." + fileExtension;
            return newName;
        },
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })

</script>
</body>
</html>