<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增教材软著')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content" >
    <form class="form-horizontal m" id="form-jiaocairuanzhu-add"  enctype="multipart/form-data">
        <!--            <div class="form-group">    -->
        <!--                <label class="col-sm-3 control-label is-required">学院：</label>-->
        <!--                <div class="col-sm-8">-->
        <!--                    <select name="xueyuan" class="form-control m-b" th:with="type=${@dict.getType('sys_dept')}" required>-->
        <!--                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="form-group">    -->
        <!--                <label class="col-sm-3 control-label is-required">姓名：</label>-->
        <!--                <div class="col-sm-8">-->
        <!--                    <input name="xingming" class="form-control" type="text" required>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <input type="hidden" name="currentUser" th:value="${currentUserName}" />-->


        <div class="form-group"  style="display: none;">
            <label class="col-sm-3 control-label is-required" >姓名：</label>
            <div class="col-sm-8">
                <select name="userId" class="form-control m-b" >
                    <!--                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${user.flag}"></option>-->
                    <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${user.flag}"></option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-8">
                <input name="jifen" class="form-control" type="hidden" value="0">
            </div>

            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">教材名称：</label>
                <div class="col-sm-8">
                    <input name="mingcheng" class="form-control" type="text" required maxlength="100">
                </div>
            </div>
<!--            <div class="col-sm-6">-->
<!--                <label class="col-sm-4 control-label is-required">类型：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select name="leixing" class="form-control" th:with="type=${@dict.getType('sys_jiaocairuanzhu_leibie')}" required>-->
<!--                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->


            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">ISBN：</label>
                <div class="col-sm-8">
                    <input name="isbn"
                           class="form-control"
                           type="text"
                           required
                           inputmode="numeric"
                           pattern="\d{13}"
                           minlength="13"
                           maxlength="13"
                           title="请输入13位数字ISBN"
                           oninput="this.value=this.value.replace(/[^0-9]/g,'')" >
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">出版时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="chubanshijian" class="form-control" placeholder="yyyy-MM-dd" type="text" required autocomplete="off">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">出版社：</label>
                <div class="col-sm-8">
                    <input name="chubanshe" class="form-control" type="text" required maxlength="50">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">本校是否用书：</label>
                <div class="col-sm-8" th:with="type=${@dict.getType('sys_yes_no')}">
                    <label th:each="dict : ${type}" class="check-box">
                        <input name="benxiaoshifoyongshu" type="radio" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" required>
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">分类：</label>
                <div class="col-sm-8">

                    <select name="fenlei" class="form-control" th:with="type=${@dict.getType('sys_jiaocairuanzhu_fenlei')}">
                        <option value="" selected>----请选择----</option>

                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
<!--        <div class="form-group row">-->
<!--            <div class="col-sm-6">-->
<!--                <label class="col-sm-4 control-label is-required">排名：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select name="paiming" class="form-control" th:with="type=${@dict.getType('sys_jiaocairuanzhu_fzr')}" required>-->
<!--                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!-- 项目金额 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">项目金额(万)：</label>
                    <div class="col-sm-8">
                        <input name="amount"  class="form-control" type="number" required step="0.0001" maxlength="9">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <!-- 空出项目金额后面的位置 -->
            </div>
        </div>


<!--        <div class="row">-->
<!--            <div class="col-xs-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="col-sm-4 control-label is-required">立项日期：</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <div class="input-group date">-->
<!--                            <input autocomplete="off" name="signingData" class="form-control" placeholder="yyyy-MM-dd" type="text" required>-->
<!--                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!-- 主持人和预期科研分 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">主持人：</label>
                    <div class="col-sm-8">
                        <div th:each="user : ${sysUsers}" th:if="${user.flag}">
                            <input  class="form-control" type="text" th:value="${user.userName}" readonly>
                            <input name="firstPersonId" class="form-control" type="hidden" th:value="${user.userId}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">预期科研分：</label>
                    <div class="col-sm-8">
                        <input id="expectedScore1" class="form-control" type="text" readonly placeholder="选择课题类型和填写金额后自动计算">
                    </div>
                </div>
            </div>
        </div>

        <!-- 成员1和预期科研分 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员1：</label>
                    <div class="col-sm-8">
                        <select id="member1Select" name="secondPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}"  th:if="${user.userId} != 1 and ${user.flag != true}" ></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">预期科研分：</label>
                    <div class="col-sm-8">
                        <input id="expectedScore2" class="form-control" type="text" readonly placeholder="选择课题类型和填写金额后自动计算">
                    </div>
                </div>
            </div>
        </div>

        <!-- 成员2和预期科研分 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员2：</label>
                    <div class="col-sm-8">
                        <select id="member2Select" name="thirdPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}"  th:if="${user.userId} != 1 and ${user.flag != true}" ></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">预期科研分：</label>
                    <div class="col-sm-8">
                        <input id="expectedScore3" class="form-control" type="text" readonly placeholder="选择课题类型和填写金额后自动计算">
                    </div>
                </div>
            </div>
        </div>

        <!-- 成员3和预期科研分 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员3：</label>
                    <div class="col-sm-8">
                        <select id="member3Select" name="fourthPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">--请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}"  th:if="${user.userId} != 1 and ${user.flag != true}" ></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">预期科研分：</label>
                    <div class="col-sm-8">
                        <input id="expectedScore4" class="form-control" type="text" readonly placeholder="选择课题类型和填写金额后自动计算">
                    </div>
                </div>
            </div>
        </div>

        <!-- 主编和副主编选择 -->
        <div class="form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">主编：</label>
                <div class="col-sm-8">
                    <select name="zhubian" id="editorSelect" class="form-control select2" multiple="multiple" required>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">副主编：</label>
                <div class="col-sm-8">
                    <select name="fuzhubian" id="viceEditorSelect" class="form-control select2" multiple="multiple">
                    </select>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">教材文件：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="wenjian">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="wenjian" name="file" type="file">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- 可以在这里添加另一个输入框，如果没有则留空 -->
            </div>
        </div>
        
        <!-- 隐藏字段 -->
        <input type="hidden" name="members" id="membersInput">
        <input type="hidden" name="totalScore" id="totalScoreInput">

    </form>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"> </i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"> 关 闭 </button>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: select2-css" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var prefix = ctx + "system/jiaocairuanzhu"
    var members = [];
    var userIdToName = {};
    
    // 初始化用户ID到姓名的映射
    $(document).ready(function() {
        // 从选择框中获取所有用户信息
        $('#member1Select option').each(function() {
            var userId = $(this).val();
            var userName = $(this).text();
            if (userId) {
                userIdToName[userId] = userName;
            }
        });
        
        // 保存原始选项数据
        $('#member1Select, #member2Select, #member3Select').each(function() {
            var originalOptions = $(this).html();
            $(this).data('original-options', originalOptions);
        });
        
        // 初始化Select2组件
        $('#editorSelect, #viceEditorSelect').select2({
            placeholder: "请选择",
            allowClear: true,
            width: "100%"
        });
        
        // 添加主编和副主编的互斥选择监听
        $('#editorSelect').on('change', function() {
            updateViceEditorOptions();
        });
        
        $('#viceEditorSelect').on('change', function() {
            updateEditorOptions();
        });
        
        // 动态新增成员下拉（第5位起）
        $('#addMemberBtn').on('click', function(){
            // 获取原始选项数据
            var originalOptions = $('#member1Select').data('original-options');
            var memberCount = $('.member-item').length + 1; // 计算当前成员数量
            var memberId = 'dynamicMember' + memberCount; // 为每个动态成员生成唯一ID

            var tpl = '\
    <div class="col-xs-3 m-b-xs member-item">\
        <div class="input-group">\
            <select id="' + memberId + '" name="members" class="form-control m-b member-select select2-select" onchange="updateMemberLists()">\
                <option value="">---请选择--</option>\
            </select>\
            <span class="input-group-btn">\
                <button class="btn btn-danger btn-sm remove-member" type="button" title="移除"><i class="fa fa-minus"></i></button>\
            </span>\
        </div>\
    </div>';

            $('#memberContainer').append(tpl);

            // 初始化新添加的下拉框选项
            updateDynamicMemberList($('#' + memberId)[0]);

            // 初始化Select2
            $('#' + memberId).select2({
                placeholder: "---请选择--",
                allowClear: true,
                width: "100%"
            });
        });

        // 移除成员项
        $(document).on('click', '.remove-member', function(){
            $(this).closest('.member-item').remove();
        });
        
        // 初始化联动效果
        updateMemberLists();
        
        // 初始化Select2组件以支持搜索功能
        $('#member1Select, #member2Select, #member3Select').select2({
            placeholder: "---请选择--",
            allowClear: true,
            width: "100%"
        });
        
        // 为分类选择框添加change事件监听器，自动计算预期科研分
        $('select[name="fenlei"]').on('change', function() {
            var fenLei = $(this).val();
            if (fenLei) {
                // 调用后端API获取科研分配置
                $.ajax({
                    url: prefix + "/getScoreConfig",
                    type: "POST",
                    data: { fenLei: fenLei },
                    success: function(res) {
                        if (res.code === 0 && res.data && res.data.length > 0) {
                            // 更新科研分配置
                            updateScoreConfig(fenLei, res.data);
                            
                            // 构建排名到分数的映射
                            var scoreMap = {};
                            for (var i = 0; i < res.data.length; i++) {
                                var cfg = res.data[i];
                                // 处理排名映射：1->排名第一, 2->排名第二, 3->排名第三, 4->排名第四
                                var rankingText = '';
                                switch (cfg.paiMing) {
                                    case '1':
                                        rankingText = '排名第一';
                                        break;
                                    case '2':
                                        rankingText = '排名第二';
                                        break;
                                    case '3':
                                        rankingText = '排名第三';
                                        break;
                                    case '4':
                                        rankingText = '排名第四';
                                        break;
                                }
                                scoreMap[rankingText] = cfg.totalScore;
                            }
                            
                            // 更新各个预期科研分
                            $('#expectedScore1').val(scoreMap['排名第一'] || '0');
                            $('#expectedScore2').val(scoreMap['排名第二'] || '0');
                            $('#expectedScore3').val(scoreMap['排名第三'] || '0');
                            $('#expectedScore4').val(scoreMap['排名第四'] || '0');
                        } else {
                            // 如果没有配置，清空预期科研分
                            $('#expectedScore1').val('0');
                            $('#expectedScore2').val('0');
                            $('#expectedScore3').val('0');
                            $('#expectedScore4').val('0');
                        }
                    },
                    error: function() {
                        // 错误时清空预期科研分
                        $('#expectedScore1').val('0');
                        $('#expectedScore2').val('0');
                        $('#expectedScore3').val('0');
                        $('#expectedScore4').val('0');
                    }
                });
            } else {
                // 如果没有选择分类，清空预期科研分
                $('#expectedScore1').val('');
                $('#expectedScore2').val('');
                $('#expectedScore3').val('');
                $('#expectedScore4').val('');
            }
        });
        
        // 页面加载时触发一次分类change事件，计算初始预期科研分
        $('select[name="fenlei"]').trigger('change');
    });
    
    $("#form-jiaocairuanzhu-add").validate({
        focusCleanup: true
    });

    // 添加成员
    function addMember() {
        var memberId = $('#memberSelect').val();
        var ranking = $('#memberRanking').val();
        
        if (!memberId || !ranking) {
            $.modal.alertWarning("请选择成员并输入排名");
            return;
        }
        
        // 检查是否已添加该成员
        for (var i = 0; i < members.length; i++) {
            if (members[i].memberId == memberId) {
                $.modal.alertWarning("该成员已添加");
                return;
            }
        }
        
        // 检查排名是否已存在
        for (var i = 0; i < members.length; i++) {
            if (members[i].ranking == ranking) {
                $.modal.alertWarning("该排名已存在");
                return;
            }
        }
        
        var memberName = userIdToName[memberId];
        var researchScore = calculateResearchScore(ranking);
        
        var member = {
            memberId: memberId,
            memberName: memberName,
            ranking: ranking,
            researchScore: researchScore
        };
        
        members.push(member);
        updateMembersTable();
        updateTotalScore();
        
        // 清空输入框和选择框
        $('#memberSelect').val('').trigger('change');
        $('#memberRanking').val('');
    }
    
    // 计算科研分数
    // function calculateResearchScore(ranking) {
    //     // 根据排名计算科研分数，这里可以根据实际需求调整计算规则
    //     var score = 0;
    //     switch (ranking) {
    //         case '1':
    //             score = 10;
    //             break;
    //         case '2':
    //             score = 8;
    //             break;
    //         case '3':
    //             score = 6;
    //             break;
    //         case '4':
    //             score = 4;
    //             break;
    //         default:
    //             score = 2;
    //     }
    //     return score;
    // }
    //
    // 存储科研分配置
    var scoreConfig = {};
    
    // 计算科研分数
    function calculateResearchScore(ranking) {
        // 根据排名和当前分类计算科研分数
        var fenLei = $('select[name="fenlei"]').val();
        if (fenLei && scoreConfig[fenLei]) {
            // 处理排名映射：1->排名第一, 2->排名第二, 3->排名第三, 4->排名第四
            var rankingText = '';
            switch (ranking) {
                case '1':
                    rankingText = '排名第一';
                    break;
                case '2':
                    rankingText = '排名第二';
                    break;
                case '3':
                    rankingText = '排名第三';
                    break;
                case '4':
                    rankingText = '排名第四';
                    break;
            }
            return scoreConfig[fenLei][rankingText] || 0;
        }
        return 0;
    }
    
    // 更新科研分配置
    function updateScoreConfig(fenLei, config) {
        scoreConfig[fenLei] = {};
        for (var i = 0; i < config.length; i++) {
            var cfg = config[i];
            // 处理排名映射：1->排名第一, 2->排名第二, 3->排名第三, 4->排名第四
            var rankingText = '';
            switch (cfg.paiMing) {
                case '1':
                    rankingText = '排名第一';
                    break;
                case '2':
                    rankingText = '排名第二';
                    break;
                case '3':
                    rankingText = '排名第三';
                    break;
                case '4':
                    rankingText = '排名第四';
                    break;
            }
            scoreConfig[fenLei][rankingText] = parseInt(cfg.totalScore) || 0;
        }
    }
    
    // 自动收集表单中的主持人和成员信息到members数组
    function collectFormMembers() {
        // 清空现有成员（避免重复）
        members = [];
        
        // 收集主持人
        var hostId = $('input[name="firstPersonId"]').val();
        var hostName = $('input[name="firstPersonId"]').parent().find('input[readonly]').val();
        if (hostId && hostName) {
            members.push({
                memberId: hostId,
                memberName: hostName,
                ranking: '1',
                researchScore: calculateResearchScore('1')
            });
        }
        
        // 收集成员1
        var member1Id = $('#member1Select').val();
        var member1Name = $('#member1Select option:selected').text();
        if (member1Id && member1Name && member1Name !== '---请选择--') {
            members.push({
                memberId: member1Id,
                memberName: member1Name,
                ranking: '2',
                researchScore: calculateResearchScore('2')
            });
        }
        
        // 收集成员2
        var member2Id = $('#member2Select').val();
        var member2Name = $('#member2Select option:selected').text();
        if (member2Id && member2Name && member2Name !== '---请选择--') {
            members.push({
                memberId: member2Id,
                memberName: member2Name,
                ranking: '3',
                researchScore: calculateResearchScore('3')
            });
        }
        
        // 收集成员3
        var member3Id = $('#member3Select').val();
        var member3Name = $('#member3Select option:selected').text();
        if (member3Id && member3Name && member3Name !== '---请选择--') {
            members.push({
                memberId: member3Id,
                memberName: member3Name,
                ranking: '4',
                researchScore: calculateResearchScore('4')
            });
        }
        
        // 收集动态添加的成员
        var dynamicMembers = [];
        $('.member-select').each(function() {
            var memberId = $(this).val();
            var memberName = $(this).find('option:selected').text();
            if (memberId && memberName && memberName !== '---请选择--') {
                dynamicMembers.push({
                    memberId: memberId,
                    memberName: memberName,
                    ranking: (members.length + dynamicMembers.length + 1).toString(),
                    researchScore: calculateResearchScore((members.length + dynamicMembers.length + 1).toString())
                });
            }
        });
        
        // 添加动态成员
        members = members.concat(dynamicMembers);
        
        // 更新成员表格和总分数
        updateMembersTable();
        updateTotalScore();
    }
    
    // 更新成员表格
    function updateMembersTable() {
        var tbody = $('#membersTableBody');
        tbody.empty();
        
        for (var i = 0; i < members.length; i++) {
            var member = members[i];
            var tr = $('<tr></tr>');
            tr.html(
                '<td>' + (i + 1) + '</td>' +
                '<td>' + member.memberName + '</td>' +
                '<td>' + member.ranking + '</td>' +
                '<td>' + member.researchScore + '</td>' +
                '<td><button type="button" class="btn btn-danger btn-xs" onclick="removeMember(' + i + ')">删除</button></td>'
            );
            tbody.append(tr);
        }
        
        // 更新主编选择列表
        updateEditorSelect();
    }
    
    // 更新主编和副主编选择列表
    function updateEditorSelect() {
        var editorSelect = $('#editorSelect');
        var viceEditorSelect = $('#viceEditorSelect');
        var currentEditor = editorSelect.val();
        var currentViceEditor = viceEditorSelect.val();
        
        // 清空现有选项
        editorSelect.empty();
        viceEditorSelect.empty();
        
        // 收集所有成员（包括主持人、成员1-3和动态添加的成员）
        var allMembers = [];
        
        // 添加主持人
        var hostName = $('input[name="firstPersonId"]').parent().find('input[readonly]').val();
        var hostId = $('input[name="firstPersonId"]').val();
        if (hostName && hostId) {
            allMembers.push({ memberId: hostId, memberName: hostName });
        }
        
        // 添加成员1
        var member1Id = $('#member1Select').val();
        var member1Name = $('#member1Select option:selected').text();
        if (member1Id && member1Name && member1Name !== '---请选择--') {
            allMembers.push({ memberId: member1Id, memberName: member1Name });
        }
        
        // 添加成员2
        var member2Id = $('#member2Select').val();
        var member2Name = $('#member2Select option:selected').text();
        if (member2Id && member2Name && member2Name !== '---请选择--') {
            allMembers.push({ memberId: member2Id, memberName: member2Name });
        }
        
        // 添加成员3
        var member3Id = $('#member3Select').val();
        var member3Name = $('#member3Select option:selected').text();
        if (member3Id && member3Name && member3Name !== '---请选择--') {
            allMembers.push({ memberId: member3Id, memberName: member3Name });
        }
        
        // 添加动态成员
        $('.member-select').each(function() {
            var memberId = $(this).val();
            var memberName = $(this).find('option:selected').text();
            if (memberId && memberName && memberName !== '---请选择--') {
                allMembers.push({ memberId: memberId, memberName: memberName });
            }
        });
        
        // 添加已添加的成员作为选项
        for (var i = 0; i < allMembers.length; i++) {
            var member = allMembers[i];
            editorSelect.append('<option value="' + member.memberId + '">' + member.memberName + '</option>');
            viceEditorSelect.append('<option value="' + member.memberId + '">' + member.memberName + '</option>');
        }
        
        // 恢复之前的主编选择（如果该成员仍然存在）
        if (currentEditor && Array.isArray(currentEditor)) {
            var validEditors = [];
            for (var i = 0; i < currentEditor.length; i++) {
                var editorId = currentEditor[i];
                var memberExists = false;
                for (var j = 0; j < allMembers.length; j++) {
                    if (allMembers[j].memberId == editorId) {
                        memberExists = true;
                        break;
                    }
                }
                if (memberExists) {
                    validEditors.push(editorId);
                }
            }
            if (validEditors.length > 0) {
                editorSelect.val(validEditors);
            }
        }
        
        // 恢复之前的副主编选择（如果该成员仍然存在）
        if (currentViceEditor && Array.isArray(currentViceEditor)) {
            var validViceEditors = [];
            for (var i = 0; i < currentViceEditor.length; i++) {
                var viceEditorId = currentViceEditor[i];
                var memberExists = false;
                for (var j = 0; j < allMembers.length; j++) {
                    if (allMembers[j].memberId == viceEditorId) {
                        memberExists = true;
                        break;
                    }
                }
                if (memberExists) {
                    validViceEditors.push(viceEditorId);
                }
            }
            if (validViceEditors.length > 0) {
                viceEditorSelect.val(validViceEditors);
            }
        }
        
        // 确保主编和副主编的互斥性
        var editors = $('#editorSelect').val() || [];
        var viceEditorSelect = $('#viceEditorSelect');
        var currentViceEditors = viceEditorSelect.val() || [];
        
        // 过滤掉已选为主编的副主编
        var validViceEditors = currentViceEditors.filter(function(viceEditorId) {
            return !editors.includes(viceEditorId);
        });
        
        // 更新副主编选择
        if (validViceEditors.length > 0) {
            viceEditorSelect.val(validViceEditors);
        } else {
            viceEditorSelect.val(null);
        }
    }
    
    // 更新副主编选项，排除已选为主编的成员
    function updateViceEditorOptions() {
        var editors = $('#editorSelect').val() || [];
        var viceEditorSelect = $('#viceEditorSelect');
        var currentViceEditors = viceEditorSelect.val() || [];
        
        // 收集所有成员（包括主持人、成员1-3和动态添加的成员）
        var allMembers = [];
        
        // 添加主持人
        var hostName = $('input[name="firstPersonId"]').parent().find('input[readonly]').val();
        var hostId = $('input[name="firstPersonId"]').val();
        if (hostName && hostId) {
            allMembers.push({ memberId: hostId, memberName: hostName });
        }
        
        // 添加成员1
        var member1Id = $('#member1Select').val();
        var member1Name = $('#member1Select option:selected').text();
        if (member1Id && member1Name && member1Name !== '---请选择--') {
            allMembers.push({ memberId: member1Id, memberName: member1Name });
        }
        
        // 添加成员2
        var member2Id = $('#member2Select').val();
        var member2Name = $('#member2Select option:selected').text();
        if (member2Id && member2Name && member2Name !== '---请选择--') {
            allMembers.push({ memberId: member2Id, memberName: member2Name });
        }
        
        // 添加成员3
        var member3Id = $('#member3Select').val();
        var member3Name = $('#member3Select option:selected').text();
        if (member3Id && member3Name && member3Name !== '---请选择--') {
            allMembers.push({ memberId: member3Id, memberName: member3Name });
        }
        
        // 添加动态成员
        $('.member-select').each(function() {
            var memberId = $(this).val();
            var memberName = $(this).find('option:selected').text();
            if (memberId && memberName && memberName !== '---请选择--') {
                allMembers.push({ memberId: memberId, memberName: memberName });
            }
        });
        
        var seen = {};
        var uniqueMembers = [];
        for (var i = 0; i < allMembers.length; i++) {
            var member = allMembers[i];
            if (!seen[member.memberId]) {
                seen[member.memberId] = true;
                uniqueMembers.push(member);
            }
        }
        
        // 清空现有选项
        viceEditorSelect.empty();
        
        // 添加成员作为选项，但排除已选为主编的成员
        var validViceEditors = [];
        for (var i = 0; i < uniqueMembers.length; i++) {
            var member = uniqueMembers[i];
            if (!editors.includes(member.memberId)) {
                viceEditorSelect.append('<option value="' + member.memberId + '">' + member.memberName + '</option>');
                // 检查当前副主编是否仍然有效
                if (currentViceEditors.includes(member.memberId)) {
                    validViceEditors.push(member.memberId);
                }
            }
        }
        
        // 恢复有效的副主编选择
        if (validViceEditors.length > 0) {
            viceEditorSelect.val(validViceEditors);
        }
    }
    
    // 更新主编选项，排除已选为副主编的成员
    function updateEditorOptions() {
        var viceEditors = $('#viceEditorSelect').val() || [];
        var editorSelect = $('#editorSelect');
        var currentEditors = editorSelect.val() || [];
        
        // 收集所有成员（包括主持人、成员1-3和动态添加的成员）
        var allMembers = [];
        
        // 添加主持人
        var hostName = $('input[name="firstPersonId"]').parent().find('input[readonly]').val();
        var hostId = $('input[name="firstPersonId"]').val();
        if (hostName && hostId) {
            allMembers.push({ memberId: hostId, memberName: hostName });
        }
        
        // 添加成员1
        var member1Id = $('#member1Select').val();
        var member1Name = $('#member1Select option:selected').text();
        if (member1Id && member1Name && member1Name !== '---请选择--') {
            allMembers.push({ memberId: member1Id, memberName: member1Name });
        }
        
        // 添加成员2
        var member2Id = $('#member2Select').val();
        var member2Name = $('#member2Select option:selected').text();
        if (member2Id && member2Name && member2Name !== '---请选择--') {
            allMembers.push({ memberId: member2Id, memberName: member2Name });
        }
        
        // 添加成员3
        var member3Id = $('#member3Select').val();
        var member3Name = $('#member3Select option:selected').text();
        if (member3Id && member3Name && member3Name !== '---请选择--') {
            allMembers.push({ memberId: member3Id, memberName: member3Name });
        }
        
        // 添加动态成员
        $('.member-select').each(function() {
            var memberId = $(this).val();
            var memberName = $(this).find('option:selected').text();
            if (memberId && memberName && memberName !== '---请选择--') {
                allMembers.push({ memberId: memberId, memberName: memberName });
            }
        });
        
        var seen = {};
        var uniqueMembers = [];
        for (var i = 0; i < allMembers.length; i++) {
            var member = allMembers[i];
            if (!seen[member.memberId]) {
                seen[member.memberId] = true;
                uniqueMembers.push(member);
            }
        }
        
        // 清空现有选项
        editorSelect.empty();
        
        // 添加成员作为选项，但排除已选为副主编的成员
        var validEditors = [];
        for (var i = 0; i < uniqueMembers.length; i++) {
            var member = uniqueMembers[i];
            if (!viceEditors.includes(member.memberId)) {
                editorSelect.append('<option value="' + member.memberId + '">' + member.memberName + '</option>');
                // 检查当前主编是否仍然有效
                if (currentEditors.includes(member.memberId)) {
                    validEditors.push(member.memberId);
                }
            }
        }
        
        // 恢复有效的主编选择
        if (validEditors.length > 0) {
            editorSelect.val(validEditors);
        }
    }
    
    // 删除成员
    function removeMember(index) {
        members.splice(index, 1);
        updateMembersTable();
        updateTotalScore();
    }
    
    // 更新科研总分
    function updateTotalScore() {
        var totalScore = 0;
        for (var i = 0; i < members.length; i++) {
            totalScore += parseInt(members[i].researchScore);
        }
        $('#totalScore').text(totalScore);
        $('#totalScoreInput').val(totalScore);
    }

    function submitHandler() {
        if ($.validate.form()) {
            // 检查文件是否上传
            if ($("input[name='wenjian']").val() == "") {
                return $.modal.alertError("请上传教材文件");
            }
            
            // 自动收集主持人和成员1-3到members数组
            collectFormMembers();
            
            // 检查是否添加了成员
            if (members.length === 0) {
                return $.modal.alertWarning("请至少添加一个成员");
            }
            
            // 获取主编和副主编的选择（多选）
            const editors = $("#editorSelect").val() || [];
            const viceEditors = $("#viceEditorSelect").val() || [];
            
            // 为成员设置角色
            for (var i = 0; i < members.length; i++) {
                var member = members[i];
                if (editors.includes(member.memberId)) {
                    member.role = "主编";
                } else if (viceEditors.includes(member.memberId)) {
                    member.role = "副主编";
                } else {
                    member.role = "成员";
                }
            }
            
            // 将成员信息转换为JSON字符串
            $('#membersInput').val(JSON.stringify(members));
            
            // 获取教材名称
            const mingcheng = $("input[name='mingcheng']").val();

            // 发起异步请求验证是否存在相同记录
            $.ajax({
                url: prefix + "/checkDuplicate",
                type: "POST",
                data: { mingcheng: mingcheng },
                async: false,
                success: function (res) {
                    if (res.code !== 0) {
                        // 如果不是 code == 0，则提示错误并阻止提交
                        $.modal.alertWarning(res.msg);
                    } else {
                        // 否则正常提交
            // 手动构建表单数据，确保所有字段都被包含
            var formData = {
                mingcheng: mingcheng,
                zhubian: editors.join(','),
                fuzhubian: viceEditors.join(','),
                members: JSON.stringify(members),
                totalScore: $('#totalScoreInput').val(),
                // 其他表单字段
                userId: $('select[name="userId"]').val(),
                isbn: $('input[name="isbn"]').val(),
                chubanshijian: $('input[name="chubanshijian"]').val(),
                chubanshe: $('input[name="chubanshe"]').val(),
                benxiaoshifoyongshu: $('input[name="benxiaoshifoyongshu"]:checked').val(),
                fenlei: $('select[name="fenlei"]').val(),
                amount: $('input[name="amount"]').val(),
                expectedJifen: $('#expectedScore1').val(),
                wenjian: $('input[name="wenjian"]').val()
            };
            
            // 使用与论文添加页面相同的方式提交表单
            $.operate.saveTab(prefix + "/add", formData);
                    }
                },
                error: function () {
                    $.modal.alertError("系统异常，请稍后再试");
                }
            });

        }
    }

    $("input[name='chubanshijian']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    // 更新成员下拉框列表
    function updateMemberLists() {
        // 获取所有已选中的成员ID（使用Set自动去重）
        var selectedIds = new Set();

        // 获取三个固定成员下拉框的值
        var member1Value = $('#member1Select').val();
        var member2Value = $('#member2Select').val();
        var member3Value = $('#member3Select').val();

        // 将非空值添加到Set中
        if (member1Value) selectedIds.add(member1Value);
        if (member2Value) selectedIds.add(member2Value);
        if (member3Value) selectedIds.add(member3Value);

        // 添加动态成员的选中值
        $('.member-select').each(function() {
            var value = $(this).val();
            if (value) {
                selectedIds.add(value);
            }
        });

        // 为每个固定下拉框更新选项
        updateSelectOptions('#member1Select', member1Value, selectedIds);
        updateSelectOptions('#member2Select', member2Value, selectedIds);
        updateSelectOptions('#member3Select', member3Value, selectedIds);

        // 为每个动态下拉框更新选项
        $('.member-select').each(function() {
            updateDynamicSelectOptions($(this), $(this).val(), selectedIds);
        });
        
        // 更新主编和副主编选择列表
        updateEditorSelect();
    }

    // 更新单个下拉框的选项
    function updateSelectOptions(selectId, currentValue, selectedIds) {
        var selectElement = $(selectId);
        var originalOptions = selectElement.data('original-options');
        var isCurrentlySelected = selectElement.val(); // 保存当前选中的值

        // 清空当前选项（保留第一个提示选项）
        selectElement.find('option:not(:first)').remove();

        // 解析原始选项
        var tempDiv = $('<div>' + originalOptions + '</div>');
        var hasBlankOption = false; // 标记是否已添加空选项
        tempDiv.find('option').each(function() {
            var option = $(this);
            var value = option.val();
            // 只有当选项值为空（请选择）或未被其他下拉框选中时才添加
            // currentValue（当前下拉框已选中的值）总是会被保留，如果它不在其他下拉框中
            if (value === "" && !hasBlankOption) {
                // 只添加一次空选项
                selectElement.append(option.clone());
                hasBlankOption = true;
            } else if (value !== "" && (!selectedIds.has(value) || value === currentValue || value === "-1")) {
                // 添加非空选项，如果它未被其他下拉框选中，或者是当前下拉框已选中的值，或者userId为-1（其他）
                selectElement.append(option.clone());
            }
        });

        // 重新设置选中状态，确保选中的值仍然被选中
        if (isCurrentlySelected) {
            selectElement.val(isCurrentlySelected);
        }
    }

    // 更新动态添加的成员下拉框
    function updateDynamicMemberList(element) {
        var selectElement = $(element);
        var currentValue = selectElement.val();
        var allSelectedIds = getSelectedIds();

        // 为动态成员下拉框更新选项
        updateDynamicSelectOptions(selectElement, currentValue, allSelectedIds);
    }

    // 获取所有已选中的ID（包括固定成员和动态成员）
    function getSelectedIds() {
        var selectedIds = new Set();

        // 添加固定成员的选中值
        var member1Value = $('#member1Select').val();
        var member2Value = $('#member2Select').val();
        var member3Value = $('#member3Select').val();

        if (member1Value) selectedIds.add(member1Value);
        if (member2Value) selectedIds.add(member2Value);
        if (member3Value) selectedIds.add(member3Value);

        // 添加动态成员的选中值
        $('.member-select').each(function() {
            var value = $(this).val();
            if (value) {
                selectedIds.add(value);
            }
        });
        return selectedIds;
    }

    // 更新动态下拉框的选项
    function updateDynamicSelectOptions(selectElement, currentValue, selectedIds) {
        var originalOptions = $('#member1Select').data('original-options');
        var isCurrentlySelected = selectElement.val(); // 保存当前选中的值

        // 清空当前选项（保留第一个提示选项）
        selectElement.find('option:not(:first)').remove();
        // 解析原始选项
        var tempDiv = $('<div>' + originalOptions + '</div>');
        var hasBlankOption = false; // 标记是否已添加空选项
        tempDiv.find('option').each(function() {
            var option = $(this);
            var value = option.val();
            // 只有当选项值为空（请选择）或未被其他下拉框选中时才添加
            // currentValue（当前下拉框已选中的值）总是会被保留，如果它不在其他下拉框中
            if (value === "" && !hasBlankOption) {
                // 只添加一次空选项
                selectElement.append(option.clone());
                hasBlankOption = true;
            } else if (value !== "" && (!selectedIds.has(value) || value === currentValue || value === "-1")) {
                // 添加非空选项，如果它未被其他下拉框选中，或者是当前下拉框已选中的值，或者userId为-1（其他）
                selectElement.append(option.clone());
            }
        });

        // 重新设置选中状态，确保选中的值仍然被选中
        if (isCurrentlySelected) {
            selectElement.val(isCurrentlySelected);
        }
    }

    $(".file-upload").fileinput({
        uploadUrl: ctx + 'common/upload/jcrz',
        initialPreviewAsData: true,
        maxFileCount: 1,
        maxFileSize: 51200,
        autoReplace: true,
        allowedFileExtensions: ["pdf"],
        slugCallback: function(filename) {
            if ($("input[name='mingcheng']").val()===""){
                $(".amountfile-upload").fileinput('clear');
                $.modal.alertError("请先输入名称");
                return false;
            }
            // 自定义文件名生成规则
            fileExtension = filename.split('.').pop();
            const year = new Date().getFullYear();
            const newName = year +"-"+ $("input[name='mingcheng']").val() +"-"+ "教材软著"+ "." + fileExtension;
            return newName;
        },

    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    }).on('filebatchselected', function(event) {
        // 批量选择文件后立即上传
        $(this).fileinput('upload');
    }).on('fileselected', function(event) {
        // 单个文件选择后立即上传
        $(this).fileinput('upload');
    })
</script>
</body>
</html>