<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改教材软著')" />
<th:block th:include="include :: datetimepicker-css" />
<th:block th:include="include :: bootstrap-fileinput-css"/>
<th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-jiaocairuanzhu-edit" th:object="${sciJiaocairuanzhu}">
        <input name="id" th:field="*{id}" type="hidden">
        
        <div class="form-group" style="display: none;">
            <label class="col-sm-3 control-label is-required">姓名：</label>
            <div class="col-sm-8">
                <select name="userId" class="form-control m-b">
                    <option th:each="user : ${sysUsers1}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${user.userId == sciJiaocairuanzhu.userId}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">教材名称：</label>
                <div class="col-sm-8">
                    <input name="mingcheng" th:field="*{mingcheng}" class="form-control" type="text" required maxlength="100">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">ISBN：</label>
                <div class="col-sm-8">
                    <input name="isbn" th:field="*{isbn}" class="form-control" type="text" required inputmode="numeric" pattern="\d{13}" minlength="13" maxlength="13" title="请输入13位数字ISBN" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">出版时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="chubanshijian" th:value="${#dates.format(sciJiaocairuanzhu.chubanshijian, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">出版社：</label>
                <div class="col-sm-8">
                    <input name="chubanshe" th:field="*{chubanshe}" class="form-control" type="text" required maxlength="50">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">本校是否用书：</label>
                <div class="col-sm-8" th:with="type=${@dict.getType('sys_yes_no')}">
                    <label th:each="dict : ${type}" class="check-box">
                        <input name="benxiaoshifoyongshu" type="radio" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:attr="checked=${sciJiaocairuanzhu.benxiaoshifoyongshu.contains(dict.dictValue)?true:false}">
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">分类：</label>
                <div class="col-sm-8">
                    <select name="fenlei" class="form-control" th:with="type=${@dict.getType('sys_jiaocairuanzhu_fenlei')}" required>
                        <option value="" selected>----请选择----</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{fenlei}"></option>
                    </select>
                </div>
            </div>
        </div>

        <!-- 项目金额 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">项目金额(万)：</label>
                    <div class="col-sm-8">
                        <input name="amount" th:field="*{amount}" class="form-control" type="number" required step="0.0001" maxlength="9">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
            </div>
        </div>

        <!-- 主持人和预期科研分 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">主持人：</label>
                    <div class="col-sm-8">
                        <div th:each="user : ${sysUsers}" th:if="${user.userId == sciJiaocairuanzhu.userId}">
                            <input class="form-control" type="text" th:value="${user.userName}" readonly>
                            <input name="firstPersonId" class="form-control" type="hidden" th:value="${user.userId}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">预期科研分：</label>
                    <div class="col-sm-8">
                        <input id="expectedScore1" class="form-control" type="text" readonly placeholder="选择课题类型和填写金额后自动计算">
                    </div>
                </div>
            </div>
        </div>

        <!-- 成员1和预期科研分 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员1：</label>
                    <div class="col-sm-8">
                        <select id="member1Select" name="secondPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:if="${user.userId != sciJiaocairuanzhu.userId}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">预期科研分：</label>
                    <div class="col-sm-8">
                        <input id="expectedScore2" class="form-control" type="text" readonly placeholder="选择课题类型和填写金额后自动计算">
                    </div>
                </div>
            </div>
        </div>

        <!-- 成员2和预期科研分 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员2：</label>
                    <div class="col-sm-8">
                        <select id="member2Select" name="thirdPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:if="${user.userId != sciJiaocairuanzhu.userId}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">预期科研分：</label>
                    <div class="col-sm-8">
                        <input id="expectedScore3" class="form-control" type="text" readonly placeholder="选择课题类型和填写金额后自动计算">
                    </div>
                </div>
            </div>
        </div>

        <!-- 成员3和预期科研分 -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">成员3：</label>
                    <div class="col-sm-8">
                        <select id="member3Select" name="fourthPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:if="${user.userId != sciJiaocairuanzhu.userId}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">预期科研分：</label>
                    <div class="col-sm-8">
                        <input id="expectedScore4" class="form-control" type="text" readonly placeholder="选择课题类型和填写金额后自动计算">
                    </div>
                </div>
            </div>
        </div>

        <!-- 主编和副主编选择 -->
        <div class="form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">主编：</label>
                <div class="col-sm-8">
                    <select name="zhubian" id="editorSelect" class="form-control select2" multiple="multiple" required>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">副主编：</label>
                <div class="col-sm-8">
                    <select name="fuzhubian" id="viceEditorSelect" class="form-control select2" multiple="multiple">
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label is-required">教材文件：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="wenjian" th:field="*{wenjian}">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="wenjian" name="file" type="file">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>

        <!-- 隐藏字段 -->
        <input type="hidden" name="members" id="membersInput">
        <input type="hidden" name="totalScore" id="totalScoreInput">
        <input type="hidden" name="zhubian" th:field="*{zhubian}">
        <input type="hidden" name="fuzhubian" th:field="*{fuzhubian}">

    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"> </i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"> 关 闭 </button>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var prefix = ctx + "system/jiaocairuanzhu";
    var members = [];
    var userIdToName = {};
    var backendMembers = [];
    var scoreConfig = {};
    var savedScores = {};
    
    var jiaocaiId = /*[[${sciJiaocairuanzhu.id}]]*/;
    if (jiaocaiId) {
        $.ajax({
            url: prefix + "/getMembers/" + jiaocaiId,
            type: "GET",
            async: false,
            success: function(data) {
                if (data && data.code === 0) {
                    backendMembers = data.data || [];
                    initSavedScores();
                }
            }
        });
    }

    function initSavedScores() {
        savedScores = {};
        for (var i = 0; i < backendMembers.length; i++) {
            var member = backendMembers[i];
            savedScores[member.ranking] = member.researchScore || '0';
        }
    }

    $(document).ready(function() {
        $('#member1Select option').each(function() {
            var userId = $(this).val();
            var userName = $(this).text();
            if (userId) {
                userIdToName[userId] = userName;
            }
        });

        $('#member1Select, #member2Select, #member3Select').each(function() {
            var originalOptions = $(this).html();
            $(this).data('original-options', originalOptions);
        });

        $('#editorSelect, #viceEditorSelect').select2({
            placeholder: '请选择',
            allowClear: true,
            width: '100%'
        });

        $('#member1Select, #member2Select, #member3Select').select2({
            placeholder: '---请选择--',
            allowClear: true,
            width: '100%'
        });

        $('#editorSelect').on('change', updateViceEditorOptions);
        $('#viceEditorSelect').on('change', updateEditorOptions);

        initMembers();
        updateMembersTable();
        updateEditorSelect();

        $('select[name="fenlei"]').on('change', function() {
            var fenLei = $(this).val();
            if (fenLei) {
                $.ajax({
                    url: prefix + "/getScoreConfig",
                    type: "POST",
                    data: { fenLei: fenLei },
                    success: function(res) {
                        if (res.code === 0 && res.data && res.data.length > 0) {
                            updateScoreConfig(fenLei, res.data);
                            
                            var scoreMap = {};
                            for (var i = 0; i < res.data.length; i++) {
                                var cfg = res.data[i];
                                var rankingText = '';
                                switch (cfg.paiMing) {
                                    case '1':
                                        rankingText = '排名第一';
                                        break;
                                    case '2':
                                        rankingText = '排名第二';
                                        break;
                                    case '3':
                                        rankingText = '排名第三';
                                        break;
                                    case '4':
                                        rankingText = '排名第四';
                                        break;
                                }
                                scoreMap[rankingText] = cfg.totalScore;
                            }
                            
                            $('#expectedScore1').val(savedScores['1'] || scoreMap['排名第一'] || '0');
                            $('#expectedScore2').val(savedScores['2'] || scoreMap['排名第二'] || '0');
                            $('#expectedScore3').val(savedScores['3'] || scoreMap['排名第三'] || '0');
                            $('#expectedScore4').val(savedScores['4'] || scoreMap['排名第四'] || '0');
                        } else {
                            $('#expectedScore1').val(savedScores['1'] || '0');
                            $('#expectedScore2').val(savedScores['2'] || '0');
                            $('#expectedScore3').val(savedScores['3'] || '0');
                            $('#expectedScore4').val(savedScores['4'] || '0');
                        }
                    },
                    error: function() {
                        $('#expectedScore1').val(savedScores['1'] || '0');
                        $('#expectedScore2').val(savedScores['2'] || '0');
                        $('#expectedScore3').val(savedScores['3'] || '0');
                        $('#expectedScore4').val(savedScores['4'] || '0');
                    }
                });
            } else {
                $('#expectedScore1').val(savedScores['1'] || '');
                $('#expectedScore2').val(savedScores['2'] || '');
                $('#expectedScore3').val(savedScores['3'] || '');
                $('#expectedScore4').val(savedScores['4'] || '');
            }
        });

        $('select[name="fenlei"]').trigger('change');
    });

    $("#form-jiaocairuanzhu-edit").validate({
        focusCleanup: true
    });

    function initMembers() {
        members = [];
        
        if (backendMembers && backendMembers.length > 0) {
            backendMembers.sort(function(a, b) {
                return parseInt(a.ranking) - parseInt(b.ranking);
            });
            
            for (var i = 0; i < backendMembers.length; i++) {
                var member = backendMembers[i];
                var ranking = parseInt(member.ranking);
                
                if (ranking === 2) {
                    $('#member1Select').val(member.memberId).trigger('change');
                } else if (ranking === 3) {
                    $('#member2Select').val(member.memberId).trigger('change');
                } else if (ranking === 4) {
                    $('#member3Select').val(member.memberId).trigger('change');
                }
                
                members.push({
                    memberId: member.memberId,
                    memberName: member.memberName,
                    ranking: member.ranking,
                    researchScore: member.researchScore || calculateResearchScore(member.ranking)
                });
            }
        } else {
            var member1Id = $('#member1Select').val();
            var member1Name = $('#member1Select option:selected').text();
            if (member1Id && member1Name && member1Name !== '---请选择--') {
                members.push({
                    memberId: member1Id,
                    memberName: member1Name,
                    ranking: '2',
                    researchScore: calculateResearchScore('2')
                });
            }
            
            var member2Id = $('#member2Select').val();
            var member2Name = $('#member2Select option:selected').text();
            if (member2Id && member2Name && member2Name !== '---请选择--') {
                members.push({
                    memberId: member2Id,
                    memberName: member2Name,
                    ranking: '3',
                    researchScore: calculateResearchScore('3')
                });
            }
            
            var member3Id = $('#member3Select').val();
            var member3Name = $('#member3Select option:selected').text();
            if (member3Id && member3Name && member3Name !== '---请选择--') {
                members.push({
                    memberId: member3Id,
                    memberName: member3Name,
                    ranking: '4',
                    researchScore: calculateResearchScore('4')
                });
            }
        }
    }
    
    function collectFormMembers() {
        members = [];
        
        var hostId = $('input[name="firstPersonId"]').val();
        var hostName = $('input[name="firstPersonId"]').parent().find('input[readonly]').val();
        if (hostId && hostName) {
            members.push({
                memberId: hostId,
                memberName: hostName,
                ranking: '1',
                researchScore: $('#expectedScore1').val() || calculateResearchScore('1')
            });
        }
        
        var member1Id = $('#member1Select').val();
        var member1Name = $('#member1Select option:selected').text();
        if (member1Id && member1Name && member1Name !== '---请选择--') {
            members.push({
                memberId: member1Id,
                memberName: member1Name,
                ranking: '2',
                researchScore: $('#expectedScore2').val() || calculateResearchScore('2')
            });
        }
        
        var member2Id = $('#member2Select').val();
        var member2Name = $('#member2Select option:selected').text();
        if (member2Id && member2Name && member2Name !== '---请选择--') {
            members.push({
                memberId: member2Id,
                memberName: member2Name,
                ranking: '3',
                researchScore: $('#expectedScore3').val() || calculateResearchScore('3')
            });
        }
        
        var member3Id = $('#member3Select').val();
        var member3Name = $('#member3Select option:selected').text();
        if (member3Id && member3Name && member3Name !== '---请选择--') {
            members.push({
                memberId: member3Id,
                memberName: member3Name,
                ranking: '4',
                researchScore: $('#expectedScore4').val() || calculateResearchScore('4')
            });
        }
    }
    
    function updateMemberLists() {
        members = [];
        
        var member1Id = $('#member1Select').val();
        var member1Name = $('#member1Select option:selected').text();
        if (member1Id && member1Name && member1Name !== '---请选择--') {
            members.push({
                memberId: member1Id,
                memberName: member1Name,
                ranking: '2',
                researchScore: calculateResearchScore('2')
            });
        }
        
        var member2Id = $('#member2Select').val();
        var member2Name = $('#member2Select option:selected').text();
        if (member2Id && member2Name && member2Name !== '---请选择--') {
            members.push({
                memberId: member2Id,
                memberName: member2Name,
                ranking: '3',
                researchScore: calculateResearchScore('3')
            });
        }
        
        var member3Id = $('#member3Select').val();
        var member3Name = $('#member3Select option:selected').text();
        if (member3Id && member3Name && member3Name !== '---请选择--') {
            members.push({
                memberId: member3Id,
                memberName: member3Name,
                ranking: '4',
                researchScore: calculateResearchScore('4')
            });
        }
        
        updateEditorSelect();
    }
    
    function updateScoreConfig(fenLei, config) {
        scoreConfig[fenLei] = {};
        for (var i = 0; i < config.length; i++) {
            var cfg = config[i];
            var rankingText = '';
            switch (cfg.paiMing) {
                case '1':
                    rankingText = '排名第一';
                    break;
                case '2':
                    rankingText = '排名第二';
                    break;
                case '3':
                    rankingText = '排名第三';
                    break;
                case '4':
                    rankingText = '排名第四';
                    break;
            }
            scoreConfig[fenLei][rankingText] = parseInt(cfg.totalScore) || 0;
        }
    }

    function calculateResearchScore(ranking) {
        var fenLei = $('select[name="fenlei"]').val();
        if (fenLei && scoreConfig[fenLei]) {
            var rankingText = '';
            switch (ranking) {
                case '1':
                    rankingText = '排名第一';
                    break;
                case '2':
                    rankingText = '排名第二';
                    break;
                case '3':
                    rankingText = '排名第三';
                    break;
                case '4':
                    rankingText = '排名第四';
                    break;
            }
            return scoreConfig[fenLei][rankingText] || 0;
        }
        return savedScores[ranking] || 0;
    }
    
    function updateEditorSelect() {
        var editorSelect = $('#editorSelect');
        var viceEditorSelect = $('#viceEditorSelect');
        
        editorSelect.empty();
        viceEditorSelect.empty();
        
        var allMembers = [];
        
        var hostId = $('input[name="firstPersonId"]').val();
        var hostName = $('input[name="firstPersonId"]').parent().find('input[readonly]').val();
        if (hostId && hostName) {
            allMembers.push({ memberId: hostId, memberName: hostName });
        }
        
        if (members.length > 0) {
            for (var i = 0; i < members.length; i++) {
                allMembers.push({ 
                    memberId: members[i].memberId, 
                    memberName: members[i].memberName 
                });
            }
        } else {
            var member1Id = $('#member1Select').val();
            var member1Name = $('#member1Select option:selected').text();
            if (member1Id && member1Name && member1Name !== '---请选择--') {
                allMembers.push({ memberId: member1Id, memberName: member1Name });
            }
            
            var member2Id = $('#member2Select').val();
            var member2Name = $('#member2Select option:selected').text();
            if (member2Id && member2Name && member2Name !== '---请选择--') {
                allMembers.push({ memberId: member2Id, memberName: member2Name });
            }
            
            var member3Id = $('#member3Select').val();
            var member3Name = $('#member3Select option:selected').text();
            if (member3Id && member3Name && member3Name !== '---请选择--') {
                allMembers.push({ memberId: member3Id, memberName: member3Name });
            }
        }
        
        var seen = {};
        var uniqueMembers = [];
        for (var i = 0; i < allMembers.length; i++) {
            var member = allMembers[i];
            if (!seen[member.memberId]) {
                seen[member.memberId] = true;
                uniqueMembers.push(member);
            }
        }
        
        for (var i = 0; i < uniqueMembers.length; i++) {
            var member = uniqueMembers[i];
            editorSelect.append('<option value="' + member.memberId + '">' + member.memberName + '</option>');
            viceEditorSelect.append('<option value="' + member.memberId + '">' + member.memberName + '</option>');
        }
        
        var savedEditor = $('input[name="zhubian"]').val();
        var savedViceEditor = $('input[name="fuzhubian"]').val();
        
        if (savedEditor) {
            var editorIds = savedEditor.split(',');
            for (var i = 0; i < editorIds.length; i++) {
                var editorId = editorIds[i];
                var hasOption = false;
                editorSelect.find('option').each(function() {
                    if ($(this).val() === editorId) {
                        hasOption = true;
                    }
                });
                if (!hasOption) {
                    var userName = userIdToName[editorId];
                    if (userName) {
                        editorSelect.append('<option value="' + editorId + '">' + userName + '</option>');
                    }
                }
            }
            editorSelect.val(editorIds);
        }
        
        if (savedViceEditor) {
            var viceEditorIds = savedViceEditor.split(',');
            for (var i = 0; i < viceEditorIds.length; i++) {
                var viceEditorId = viceEditorIds[i];
                var hasOption = false;
                viceEditorSelect.find('option').each(function() {
                    if ($(this).val() === viceEditorId) {
                        hasOption = true;
                    }
                });
                if (!hasOption) {
                    var userName = userIdToName[viceEditorId];
                    if (userName) {
                        viceEditorSelect.append('<option value="' + viceEditorId + '">' + userName + '</option>');
                    }
                }
            }
            viceEditorSelect.val(viceEditorIds);
        }
        
        editorSelect.trigger('change');
        viceEditorSelect.trigger('change');
    }

    function updateMembersTable() {
        var tbody = $('#membersTableBody');
        tbody.empty();

        for (var i = 0; i < members.length; i++) {
            var member = members[i];
            var tr = $('<tr></tr>');
            tr.html(
                '<td>' + (i + 1) + '</td>' +
                '<td>' + member.memberName + '</td>' +
                '<td>' + member.ranking + '</td>' +
                '<td>' + member.researchScore + '</td>' +
                '<td><button type="button" class="btn btn-danger btn-xs" onclick="removeMember(' + i + ')">删除</button></td>'
            );
            tbody.append(tr);
        }
    }

    function removeMember(index) {
        members.splice(index, 1);
        updateMembersTable();
        updateTotalScore();
        updateEditorOptions();
        updateViceEditorOptions();
    }

    function updateTotalScore() {
        var totalScore = 0;
        for (var i = 0; i < members.length; i++) {
            totalScore += parseInt(members[i].researchScore);
        }
        $('#totalScore').text(totalScore);
        $('#totalScoreInput').val(totalScore);
    }

    function updateViceEditorOptions() {
        var editorValues = $('#editorSelect').val() || [];
        var viceEditor = $('#viceEditorSelect');
        var viceEditorValues = viceEditor.val() || [];

        var currentViceEditorValues = [];
        for (var i = 0; i < viceEditorValues.length; i++) {
            if (editorValues.indexOf(viceEditorValues[i]) === -1) {
                currentViceEditorValues.push(viceEditorValues[i]);
            }
        }

        viceEditor.find('option').each(function() {
            var value = $(this).val();
            if (editorValues.indexOf(value) !== -1) {
                $(this).prop('disabled', true);
            } else {
                $(this).prop('disabled', false);
            }
        });

        viceEditor.val(currentViceEditorValues).trigger('change.select2');
    }

    function updateEditorOptions() {
        var viceEditorValues = $('#viceEditorSelect').val() || [];
        var editor = $('#editorSelect');
        var editorValues = editor.val() || [];

        var currentEditorValues = [];
        for (var i = 0; i < editorValues.length; i++) {
            if (viceEditorValues.indexOf(editorValues[i]) === -1) {
                currentEditorValues.push(editorValues[i]);
            }
        }

        editor.find('option').each(function() {
            var value = $(this).val();
            if (viceEditorValues.indexOf(value) !== -1) {
                $(this).prop('disabled', true);
            } else {
                $(this).prop('disabled', false);
            }
        });

        editor.val(currentEditorValues).trigger('change.select2');
    }

    function submitHandler() {
        if ($.validate.form()) {
            if ($("input[name='wenjian']").val() == "")
                return $.modal.alertError("请上传教材文件");

            collectFormMembers();
            
            if (members.length === 0) {
                return $.modal.alertWarning("请至少添加一个成员");
            }

            $('#membersInput').val(JSON.stringify(members));

            var formData = {
                id: $('input[name="id"]').val(),
                mingcheng: $('input[name="mingcheng"]').val(),
                isbn: $('input[name="isbn"]').val(),
                chubanshijian: $('input[name="chubanshijian"]').val(),
                chubanshe: $('input[name="chubanshe"]').val(),
                benxiaoshifoyongshu: $('input[name="benxiaoshifoyongshu"]:checked').val(),
                fenlei: $('select[name="fenlei"]').val(),
                amount: $('input[name="amount"]').val(),
                expectedJifen: $('#expectedScore1').val(),
                wenjian: $('input[name="wenjian"]').val(),
                members: JSON.stringify(members),
                zhubian: $('#editorSelect').val() ? $('#editorSelect').val().join(',') : '',
                fuzhubian: $('#viceEditorSelect').val() ? $('#viceEditorSelect').val().join(',') : ''
            };

            $.ajax({
                url: prefix + "/edit",
                type: "POST",
                data: formData,
                success: function (res) {
                    if (res.code === 0) {
                        $.modal.msgSuccess("保存成功");
                        setTimeout(function() {
                            window.location.href = prefix;
                        }, 1000);
                    } else {
                        $.modal.alertError(res.msg);
                    }
                },
                error: function () {
                    $.modal.alertError("系统异常，请稍后再试");
                }
            });
        }
    }

    $(".file-upload").each(function (i) {
        var val = $("input[name='" + this.id + "']").val()
        $(this).fileinput({
            'uploadUrl': ctx + 'common/upload/jcrz',
            initialPreviewAsData: true,
            initialPreview: [val],
            maxFileCount: 1,
            maxFileSize: 51200,
            autoReplace: true,
            allowedFileExtensions: ["pdf"],
            slugCallback: function(filename) {
                if ($("input[name='mingcheng']").val()===""){
                    $(".file-upload").fileinput('clear');
                    $.modal.alertError("请先输入教材名称");
                    return false;
                }
                fileExtension = filename.split('.').pop();
                const year = new Date().getFullYear();
                const newName = year +"-"+ $("input[name='mingcheng']").val() +"-"+ "教材软著"+ "." + fileExtension;
                return newName;
            },
            showUpload: false,
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        }).on('filebatchselected', function(event) {
            $(this).fileinput('upload');
        }).on('fileselected', function(event) {
            $(this).fileinput('upload');
        })
        $(this).fileinput('_initFileActions');
    });

</script>
</body>
</html>