<!DOCTYPE html>
<html lang="zh">
<head>
  <th:block th:include="include :: header('组合表头')"/>
  <style>
    table, th, td {
      border: 2px solid black; /* 设置表格边框宽度为2px */
    }

    .fixed-table-container {
      position: relative;
    }

    .fixed-table-header {
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: white;
    }
  </style>
</head>
<body class="gray-bg">
<div class="container-div">
  <div class="row">
    <div class="col-sm-12 select-table table-bordered">
      <table id="bootstrap-table"></table>
    </div>
  </div>
</div>

<th:block th:include="include :: footer"/>
<!-- 引入 Bootstrap Table JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<th:block th:include="include :: bootstrap-table-fixed-columns-js"/>

<script th:inline="javascript">
  var prefix = ctx + "CollegeProject";
  var datas = [[${@dict.getType('sys_dept')}]];
  $(function () {
    // 初始化表格
    $('#bootstrap-table').bootstrapTable({
      url: prefix + "/getAlltotallists",
      method: 'POST',
      modalName: '学院科研工作任务计划表',
      showSearch: false,
      showRefresh: false,
      showToggle: false,
      showColumns: true,
      fixedColumns: true,  // 确保设置了 fixedColumns 选项
      fixedNumber: 3,      // 确保设置了 fixedNumber 选项
      stickyHeader: true,
      pagination: true,
      // 每页显示的记录数
      pageSize: 10,
      columns: [
        [{
          title: '部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门',
          align: 'center',
          colspan: 3,
        }, {
          title: '纵向科研项目',
          align: 'center',
          colspan: 7,
          switchable: true
        }, {
          title: '横向课题科研项目-校外',
          align: 'center',
          colspan: 8,
          switchable: true
        }, {
          title: '成果转化',
          align: 'center',
          colspan: 6
        }, {
          title: '学术论文',
          align: 'center',
          colspan: 6
        }, {
          title: '教材著作',
          align: 'center',
          colspan: 8
        }, {
          title: '专利、软著',
          align: 'center',
          colspan: 4
        }, {
          title: '奖励类',
          align: 'center',
          colspan: 8
        }, {
          title: '学术报告(讲座类)',
          align: 'center',
          colspan: 5
        }

        ],
        [{
          // 选择框
          formatter: function (value, row, index) {
            var totalRows = $('#bootstrap-table').bootstrapTable('getData').length;
            if (index === totalRows - 1) {
              return '';
            }
            return '<input type="checkbox" name="btSelectItem" value="' + row.id + '">';
          }
        },
          {
            field: 'partenName',
            title: '学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;院',
            formatter: function (value, row, index) {
              var totalRows = $('#bootstrap-table').bootstrapTable('getData').length;
              if (index === totalRows - 1) {
                return '';
              }
              return $.table.selectDictLabel(datas, value);
            }
          },
          {
            field: 'deptName',
            title: '专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业',
            formatter: function (value, row, index) {
              return $.table.selectDictLabel(datas, value);
            }
          },
          {
            field: 'zcgjjjkyxm',
            title: '主持国家基金科研项目',
            switchable: false,
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'zcsbjjjkyxm',
            title: '主持省部级基金科研项目',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'zcsbjjgxm',
            title: '主持省部级教改项目',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'zcsbjzxkyxm',
            title: '主持省部级纵向科研项目',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'zctjjxhjkyxm',
            title: '主持厅局级、学会级科研项目',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'zcxjjxglxmywyys',
            title: '主持校级教学管理项目（1万元以上）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'zcxjjxglxmywyyx',
            title: '主持校级教学管理项目（1 万元以下）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },


          {
            field: 'ewyyx',
            title: '2 万元以下',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },

          {
            field: 'edwwy',
            title: '2 -5 &nbsp;&nbsp;万（含2万元）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'wdswy',
            title: '5 -10 万（含5万元）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'sdeswy',
            title: '10 -20 万（含10万元）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'esdsswwy',
            title: '20 -35 万（含20万元）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'wswwydwswy',
            title: '35-50 万（含35万元）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'wsdqswwy',
            title: '50 -75 万（含50万元）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'qswdybwy',
            title: '75-100 万（含75万元）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },


          {
            field: 'eyxxx',
            title: '2 万&nbsp;&nbsp;元以下',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'edwxx',
            title: '2 -5 万&nbsp;&nbsp;（含2）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'wdsxx',
            title: '5 -10 万&nbsp;&nbsp;（含5）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'sdesxx',
            title: '10 -20 万&nbsp;&nbsp;（含10）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'esdsswxx',
            title: '20 -35 万&nbsp;&nbsp;（含20）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'sswdwsxx',
            title: '35-50 万&nbsp;&nbsp;（含35）',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'dywsxx',
            title: '50 万 以 上',
            formatter: function (value, row, index) {
              return value ? value : '0个 (0万)'; // 如果值为空，则返回默认值 '0'
            }
          },

          {
            field: 'SCI',
            title: 'SCI',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'EI',
            title: 'EI',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'hx',
            title: '核心期刊',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'sw',
            title: '三网收录',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'pt',
            title: '普通期刊',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'xb',
            title: '校办期刊',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },


          {
            field: 'cbzz1',
            title: '出版专著（一类出版社）',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'cbzz2',
            title: '出版专著（二类出版社）',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'cbyz1',
            title: '出版译著（一类出版社）',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },

          {
            field: 'cbyz2',
            title: '出版译著（二类出版社）',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },

          {
            field: 'cbjc1',
            title: '出版教材（国家规划，省级规划教材）',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'cbjc2',
            title: '出版教材',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'zbjc',
            title: '自编教材（校内使用）',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'sqfmzl',
            title: '授权发明专利',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'syxxzl',
            title: '实用新型专利',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'wxsjzl',
            title: '外型设计专利',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'jsjrjzzq',
            title: '计算机软件著作权',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },


          {
            field: 'sjjxcgj',
            title: '省级教学成果奖',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'sjkxjsj',
            title: '省级科学技术奖',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'sjyljpkpb',
            title: '省级一流精品课评比',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'stjjzrkxlpj',
            title: '市、厅局级自然科学类评奖',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'stjjsklpj',
            title: '市、厅局级社科类评奖',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'xjjxcgj',
            title: '校级教学成果奖',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'yyxkyxjcgj',
            title: '应用型科研校级成果奖',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'xjjpkpb',
            title: '校级精品课评比',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },

          {
            field: 'jbgj',
            title: '举办国际相关行业学术会议且做报告',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'jbgn',
            title: '举办国内相关行业学术会议且做报告',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'cjgj',
            title: '参加国际相关行业学术会议且做报告',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'cjgn',
            title: '参加国内相关行业学术会议且做报告',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          },
          {
            field: 'xjxs',
            title: '校级学术报告（讲座）',
            formatter: function (value, row, index) {
              return value ? value : '0'; // 如果值为空，则返回默认值 '0'
            }
          }
        ]
      ],
      onLoadSuccess: function (data) {
        //$('#bootstrap-table thead').addClass('fixed-table-header');
      },
    });
  });
</script>
</body>
</html>
