<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('教材软著列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>学院：</label>
                            <select name="xueyuan" th:with="type=${@dict.getType('sys_dept')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>名称：</label>
                            <input type="text" name="mingcheng"/>
                        </li>
                        <li>
                            <label>出版时间：</label>
                            <input type="text" class="time-input" placeholder="请选择出版时间" name="chubanshijian"/>
                        </li>
                        <li>
                            <label>分类：</label>
                            <select name="fenlei" th:with="type=${@dict.getType('sys_jiaocairuanzhu_leibie')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:textbooks:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:textbooks:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:textbooks:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:textbooks:remove')}]];
    var xueyuanDatas = [[${@dict.getType('sys_xueyuan')}]];
    var leixingDatas = [[${@dict.getType('sys_jiaocairuanzhu_leibie')}]];
    var fenleiDatas = [[${@dict.getType('sys_jiaocairuanzhu_fenlei')}]];
    var chubansheDatas = [[${@dict.getType('sys_chubanshe')}]];
    var proFlag = [[${@permission.hasPermi('system:textbooks:process')}]];
    var editInfo = [[${@permission.hasPermi('system:textbooks:info')}]];
    var hechaFlag = [[${@permission.hasPermi('system:textbooks:hecha')}]];
    var datas = [[${@dict.getType('sci_crosswise_tasks')}]];
    var createFlag = [[${@permission.hasPermi('system:textbooks:add')}]];
    var prefix = ctx + "system/textbooks";
    $(function() {
        function initTable(options) {
            // 获取当前表格的ID
            var tableId = options.id;
            // 根据表格ID生成URL
            options.url = getUrl(tableId);
            // 使用生成的选项初始化表格
            $.table.init(options);
        }
        function getUrl(tableId) {
            var year = localStorage.getItem("year");
            return prefix + "/list/" + tableId + "?year=" + year;
        }

        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            detailUrl: prefix + "/detail/{id}",
            exportUrl: prefix + "/export",
            modalName: "教材软著",
            columns: [
                {
                    field: 'number',
                    title: '序号',
                    width: 5,
                    align: 'center',
                    switchable: false,
                    formatter: function(value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'yname',
                    title: '学院'
                },
                {
                    field: 'dname',
                    title: '专业'
                },
                {
                    field: 'userName',
                    title: '姓名'
                },
                {
                    field: 'mingcheng',
                    title: '名称'
                },
                {
                    field: 'leixing',
                    title: '类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(leixingDatas, value);
                    }
                },
                {
                    field: 'chubanshijian',
                    title: '出版时间'
                },
                {
                    field: 'chubanshe',
                    title: '出版社',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(chubansheDatas, value);
                    }
                },
                {
                    field: 'paiming',
                    title: '排名（全书作者排名）'
                },
                {
                    field: 'keyanfen',
                    title: '科研分'
                },
                {
                    field: 'benxiaoshifoyongshu',
                    title: '本校是否用书'
                },
                {
                    field: 'state',
                    title: '申请状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        console.log(row);

                        if (row.state == 1) {
                            if (row.userId == row.uid) {
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>更新</a>');
                            }
                            actions.push('<a class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/chakan' + '\')"><i class="fa fa-eye"></i>查看</a>');
                            actions.push('<a class="btn btn-success btn-xs ' + proFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/pro' + '\')"><i class="fa fa-check"></i>批阅</a>');
                        } else if ((row.state == 3 || row.state == 5) && row.userId == row.uid) {
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>更新</a>');
                        } else if (row.state == 2) {
                            actions.push('<a class="btn btn-success btn-xs ' + hechaFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/hecha' + '\')"><i class="fa fa-check-circle"></i>核查</a>');
                        } else if (row.state == 4) {
                            if (row.userId == row.uid) {
                                actions.push('<a class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/chakan' + '\')"><i class="fa fa-eye"></i>查看</a>');
                            }
                        }
                        return actions.join('');
                    }
                }]
        };

        initTable(options);

        window.addEventListener("storage", function(event) {
            if (event.key === "year") {
                // 销毁表格，再初始化
                $('#bootstrap-table').bootstrapTable('destroy');
                initTable(options);
            }
        });
    });
</script>
</body>
</html>