<form id="formId0" th:fragment="search-panel">
    <div class="select-list">
        <ul>
            <li class="first-row">
                <div class="first-row-wrapper">
                    <div class="first-row-item">
                        <label>项目类别：</label>
                        <select name="remark" class="form-control"
                                th:with="type=${@dict.getType('sys_mold_name')}">
                            <option value="">请选择项目类别</option>
                            <option th:each="dict : ${type}"
                                    th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                    <div class="first-row-item">
                        <label>数据状态：</label>
                        <select name="state" class="form-control"
                                th:with="type=${@dict.getType('sys_module_item_state')}">
                            <option value="">请选择数据状态</option>
                            <option th:each="dict : ${type}"
                                    th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                    <div class="first-row-item">
                        <label>课题名称：</label>
                        <input type="text" class="input-sm form-control"
                               id="topicName"
                               name='topicName' placeholder="请输入课题名称"/>
                    </div>
                </div>
            </li>
            <li class="second-row date-range-item">
                <label class="font-noraml">日期选择：</label>
                <div class="input-group input-daterange">
                    <input type="text" class="input-sm form-control"
                           id="datetimepicker-startTime" placeholder="yyyy-MM-dd"/>
                    <span class="input-group-addon"
                          style="width: auto; padding: 0 10px;">到</span>
                    <input type="text" class="input-sm form-control"
                           id="datetimepicker-endTime" placeholder="yyyy-MM-dd"/>
                </div>
            </li>
            <li class="second-row college-major-item"  shiro:hasPermission="sys_collage_filter">
                <div id="element2" class="row">
                    <label>学院专业：</label>
                    <div class="col-sm-3">
                        <select class="first form-control m-b"></select>
                    </div>
                    <div class="col-sm-3">
                        <select class="second form-control m-b" data-first-title="请选择专业"></select>
                    </div>
                </div>
            </li>
            <li class="second-row college-major-item"  shiro:hasPermission="sys_collage_filter">
                <label>姓名：</label>
                <select name="teacherName" class="form-control m-b select2-search" id="teacherName">
                    <option value="">---其他--</option>
                    <option th:each="user : ${sysUsers}"
                            th:text="${user.userName}"
                            th:value="${user.userId}"
                            th:data-user-id="${user.userId}"></option>
                </select>
            </li>
            <li class="button-item">
                <a class="btn btn-primary btn-rounded btn-sm"
                   id="searchBtn"><i class="fa fa-search"></i>&nbsp;搜索</a>
                <a class="btn btn-warning btn-rounded btn-sm"
                   id="resetBtn"><i class="fa fa-refresh"></i>&nbsp;重置</a>
            </li>
        </ul>
    </div>
</form>
