<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('专利软著列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学院：</label>
                                <select name="xueyuan" th:with="type=${@dict.getType('sys_dept')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
<!--                                    <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${user.flag}"></option>-->
                                </select>
<!--                                <select name="xueyuan" class="form-control m-b" >-->
<!--                                    &lt;!&ndash;                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${user.flag}"></option>&ndash;&gt;-->
<!--                                    <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${user.flag}"></option>-->
<!--                                </select>-->
                            </li>
                            <li>
                                <label>姓名：</label>
                                <input type="text" name="xingming"/>
                            </li>
                            <li>
                                <label>专利名称：</label>
                                <input type="text" name="mingcheng"/>
                            </li>

                            <li>
                                <label>授权号：</label>
                                <input type="text" name="shoquanhao"/>
                            </li>


                            <li>
                                <label>获批时间：</label>
                                <input type="text" class="time-input" placeholder="请选择获批时间" name="huopishijain"/>
                            </li>
                            <li>
                                <label>分类：</label>
                                <select name="fenlei" th:with="type=${@dict.getType('sys_zhuanli_fenlei')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>排名：</label>
                                <input type="text" name="paiming"/>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:zhuanliruanzhu:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:zhuanliruanzhu:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:zhuanliruanzhu:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:zhuanliruanzhu:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:zhuanliruanzhu:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:zhuanliruanzhu:remove')}]];
        var xueyuanDatas = [[${@dict.getType('sys_xueyuan')}]];
        var leixingDatas = [[${@dict.getType('sys_zhuanli_leibie')}]];
        var shifouyingyonDatas = [[${@dict.getType('sys_yes_no')}]];
        var hangyelianheDatas = [[${@dict.getType('sys_yes_no')}]];
        var fenleiDatas = [[${@dict.getType('sys_zhuanli_fenlei')}]];

        var proFlag = [[${@permission.hasPermi('system:zhuanliruanzhu:process')}]];
        var editInfo = [[${@permission.hasPermi('system:zhuanliruanzhu:info')}]];
        var hechaFlag = [[${@permission.hasPermi('system:zhuanliruanzhu:hecha')}]];
        var datas = [[${@dict.getType('sys_zhuanli_zd')}]];
        var createFlag = [[${@permission.hasPermi('system:zhuanliruanzhu:add')}]];
        var chayueFlag = [[${@permission.hasPermi('system:zhuanliruanzhu:chayue')}]];
        var chexiaoFlag = [[${@permission.hasPermi('system:zhuanliruanzhu:chexiao')}]];
        var paiMingDatas = [[${@dict.getType('sys_zhuanliruanzhu_fzr')}]];



        var prefix = ctx + "system/zhuanliruanzhu";

        $(function() {





            function initTable(options) {
                // 获取当前表格的ID
                var tableId = options.id;
                // 根据表格ID生成URL
                options.url = getUrl(tableId);
                // 使用生成的选项初始化表格
                $.table.init(options);
            }


            function getUrl(tableId) {
                var year = localStorage.getItem("year");

                return prefix + "/list/"+tableId+"?year=" + year;

            }
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                detailUrl: prefix + "/detail/{id}",
                exportUrl: prefix + "/export",
                recallUrl: prefix + "/recall/{id}",
                modalName: "专利软著",
                columns: [
                    {
                        field: 'number',
                        title: '序号',
                        width:5 ,
                        align:'center',
                        switchable:false,
                        formatter:function(value,row,index){
                            //return index+1; //序号正序排序从1开始

                            //通过表的#id 可以得到每页多少条
                            var pageSize=$('#bootstrap-table').bootstrapTable('getOptions').pageSize;
                            //通过表的#id 可以得到当前第几页
                            var pageNumber=$('#bootstrap-table').bootstrapTable('getOptions').pageNumber;
                            //返回每条的序号： 每页条数 * （当前页 - 1 ）+ 序号
                            // return pageSize * (pageNumber - 1) + index + 1;
                            return $.table.serialNumber(index);
                        }
                    },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'yname',
                    title: '学院',
                    // formatter: function(value, row, index) {
                    //    return $.table.selectDictLabel(xueyuanDatas, value);
                    // }
                },
                    {
                        field: 'dname',
                        title: '专业'
                    },
                {
                    field: 'userName',
                    title: '姓名'
                },
                {
                    field: 'mingcheng',
                    title: '专利名称'
                },

                {
                    field: 'leixing',
                    title: '类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(leixingDatas, value);
                    }
                },
                // {
                //     field: 'shoquanhao',
                //     title: '授权号'
                // },
                {
                    field: 'huopishijain',
                    title: '获批时间'
                },
                // {
                //     field: 'shifouyingyon',
                //     title: '是否应用',
                //     formatter: function(value, row, index) {
                //        return $.table.selectDictLabels(shifouyingyonDatas, value);
                //     }
                // },
                // {
                //     field: 'hangyelianhe',
                //     title: '是否行业联合',
                //     formatter: function(value, row, index) {
                //        return $.table.selectDictLabels(hangyelianheDatas, value);
                //     }
                // },
                {
                    field: 'fenlei',
                    title: '分类',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(fenleiDatas, value);
                    }
                },
                // {
                //     field: 'paiming',
                //     title: '排名'
                // },

                {
                    field: 'state',
                    title: '申请状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);               //1
                    }
                }  ,
                {
                    field: 'paiming',
                    title: '负责人排名',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(paiMingDatas, value);
                    }
                },
                {
                    field: 'jifen',
                    title: '积分'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        console.log(row);

                        // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        if(row.state == 1 ){
                            console.log(row)
                            if(row.userId == row.uid){
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                                actions.push('<a   class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>更新</a> ');
                            }
                            actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                            actions.push('<a  class="btn btn-success btn-xs ' + proFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id+ '/pro'+'\')"><i class="fa fa-edit"></i>批阅</a> ');

                        }else
                        if((row.state == 3 || row.state == 5 || row.state == 7)  && row.userId == row.uid) {
                            actions.push('<a   class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"> <i class="fa fa-edit"></i>更新</a> ');
                            actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/chakan' + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        }
                        else if(row.state == 3 || row.state == 5 || row.state == 7){

                            actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');


                        }else if(row.state ==  2){
                            actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                            actions.push('<a  class="btn btn-danger btn-xs ' + proFlag + '" href="javascript:void(0)" onclick="$.operate.recallTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>撤回</a> ');
                            actions.push('<a  class="btn btn-success btn-xs ' + hechaFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/hecha'+ '\')"><i class="fa fa-edit"></i>核查</a> ');
                        }else
                        if(row.state ==  4){
                            actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                            actions.push('<a  class="btn btn-danger btn-xs ' + hechaFlag + '" href="javascript:void(0)" onclick="$.operate.recallTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>撤回</a> ');
                            // if(row.userId == row.uid){
                            //     actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');

                            // }
                            actions.push('<a  class="btn btn-success btn-xs ' + chayueFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chayue'+ '\')"><i class="fa fa-edit"></i>查阅</a> ');}

                        else if(row.state ==  6){
                                actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                                actions.push('<a  class="btn btn-danger btn-xs ' + chayueFlag + '" href="javascript:void(0)" onclick="$.operate.recallTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>撤回</a> ');



                            // actions.push('<a  class="btn btn-success btn-xs ' + chayueFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chayue'+ '\')"><i class="fa fa-edit"></i>查阅</a> ');
                        }

                            // actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');

                        return actions.join('');
                    }
                }],

            };
            $.table.init(options);
            window.addEventListener("storage",function (event){
                if (event.key==="year"){
                    // 销毁表格，再初始化
                    $('#bootstrap-table').bootstrapTable('destroy');
                    initTable(options)

                }

            })
        });
    </script>
</body>
</html>