<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增专利软著')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <!-- 导入 jQuery -->
    <script src="/static/js/jquery.min.js"></script>

</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content" >
        <form class="form-horizontal m" id="form-zhuanliruanzhu-add"  enctype="multipart/form-data">
            <div class="form-group"  style="display: none;">
                <label class="col-sm-3 control-label is-required" >姓名：</label>
                <div class="col-sm-8">
                    <select name="userId" class="form-control m-b" >
                       <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${user.flag}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <input name="jifen" class="form-control" type="hidden" value="选择类型后显示">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">名称：</label>
                    <div class="col-sm-8">
                        <input name="mingcheng" class="form-control" type="text" required maxlength="50" placeholder="XXX系统[简称：XXX]V1.0(与软著名称一致)" pattern=".*V\d+(\.\d+)*.*" title="名称需包含版本号，格式如：XXX系统V1.0 或 XXX系统[简称：XXX]V1.0">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">分类：</label>
                    <div class="col-sm-8">
                        <select name="fenlei" class="form-control" th:with="type=${@dict.getType('sys_zhuanli_fenlei')}" required>
                            <option value="" selected>----请选择----</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">授权号：</label>
                    <div class="col-sm-8">
                        <input name="shoquanhao" class="form-control" type="text" required maxlength="20">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">获批时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="huopishijain" class="form-control" placeholder="yyyy-MM-dd" type="text" required autocomplete="off">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">是否应用：</label>
                    <div class="col-sm-8" th:with="type=${@dict.getType('sys_yes_no')}">
                        <label th:each="dict : ${type}" class="check-box">
                            <input name="shifouyingyon" type="radio" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" required>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">是否行业联合：</label>
                    <div class="col-sm-8" th:with="type=${@dict.getType('sys_yes_no')}">
                        <label th:each="dict : ${type}" class="check-box">
                            <input name="hangyelianhe" type="radio" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" required>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">主持人：</label>
                    <div class="col-sm-8">
                        <div th:each="user : ${sysUsers}" th:if="${user.flag}">
                            <input id="firstPersonName" class="form-control" type="text" th:value="${user.userName}" readonly>
                            <input name="firstPersonId" class="form-control" type="hidden" th:value="${user.userId}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">预计科研积分：</label>
                    <div class="col-sm-8">
                        <input id="firstPersonExpectedJifen" class="form-control" type="text" readonly value="选择类型后显示">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">成员1：</label>
                    <div class="col-sm-8">
                        <select id="member1Select" name="secondPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:if="${user.userId} != 1 and ${user.flag != true}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">预计科研积分：</label>
                    <div class="col-sm-8">
                        <input id="secondPersonExpectedJifen" class="form-control" type="text" readonly value="选择类型后显示">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">成员2：</label>
                    <div class="col-sm-8">
                        <select id="member2Select" name="thirdPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:if="${user.userId} != 1 and ${user.flag != true}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">预计科研积分：</label>
                    <div class="col-sm-8">
                        <input id="thirdPersonExpectedJifen" class="form-control" type="text" readonly value="选择类型后显示">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">成员3：</label>
                    <div class="col-sm-8">
                        <select id="member3Select" name="fourthPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                            <option value="">---请选择--</option>
                            <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:if="${user.userId} != 1 and ${user.flag != true}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">预计科研积分：</label>
                    <div class="col-sm-8">
                        <input id="fourthPersonExpectedJifen" class="form-control" type="text" readonly value="选择类型后显示">
                    </div>
                </div>
            </div>
            <!-- 第5位及以后 -->
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">更多成员：</label>
                    <div class="col-sm-10">
                        <div id="memberContainer" class="row"></div>
                        <button type="button" id="addMemberBtn" class="btn btn-white btn-sm" title="新增成员">
                            <a href="#"><i class="fa fa-plus-circle" ></i>增加成员</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">个人排名：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" value="1（默认）" readonly>
                    </div>
                </div>
            </div>



<!--            <div class="form-group row">-->
<!--                <div class="col-sm-6">-->
<!--                    <label class="col-sm-4 control-label is-required">排名：</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <select name="paiming" class="form-control" th:with="type=${@dict.getType('sys_zhuanliruanzhu_fzr')}" required>-->
<!--                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">专利软著文件：</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="wenjian">
                        <div class="file-loading">
                            <input class="form-control file-upload" id="wenjian" name="file" type="file">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>

        </form>
    </div>

    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">  </i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"> 关 闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/zhuanliruanzhu"
        $("#form-zhuanliruanzhu-add").validate({
            focusCleanup: true
        });
        function submitHandler() {
            if ($.validate.form()) {
                // 校验名称格式：需包含版本号，如 V1.0
                const mingcheng = $("input[name='mingcheng']").val();
                const namePattern = /V\d+(\.\d+)*/;
                if (!namePattern.test(mingcheng)) {
                    $.modal.alertWarning("名称格式不正确，需包含版本号，格式如：XXX系统V1.0 或 XXX系统[简称：XXX]V1.0");
                    return;
                }

                // 检查文件是否上传
                if ($("input[name='wenjian']").val() == "") {
                    return $.modal.alertError("请上传专利文件");
                }

                // 获取名称和负责人级别
                // 本系统中新增时默认"负责人级别=1"（主持人），成员位置不通过该下拉框控制科研分
                const paiming = "1";

                // 发起异步请求验证是否存在相同记录
                $.ajax({
                    url: prefix + "/checkDuplicate",
                    type: "POST",
                    data: { mingcheng: mingcheng, paiming: paiming },
                    async: false,
                    success: function (res) {
                        if (res.code !== 0) {
                            // 如果不是 code == 0，则提示错误并阻止提交
                            $.modal.alertWarning(res.msg);
                        } else {
                            // 否则正常提交
                            $.operate.saveTab(prefix + "/add", $('#form-zhuanliruanzhu-add').serialize());
                        }
                    },
                    error: function () {
                        $.modal.alertError("系统异常，请稍后再试");
                    }
                });

            }
        }


        // 动态新增成员下拉（第5位起）
        $('#addMemberBtn').on('click', function(){
            // 获取原始选项数据
            var originalOptions = $('#member1Select').data('original-options');
            var memberCount = $('.member-item').length + 1; // 计算当前成员数量
            var memberId = 'dynamicMember' + memberCount; // 为每个动态成员生成唯一ID

            var tpl = '\
    <div class="col-xs-3 m-b-xs member-item">\
        <div class="input-group">\
            <select id="' + memberId + '" name="members" class="form-control m-b member-select select2-select" onchange="updateMemberLists()">\
                <option value="">---请选择--</option>\
            </select>\
            <span class="input-group-btn">\
                <button class="btn btn-danger btn-sm remove-member" type="button" title="移除"><i class="fa fa-minus"></i></button>\
            </span>\
        </div>\
    </div>';

            $('#memberContainer').append(tpl);

            // 初始化新添加的下拉框选项
            updateDynamicMemberList($('#' + memberId)[0]);

            // 初始化Select2
            $('#' + memberId).select2({
                placeholder: "---请选择--",
                allowClear: true,
                width: "100%"
            });
        });

        // 移除成员项
        $(document).on('click', '.remove-member', function(){
            $(this).closest('.member-item').remove();
        });

        // 成员下拉框联动功能
        // 页面加载完成后保存原始选项并初始化联动
        $(document).ready(function() {
            // 保存原始选项数据
            $('#member1Select, #member2Select, #member3Select').each(function() {
                var originalOptions = $(this).html();
                $(this).data('original-options', originalOptions);
            });

            // 初始化联动效果
            updateMemberLists();

            // 初始化Select2组件以支持搜索功能
            $('#member1Select, #member2Select, #member3Select').select2({
                placeholder: "---请选择--",
                allowClear: true,
                width: "100%"
            });
        });

        // 更新成员下拉框列表
        function updateMemberLists() {
            // 获取所有已选中的成员ID（使用Set自动去重）
            var selectedIds = new Set();

            // 获取三个固定成员下拉框的值
            var member1Value = $('#member1Select').val();
            var member2Value = $('#member2Select').val();
            var member3Value = $('#member3Select').val();

            // 将非空值添加到Set中
            if (member1Value) selectedIds.add(member1Value);
            if (member2Value) selectedIds.add(member2Value);
            if (member3Value) selectedIds.add(member3Value);

            // 添加动态成员的选中值
            $('.member-select').each(function() {
                var value = $(this).val();
                if (value) {
                    selectedIds.add(value);
                }
            });

            // 为每个固定下拉框更新选项
            updateSelectOptions('#member1Select', member1Value, selectedIds);
            updateSelectOptions('#member2Select', member2Value, selectedIds);
            updateSelectOptions('#member3Select', member3Value, selectedIds);

            // 为每个动态下拉框更新选项
            $('.member-select').each(function() {
                updateDynamicSelectOptions($(this), $(this).val(), selectedIds);
            });
        }

        // 更新单个下拉框的选项
        function updateSelectOptions(selectId, currentValue, selectedIds) {
            var selectElement = $(selectId);
            var originalOptions = selectElement.data('original-options');
            var isCurrentlySelected = selectElement.val(); // 保存当前选中的值

            // 清空当前选项（保留第一个提示选项）
            selectElement.find('option:not(:first)').remove();

            // 解析原始选项
            var tempDiv = $('<div>' + originalOptions + '</div>');
            var hasBlankOption = false; // 标记是否已添加空选项
            tempDiv.find('option').each(function() {
                var option = $(this);
                var value = option.val();
                // 只有当选项值为空（请选择）或未被其他下拉框选中时才添加
                // currentValue（当前下拉框已选中的值）总是会被保留，如果它不在其他下拉框中
                if (value === "" && !hasBlankOption) {
                    // 只添加一次空选项
                    selectElement.append(option.clone());
                    hasBlankOption = true;
                } else if (value !== "" && (!selectedIds.has(value) || value === currentValue || value === "-1")) {
                    // 添加非空选项，如果它未被其他下拉框选中，或者是当前下拉框已选中的值，或者userId为-1（其他）
                    selectElement.append(option.clone());
                }
            });

            // 重新设置选中状态，确保选中的值仍然被选中
            if (isCurrentlySelected) {
                selectElement.val(isCurrentlySelected);
            }
        }

        // 更新动态添加的成员下拉框
        function updateDynamicMemberList(element) {
            var selectElement = $(element);
            var currentValue = selectElement.val();
            var allSelectedIds = getSelectedIds();

            // 为动态成员下拉框更新选项
            updateDynamicSelectOptions(selectElement, currentValue, allSelectedIds);
        }

        // 获取所有已选中的ID（包括固定成员和动态成员）
        function getSelectedIds() {
            var selectedIds = new Set();

            // 添加固定成员的选中值
            var member1Value = $('#member1Select').val();
            var member2Value = $('#member2Select').val();
            var member3Value = $('#member3Select').val();

            if (member1Value) selectedIds.add(member1Value);
            if (member2Value) selectedIds.add(member2Value);
            if (member3Value) selectedIds.add(member3Value);

            // 添加动态成员的选中值
            $('.member-select').each(function() {
                var value = $(this).val();
                if (value) {
                    selectedIds.add(value);
                }
            });
            return selectedIds;
        }

        // 更新动态下拉框的选项
        function updateDynamicSelectOptions(selectElement, currentValue, selectedIds) {
            var originalOptions = $('#member1Select').data('original-options');
            var isCurrentlySelected = selectElement.val(); // 保存当前选中的值

            // 清空当前选项（保留第一个提示选项）
            selectElement.find('option:not(:first)').remove();
            // 解析原始选项
            var tempDiv = $('<div>' + originalOptions + '</div>');
            var hasBlankOption = false; // 标记是否已添加空选项
            tempDiv.find('option').each(function() {
                var option = $(this);
                var value = option.val();
                // 只有当选项值为空（请选择）或未被其他下拉框选中时才添加
                // currentValue（当前下拉框已选中的值）总是会被保留，如果它不在其他下拉框中
                if (value === "" && !hasBlankOption) {
                    // 只添加一次空选项
                    selectElement.append(option.clone());
                    hasBlankOption = true;
                } else if (value !== "" && (!selectedIds.has(value) || value === currentValue || value === "-1")) {
                    // 添加非空选项，如果它未被其他下拉框选中，或者是当前下拉框已选中的值，或者userId为-1（其他）
                    selectElement.append(option.clone());
                }
            });

            // 重新设置选中状态，确保选中的值仍然被选中
            if (isCurrentlySelected) {
                selectElement.val(isCurrentlySelected);
            }
        }


        $("input[name='huopishijain']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });



        $(".file-upload").fileinput({
            uploadUrl: ctx + 'common/upload/zlrz',
            initialPreviewAsData: true,
            maxFileCount: 1,
        maxFileSize: 51200,
            autoReplace: true,
            allowedFileExtensions: ["pdf"],
            slugCallback: function(filename) {
                if ($("input[name='mingcheng']").val()===""){
                    $(".file-upload").fileinput('clear');
                    $.modal.alertError("请先输入名称");
                    return false;
                }
                // 自定义文件名生成规则
                fileExtension = filename.split('.').pop();
                const year = new Date().getFullYear();
                const newName = year +"-"+ $("input[name='mingcheng']").val() +"-"+ "专利软著文件"+ "." + fileExtension;
                return newName;
            },
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        }).on('filebatchselected', function(event) {
            // 批量选择文件后立即上传
            $(this).fileinput('upload');
        }).on('fileselected', function(event) {
            // 单个文件选择后立即上传
            $(this).fileinput('upload');
        })
    </script>

    <script>
        $(function () {
            function loadExpectedJifenSlots() {
                var fenlei = $("select[name='fenlei']").val();
                // 看是否转化
                var isConversion = $("input[name='shifouyingyon']:checked").val();
                if (!fenlei) { return; }

                $.ajax({
                    url: ctx + "system/zhuanliruanzhu/calcExpectedScores",
                    type: "GET",
                    data: { fenlei: fenlei },
                    dataType: "json",
                    success: function (result) {
                        var data = (result && result.code === 0) ? result.data : null;
                        var firstScore = data && data.firstScore ? parseFloat(data.firstScore) : 0;
                        var secondScore = data && data.secondScore ? parseFloat(data.secondScore) : 0;
                        var thirdScore = data && data.thirdScore ? parseFloat(data.thirdScore) : 0;
                        var fourthScore = data && data.fourthScore ? parseFloat(data.fourthScore) : 0;

                        // 非转化软著按50%核算（仅计算机软件著作权，fenlei=4）
                        if (isConversion === 'N' && fenlei === '4') {
                            // 修改：移除 Math.round，直接计算
                            firstScore = firstScore * 0.5;
                            secondScore = secondScore * 0.5;
                            thirdScore = thirdScore * 0.5;
                            fourthScore = fourthScore * 0.5;
                        }

                        $("#firstPersonExpectedJifen").val(firstScore.toFixed(2));
                        $("#secondPersonExpectedJifen").val(secondScore.toFixed(2));
                        $("#thirdPersonExpectedJifen").val(thirdScore.toFixed(2));
                        $("#fourthPersonExpectedJifen").val(fourthScore.toFixed(2));
                    },
                    error: function () {
                        $("#firstPersonExpectedJifen").val("0");
                        $("#secondPersonExpectedJifen").val("0");
                        $("#thirdPersonExpectedJifen").val("0");
                        $("#fourthPersonExpectedJifen").val("0");
                    }
                });
            }

            // 监听分类和是否转化选择变化
            $("select[name='fenlei'], input[name='shifouyingyon']").on("change", loadExpectedJifenSlots);
            loadExpectedJifenSlots();
        });
    </script>
</body>
</html>