<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改专利软著')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <!-- 导入 jQuery -->
    <script src="/static/js/jquery.min.js"></script>

</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-zhuanliruanzhu-edit" th:object="${sciZhuanliruanzhu}">
            <input name="id" th:field="*{id}" type="hidden">

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">学院：</label>
                    <div class="col-sm-8">
                        <input name="xueyuan" th:field="*{xueyuan}" class="form-control" type="text" required disabled="true">
                        <!--                        <select name="xueyuan" class="form-control" th:with="type=${@dict.getType('sys_dept')}" required disabled="true">-->
<!--                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{xueyuan}"></option>-->
<!--                        </select>-->
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">姓名：</label>
                    <div class="col-sm-8">
                        <select name="userId" class="form-control" disabled="true">
                            <option th:each="user : ${sysUsers1}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${ user.userId == sciZhuanliruanzhu.userId}"></option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">名称：</label>
                    <div class="col-sm-8">
                        <input name="mingcheng" th:field="*{mingcheng}" class="form-control" type="text" required maxlength="50" pattern=".*V\d+(\.\d+)*.*" title="名称需包含版本号，格式如：XXX系统V1.0 或 XXX系统[简称：XXX]V1.0">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">分类：</label>
                    <div class="col-sm-8">
                        <select name="fenlei" class="form-control" th:with="type=${@dict.getType('sys_zhuanli_fenlei')}" required>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{fenlei}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">授权号：</label>
                    <div class="col-sm-8">
                        <input name="shoquanhao" th:field="*{shoquanhao}" class="form-control" type="text" required maxlength="20">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">获批时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="huopishijain" th:value="${#dates.format(sciZhuanliruanzhu.huopishijain, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 添加成员编辑部分 -->
            <!-- 添加成员编辑部分 -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">成员1：</label>
                    <div class="col-sm-8">
                        <select name="secondPersonId" class="form-control">
                            <option value="">无</option>
                            <!-- 本专业教师优先显示 -->
                            <option th:each="user : ${sysUsers1}"
                                    th:if="${user.dept != null and sciZhuanliruanzhu.jiaoyanshi != null and user.dept.deptName == sciZhuanliruanzhu.jiaoyanshi}"
                                    th:text="${user.userName}"
                                    th:value="${user.userId}"
                                    th:selected="${ #strings.toString(user.userId) == sciZhuanliruanzhu.secondPersonId}">
                            </option>
                            <!-- 其他教师 -->
                            <option th:each="user : ${sysUsers1}"
                                    th:if="${user.dept == null or sciZhuanliruanzhu.jiaoyanshi == null or user.dept.deptName != sciZhuanliruanzhu.jiaoyanshi}"
                                    th:text="${user.userName}"
                                    th:value="${user.userId}"
                                    th:selected="${ #strings.toString(user.userId) == sciZhuanliruanzhu.secondPersonId}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">预计科研积分：</label>
                    <div class="col-sm-8">
                        <input id="secondPersonExpectedJifen" class="form-control" type="text" readonly value="0">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">成员2：</label>
                    <div class="col-sm-8">
                        <select name="thirdPersonId" class="form-control">
                            <option value="">无</option>
                            <!-- 本专业教师优先显示 -->
                            <option th:each="user : ${sysUsers1}"
                                    th:if="${user.dept != null and sciZhuanliruanzhu.jiaoyanshi != null and user.dept.deptName == sciZhuanliruanzhu.jiaoyanshi}"
                                    th:text="${user.userName}"
                                    th:value="${user.userId}"
                                    th:selected="${ #strings.toString(user.userId) == sciZhuanliruanzhu.thirdPersonId}">
                            </option>
                            <!-- 其他教师 -->
                            <option th:each="user : ${sysUsers1}"
                                    th:if="${user.dept == null or sciZhuanliruanzhu.jiaoyanshi == null or user.dept.deptName != sciZhuanliruanzhu.jiaoyanshi}"
                                    th:text="${user.userName}"
                                    th:value="${user.userId}"
                                    th:selected="${ #strings.toString(user.userId) == sciZhuanliruanzhu.thirdPersonId}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">预计科研积分：</label>
                    <div class="col-sm-8">
                        <input id="thirdPersonExpectedJifen" class="form-control" type="text" readonly value="0">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">成员3：</label>
                    <div class="col-sm-8">
                        <select name="fourthPersonId" class="form-control">
                            <option value="">无</option>
                            <!-- 本专业教师优先显示 -->
                            <option th:each="user : ${sysUsers1}"
                                    th:if="${user.dept != null and sciZhuanliruanzhu.jiaoyanshi != null and user.dept.deptName == sciZhuanliruanzhu.jiaoyanshi}"
                                    th:text="${user.userName}"
                                    th:value="${user.userId}"
                                    th:selected="${ #strings.toString(user.userId) == sciZhuanliruanzhu.fourthPersonId}">
                            </option>
                            <!-- 其他教师 -->
                            <option th:each="user : ${sysUsers1}"
                                    th:if="${user.dept == null or sciZhuanliruanzhu.jiaoyanshi == null or user.dept.deptName != sciZhuanliruanzhu.jiaoyanshi}"
                                    th:text="${user.userName}"
                                    th:value="${user.userId}"
                                    th:selected="${ #strings.toString(user.userId) == sciZhuanliruanzhu.fourthPersonId}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">预计科研积分：</label>
                    <div class="col-sm-8">
                        <input id="fourthPersonExpectedJifen" class="form-control" type="text" readonly value="0">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">更多成员：</label>
                    <div class="col-sm-8">
                        <div id="moreMembersContainer">
                            <!-- 动态添加的成员选择框会在这里 -->
                        </div>
                        <button type="button" class="btn btn-sm btn-success" onclick="addMemberSelect()">
                            <i class="fa fa-plus"></i> 增加成员
                        </button>
                    </div>
                </div>



                <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">是否应用：</label>
                    <div class="col-sm-8" th:with="type=${@dict.getType('sys_yes_no')}">
                        <label th:each="dict : ${type}" class="check-box">
                            <input name="shifouyingyon" type="radio" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:attr="checked=${sciZhuanliruanzhu.shifouyingyon.contains(dict.dictValue)?true:false}">
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">是否行业联合：</label>
                    <div class="col-sm-8" th:with="type=${@dict.getType('sys_yes_no')}">
                        <label th:each="dict : ${type}" class="check-box">
                            <input name="hangyelianhe" type="radio" th:value="${dict.dictValue}" th:text="${dict.dictLabel}" th:attr="checked=${sciZhuanliruanzhu.hangyelianhe.contains(dict.dictValue)?true:false}">
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">个人排名：</label>
                    <div class="col-sm-8">
                        <select name="paiming" class="form-control" th:with="type=${@dict.getType('sys_zhuanliruanzhu_fzr')}" required disabled="true">
                            <option th:each="dict : ${type}"
                                    th:text="${dict.dictValue}"
                                    th:value="${dict.dictValue}"
                                    th:selected="${dict.dictValue == sciZhuanliruanzhu.paiming}">
                            </option>
                        </select>
                        <input type="hidden" name="paiming" th:value="${sciZhuanliruanzhu.paiming}">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label is-required">专利软著文件：</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="wenjian" th:field="*{wenjian}">
                        <div class="file-loading">
                            <input class="form-control file-upload" id="wenjian" name="file" type="file">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- 可以在这里添加另一个输入框，如果没有则留空 -->
                </div>
            </div>

        </form>

        <h4 class="form-header h4">批阅记录</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">  </i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"> 关 闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "system/zhuanliruanzhu";

        $(document).ready(function() {
            var kid = $("#id").val();
            var options = {
                url: prefix + "/bhyy/" + kid,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                pagination: false,
                columns: [

                    {
                        field: 'createTime',
                        title: '批阅时间',
                        width: 200

                    },
                    {
                        field: 'uname',
                        title: '批阅人',
                        width: 100
                    },
                    {
                        field: 'concate',
                        title: '内容',
                        width: 500
                    },
                    {
                        field: 'state',
                        title: '审核状态',
                        width: 100
                    }]
            };

            $.table.init(options);
        });

        $("#form-zhuanliruanzhu-edit").validate({
            focusCleanup: true
        });



        function submitHandler() {
            if ($.validate.form()) {
                // 校验名称格式：需包含版本号，如 V1.0
                const mingcheng = $("input[name='mingcheng']").val();
                const namePattern = /V\d+(\.\d+)*/;
                if (!namePattern.test(mingcheng)) {
                    $.modal.alertWarning("名称格式不正确，需包含版本号，格式如：XXX系统V1.0 或 XXX系统[简称：XXX]V1.0");
                    return;
                }

                if ($("input[name='wenjian']").val() == "")
                    return $.modal.alertError("请上传专利文件");
                $.operate.save(prefix + "/edit", $('#form-zhuanliruanzhu-edit').serialize(), function(result) {
                    if (result.code == 0) {
                        $.modal.msgSuccess(result.msg);
                        window.location.href = prefix;
                    }
                });
            }
        }


        $(".file-upload").each(function (i) {
            var val = $("input[name='" + this.id + "']").val()
            var initialPreview = [];
            var initialPreviewConfig = [];
            
            if (val && val.trim() !== '') {
                initialPreview = [val];
                initialPreviewConfig = [{
                    type: "pdf",
                    caption: val.split('/').pop(),
                    url: ctx + "common/delete",
                    key: val
                }];
            }
            
                        $(this).fileinput({
                'uploadUrl': ctx + 'common/upload/zlrz',
                initialPreviewAsData: true,
                initialPreview: initialPreview,
                initialPreviewConfig: initialPreviewConfig,
                maxFileCount: 1,
        maxFileSize: 51200,
                autoReplace: true,
                overwriteInitial: true,
                allowedFileExtensions: ["pdf"],
                slugCallback: function(filename) {
                    if ($("input[name='mingcheng']").val()===""){
                        $(".file-upload").fileinput('clear');
                        $.modal.alertError("请先输入名称");
                        return false;
                    }
                    // 自定义文件名生成规则
                    fileExtension = filename.split('.').pop();
                    const year = new Date().getFullYear();
                    const newName = year +"-"+ $("input[name='mingcheng']").val() +"-"+ "专利软著文件"+ "." + fileExtension;
                    return newName;
                },
                showUpload: false,  // 隐藏上传按钮
            }).on('fileuploaded', function (event, data, previewId, index) {
                if (data.response && data.response.url) {
                    $("input[name='" + event.currentTarget.id + "']").val(data.response.url);
                }
            }).on('fileremoved', function (event, id, index) {
                $("input[name='" + event.currentTarget.id + "']").val('');
            }).on('fileclear', function (event) {
                $("input[name='" + event.currentTarget.id + "']").val('');
            }).on('filebatchselected', function(event) {
                // 批量选择文件后立即上传
                $(this).fileinput('upload');
            }).on('fileselected', function(event) {
                // 单个文件选择后立即上传
                $(this).fileinput('upload');
            });
            $(this).fileinput('_initFileActions');
        });


        $("input[name='huopishijain']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        // 初始化更多成员选择
        // 更多成员管理
        var memberIndex = 0;

        // 初始化已有的更多成员
        $(document).ready(function() {
            var membersJson = /*[[${sciZhuanliruanzhu.members}]]*/ '';
            if (membersJson && membersJson !== '' && membersJson !== 'null') {
                try {
                    var members = JSON.parse(membersJson);
                    members.forEach(function(memberId) {
                        addMemberSelect(memberId);
                    });
                } catch (e) {
                    console.log('解析更多成员失败:', e);
                }
            }
        });

        // 添加成员选择框
        function addMemberSelect(selectedUserId) {
            memberIndex++;
            var userOptions = '';
            var allUsers = /*[[${sysUsers1}]]*/ [];

            userOptions += '<option value="">---请选择---</option>';
            allUsers.forEach(function(user) {
                var selected = selectedUserId && user.userId.toString() === selectedUserId ? 'selected' : '';
                userOptions += '<option value="' + user.userId + '" ' + selected + '>' + user.userName + '</option>';
            });

            var memberHtml =
                '<div class="input-group" style="margin-bottom: 5px;" id="member_' + memberIndex + '">' +
                '<select name="members" class="form-control">' + userOptions + '</select>' +
                '<span class="input-group-btn">' +
                '<button type="button" class="btn btn-danger btn-sm" onclick="removeMemberSelect(' + memberIndex + ')">' +
                '<i class="fa fa-minus"></i>' +
                '</button>' +
                '</span>' +
                '</div>';

            $('#moreMembersContainer').append(memberHtml);
        }

        // 删除成员选择框
        function removeMemberSelect(index) {
            $('#member_' + index).remove();
        }


    </script>

    <script>
        $(function () {
            function loadExpectedSlots() {
                var fenlei = $("select[name='fenlei']").val();
                var isConversion = $("input[name='shifouyingyon']:checked").val();
                if (!fenlei) {
                    $("#secondPersonExpectedJifen").val("");
                    $("#thirdPersonExpectedJifen").val("");
                    $("#fourthPersonExpectedJifen").val("");
                    return;
                }

                $.ajax({
                    url: ctx + "system/zhuanliruanzhu/calcExpectedScores",
                    type: "GET",
                    data: { fenlei: fenlei },
                    dataType: "json",
                    success: function (result) {
                        var data = (result && result.code === 0) ? result.data : null;
                        var secondScore = data && data.secondScore ? parseFloat(data.secondScore) : 0;
                        var thirdScore = data && data.thirdScore ? parseFloat(data.thirdScore) : 0;
                        var fourthScore = data && data.fourthScore ? parseFloat(data.fourthScore) : 0;

                        // 计算机软件著作权（分类值为4）乘以0.5
                        if (isConversion === 'N' && fenlei === "4") {
                            secondScore *= 0.5;
                            thirdScore *= 0.5;
                            fourthScore *= 0.5;
                        }

                        $("#secondPersonExpectedJifen").val(secondScore.toFixed(2));
                        $("#thirdPersonExpectedJifen").val(thirdScore.toFixed(2));
                        $("#fourthPersonExpectedJifen").val(fourthScore.toFixed(2));
                    },
                    error: function () {
                        $("#secondPersonExpectedJifen").val("0");
                        $("#thirdPersonExpectedJifen").val("0");
                        $("#fourthPersonExpectedJifen").val("0");
                    }
                });
            }

            $("select[name='fenlei']").on("change", loadExpectedSlots);
            loadExpectedSlots();
        });
    </script>

</body>
</html>