<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增奖励')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: select2-css" />
</head>

<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-reward-add">

        <div class="row">
            <!-- 申请人（当前登录用户） -->
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">申请人：</label>
                    <div class="col-sm-8">
                        <div th:each="user : ${sysUsers}" th:if="${user.flag}">
                            <input class="form-control" type="text" th:value="${user.userName}" readonly>
                            <input name="userId" type="hidden" th:value="${user.userId}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 其他字段... -->
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">荣誉名称：</label>
                    <div class="col-sm-8">
                        <input name="rewardName" class="form-control" type="text" required maxlength="500">
                    </div>
                </div>
            </div>



            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">颁发单位：</label>
                    <div class="col-sm-8">
                        <input name="rewardDanwei" class="form-control" type="text" required maxlength="500">
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">颁发时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input autocomplete="off" name="rewardTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">分类：</label>
                    <div class="col-sm-8">
                        <select name="rewardFenlei" class="form-control" th:with="type=${@dict.getType('sys_reward_fenlei')}" required >
                            <option value="" selected>----请选择----</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">排名：</label>
                    <div class="col-sm-8">
                        <select name="rewardPaiming" class="form-control" th:with="type=${@dict.getType('sys_reward_paiming')}" required disabled>
                            <option value="1" selected>第一名</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">等级：</label>
                    <div class="col-sm-8">
                        <select id="rewarDengji" name="rewardDengji" class="form-control" th:with="type=${@dict.getType('sys_reward_dengji')}" required>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>


<!--            <div class="col-xs-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="col-sm-4 control-label is-required" for="rewardJibie">级别：</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <select id="rewardJibie" name="rewardJibie" class="form-control" required>-->
<!--                            <option value="校级">校级</option>-->
<!--                            <option value="省级">省级</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label is-required">主持人：</label>
                        <div class="col-sm-8">
                            <select id="firstPersonSelect" name="firstPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                                <option value="">---请选择--</option>
<!--                                <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}"  th:if="${user.userId} != 1 and ${user.flag != true}" ></option>-->
                                <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${user.flag}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label">预期科研分：</label>
                        <div class="col-sm-8">
                            <input id="expectedScore1" class="form-control" type="text" readonly placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label is-required">成员1：</label>
                        <div class="col-sm-8">
                            <select id="member1Select" name="secondPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                                <option value="">---请选择--</option>
                                <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label">预期科研分：</label>
                        <div class="col-sm-8">
                            <input id="expectedScore2" class="form-control" type="text" readonly placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label is-required">成员2：</label>
                        <div class="col-sm-8">
                            <select id="member2Select" name="thirdPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                                <option value="">---请选择--</option>
                                <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label">预期科研分：</label>
                        <div class="col-sm-8">
                            <input id="expectedScore3" class="form-control" type="text" readonly placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label is-required">成员3：</label>
                        <div class="col-sm-8">
                            <select id="member3Select" name="fourthPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                                <option value="">---请选择--</option>
                                <option th:each="user : ${sysUsers}" th:text="${user.userName}" th:value="${user.userId}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label">预期科研分：</label>
                        <div class="col-sm-8">
                            <input id="expectedScore4" class="form-control" type="text" readonly placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 【添加】隐藏域，用于收集所有额外成员ID，以逗号分隔 -->
            <input type="hidden" name="extraMemberIds" id="extraMemberIds">
            <!-- 预计积分字段 -->
            <input type="hidden" name="expectedJifen" id="expectedJifen">
            <!-- 第5位及以后：可动态添加 -->
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">更多成员：</label>
                    <div class="col-sm-10">
                        <div id="memberContainer" class="row"></div>
                        <button type="button" id="addMemberBtn" class="btn btn-white btn-sm" title="新增成员">
                            <a href="#"><i class="fa fa-plus-circle" ></i>增加成员</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">证书文件：</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="rewardWenjian">
                        <div class="file-loading">
                            <input class="form-control file-upload" id="rewardWenjian" name="file" type="file">
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">  </i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"> 关 闭 </button>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: select2-js" />
<script type="text/javascript">
    var prefix = ctx + "system/reward";
    var scoreConfigs = []; // 存储当前分类+等级下的所有积分配置

    $(function(){
        // 保存原始选项
        $('#firstPersonSelect,#member1Select, #member2Select, #member3Select').each(function() {
            var originalOptions = $(this).html();
            $(this).data('original-options', originalOptions);
        });
        // 排名固定为第一名，初始化时触发排名安排，让主持人默认为当前用户
        arrangeMembersByRank('1');
        // 初始化Select2
        $('#firstPersonSelect,select[name="secondPersonId"], select[name="thirdPersonId"], select[name="fourthPersonId"]').select2({
            width: '100%',
            placeholder: '输入检索成员',
            allowClear: true
        });

        // 添加成员按钮事件
        $('#addMemberBtn').on('click', function(){
            appendMemberSelect();
        });

        // 删除成员事件
        $(document).on('click', '.remove-member', function(){
            $(this).closest('.member-item').remove();
            updateMemberLists();
        });

        // 初始化联动
        updateMemberLists();
    });

    // 添加成员下拉框
    function appendMemberSelect() {
        var memberCount = $('.member-item').length + 5; // 从第5位开始计数（前面有主持人+成员1-3=4人）
        var memberId = 'dynamicMember' + memberCount;

        // 修改后的模板：改成 col-xs-12，添加预计科研分输入框
        var $tpl = $('<div class="col-xs-12 member-item m-b-xs">\
        <div class="form-group">\
            <!-- 成员选择框占6列 -->\
            <div class="col-sm-6">\
                <div class="input-group">\
                    <label class="input-group-addon" style="min-width: 90px;">成员' + memberCount + '：</label>\
                    <select id="' + memberId + '" name="extraMemberIds" class="form-control member-select" onchange="updateMemberLists()">\
                        <option value="">---请选择--</option>\
                    </select>\
                    <span class="input-group-btn">\
                        <button class="btn btn-danger btn-sm remove-member" type="button" title="移除"><i class="fa fa-minus"></i></button>\
                    </span>\
                </div>\
            </div>\
            <!-- 预计科研分占6列 -->\
            <div class="col-sm-6">\
                <div class="input-group">\
                    <label class="input-group-addon" style="min-width: 90px;">预期科研分：</label>\
                    <input id="expectedScore' + memberCount + '" class="form-control expected-score-input" type="text" readonly placeholder="">\
                </div>\
            </div>\
        </div>\
    </div>');

        var $select = $tpl.find('select.member-select');
        var originalOptions = $('#member1Select').data('original-options');
        $select.append(originalOptions);

        $('#memberContainer').append($tpl);

        // 初始化Select2
        $select.select2({
            width: '100%',
            placeholder: '输入检索成员',
            allowClear: true
        });

        updateMemberLists();
    }

    // 更新成员下拉框
    function updateMemberLists() {
        var selectedIds = new Set();

        // 获取固定成员的值
        var firstValue = $('#firstPersonSelect').val();
        var member1Value = $('#member1Select').val();
        var member2Value = $('#member2Select').val();
        var member3Value = $('#member3Select').val();

        if (firstValue) selectedIds.add(firstValue);
        if (member1Value) selectedIds.add(member1Value);
        if (member2Value) selectedIds.add(member2Value);
        if (member3Value) selectedIds.add(member3Value);

        // 获取动态成员的值
        $('.member-select').each(function() {
            var value = $(this).val();
            if (value) selectedIds.add(value);
        });

        // 更新所有下拉框
        updateSelectOptions('#firstPersonSelect', firstValue, selectedIds);
        updateSelectOptions('#member1Select', member1Value, selectedIds);
        updateSelectOptions('#member2Select', member2Value, selectedIds);
        updateSelectOptions('#member3Select', member3Value, selectedIds);

        $('.member-select').each(function() {
            updateSelectOptions('#' + $(this).attr('id'), $(this).val(), selectedIds);
        });

        // 更新隐藏字段
        updateExtraMemberIds();
    }

    // 更新单个下拉框选项
    function updateSelectOptions(selectId, currentValue, selectedIds) {
        var $select = $(selectId);
        var originalOptions = $select.data('original-options');

        $select.find('option:not(:first)').remove();

        var tempDiv = $('<div>' + originalOptions + '</div>');
        tempDiv.find('option').each(function() {
            var value = $(this).val();
            if (value && (!selectedIds.has(value) || value === currentValue)) {
                $select.append($(this).clone());
            }
        });

        if (currentValue) {
            $select.val(currentValue);
        }
    }

    // 更新额外成员ID列表
    function updateExtraMemberIds() {
        var extraIds = [];
        $('.member-select').each(function() {
            var val = $(this).val();
            if (val) extraIds.push(val);
        });
        $("#extraMemberIds").val(extraIds.join(","));
        // 将数组转为逗号分隔的字符串，存入隐藏域
        console.log("extraMemberIds:", extraIds.join(","));
    }

    $("#form-reward-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($("input[name='rewardWenjian']").val() === "") {
            $.modal.alertError("请添加证书文件");
            return false;
        }

        // 提交前重新启用所有禁用的下拉框，确保值能被提交
        $('#firstPersonSelect, #member1Select, #member2Select, #member3Select, .member-select, select[name="rewardPaiming"]').prop('disabled', false);

        if ($.validate.form()) {
            $.operate.saveTab(prefix + "/add", $('#form-reward-add').serialize());
        }
    }

    $("input[name='rewardTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $(".file-upload").fileinput({
        uploadUrl: ctx + 'common/upload/jl',
        initialPreviewAsData: true,
        maxFileCount: 1,
        maxFileSize: 51200,
        autoReplace: true,
        allowedFileExtensions: ["pdf"],
        slugCallback: function(filename) {
            if ($("input[name='rewardName']").val() === "") {
                $(".file-uploadb").fileinput('clear');
                $.modal.alertError("请先输入荣誉名称");
                return false;
            }
            fileExtension = filename.split('.').pop();
            const year = new Date().getFullYear();
            const newName = year + "-" + $("input[name='rewardName']").val() + "-" + "证书文件" + "." + fileExtension;
            return newName;
        },
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    }).on('filebatchselected', function(event) {
        $(this).fileinput('upload');
    }).on('fileselected', function(event) {
        $(this).fileinput('upload');
    });

    // // 监听分类、等级、排名变化
    // $('select[name="rewardFenlei"], select[name="rewardDengji"], select[name="rewardPaiming"]').on('change', function() {
    //     calculatePreviewScore();
    // });

    // 只监听分类和等级变化，不需要监听排名
    $('select[name="rewardFenlei"], select[name="rewardDengji"]').on('change', function() {
        loadScoreConfigs();
    });
    // 计算预览积分
    function calculatePreviewScore() {
        var fenlei = $('select[name="rewardFenlei"]').val();
        var dengji = $('select[name="rewardDengji"]').val();
        var paiming = $('select[name="rewardPaiming"]').val();

        // 三个字段都选择后才计算
        if (fenlei && dengji && paiming) {
            $.ajax({
                url: ctx + 'system/rewardcfg/calculateScore',
                type: 'GET',
                data: {
                    fenLei: fenlei,
                    dengJi: dengji,
                    paiMing: paiming
                },
                success: function(result) {
                    if (result.code === 0) {
                        $('#previewScore').text('预计科研分：' + result.data + ' 分');
                    } else {
                        $('#previewScore').text('计算失败，请稍后重试');
                    }
                },
                error: function() {
                    $('#previewScore').text('计算失败，请稍后重试');
                }
            });
        } else {
            $('#previewScore').text('请先选择分类、等级、排名');
        }
    }

    // 加载积分配置
    function loadScoreConfigs() {
        var fenlei = $('select[name="rewardFenlei"]').val();
        var dengji = $('select[name="rewardDengji"]').val();

        if (fenlei && dengji) {
            $.ajax({
                url: ctx + 'system/rewardcfg/getScoreConfigs',
                type: 'GET',
                data: { fenLei: fenlei, dengJi: dengji },
                success: function(result) {
                    if (result.code === 0) {
                        scoreConfigs = result.data;
                        assignScoresToMembers(); // 分配分数
                    }
                }
            });
        }
    }

    // 分配分数给所有成员
    function assignScoresToMembers() {
        // 1. 主持人（第1名）
        if (scoreConfigs.length > 0) {
            $('#expectedScore1').val(scoreConfigs[0].totalScore);
            // 设置预计积分隐藏字段（取主持人的积分作为预计积分）
            $('#expectedJifen').val(scoreConfigs[0].totalScore);
        } else {
            $('#expectedScore1').val('');
            $('#expectedJifen').val('');
        }

        // 2. 成员1（第2名）
        if (scoreConfigs.length > 1) {
            $('#expectedScore2').val(scoreConfigs[1].totalScore);
        } else {
            $('#expectedScore2').val('');
        }

        // 3. 成员2（第3名）
        if (scoreConfigs.length > 2) {
            $('#expectedScore3').val(scoreConfigs[2].totalScore);
        } else {
            $('#expectedScore3').val('');
        }

        // 4. 成员3（第4名）
        if (scoreConfigs.length > 3) {
            $('#expectedScore4').val(scoreConfigs[3].totalScore);
        } else {
            $('#expectedScore4').val('');
        }

        // 5. 动态成员（从第5名开始）
        $('.expected-score-input').each(function(index) {
            var rankIndex = index + 4; // 第5名对应索引4
            if (scoreConfigs.length > rankIndex) {
                $(this).val(scoreConfigs[rankIndex].totalScore);
            } else {
                $(this).val('');
            }
        });
    }

    // 根据排名安排成员位置
    function arrangeMembersByRank(rank) {
        // 获取当前用户ID（从申请人的隐藏域获取）
        var currentUserId = $('input[name="userId"]').val();

        // 先恢复所有框为可编辑状态
        $('#firstPersonSelect').prop('disabled', false);
        $('#member1Select').prop('disabled', false);
        $('#member2Select').prop('disabled', false);
        $('#member3Select').prop('disabled', false);

        // 先恢复所有下拉框的完整原始选项
        restoreFullOptions('#firstPersonSelect');
        restoreFullOptions('#member1Select');
        restoreFullOptions('#member2Select');
        restoreFullOptions('#member3Select');

        // 清空所有选择
        $('#firstPersonSelect').val('');
        $('#member1Select').val('');
        $('#member2Select').val('');
        $('#member3Select').val('');

        // 清空动态成员
        $('#memberContainer').empty();

        // 根据排名放置当前用户，并将该框设为只读
        switch(rank) {
            case "1":
                // 第1名：主持人
                $('#firstPersonSelect').val(currentUserId).trigger('change');
                $('#firstPersonSelect').prop('disabled', true);
                break;
            case "2":
                // 第2名：成员1
                $('#member1Select').val(currentUserId).trigger('change');
                $('#member1Select').prop('disabled', true);
                break;
            case "3":
                // 第3名：成员2
                $('#member2Select').val(currentUserId).trigger('change');
                $('#member2Select').prop('disabled', true);
                break;
            case "4":
                // 第4名：成员3
                $('#member3Select').val(currentUserId).trigger('change');
                $('#member3Select').prop('disabled', true);
                break;
            default:
                // 第5名及以后：动态添加
                var rankNum = parseInt(rank);
                if (rankNum >= 5) {
                    // 先添加足够的动态成员框
                    for (var i = 5; i <= rankNum; i++) {
                        appendMemberSelect();
                    }
                    // 然后在最后一个位置选中当前用户
                    var lastMemberSelect = $('.member-select').last();
                    lastMemberSelect.val(currentUserId).trigger('change');
                    lastMemberSelect.prop('disabled', true);
                }
                break;
        }

        // 更新成员列表（互斥逻辑）
        updateMemberLists();
    }

    // 恢复下拉框的完整原始选项
    function restoreFullOptions(selectId) {
        var $select = $(selectId);
        var originalOptions = $select.data('original-options');
        if (originalOptions) {
            $select.html(originalOptions);
        }
    }
</script>
</body>
</html>