<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改奖励')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-reward-edit" th:object="${sysReward}">
            <input name="id" id="ktid" th:field="*{id}" type="hidden">
            <div class="row">

                <div class="col-xs-6">
                        <label class="col-sm-4 control-label is-required">申请人：</label>
                        <div class="col-sm-8">
                            <select name="userId" class="form-control m-b" disabled="true">
                                <option th:each="user : ${sysUsers1}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${ user.userId == sysReward.userId}"></option>
                            </select>
                        </div>
                </div>

                <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">荣誉名称：</label>
                    <div class="col-sm-8">
                        <input name="rewardName" th:field="*{rewardName}" class="form-control" type="text" required maxlength="500">
                    </div>
                </div>
                </div>

                <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">颁发单位：</label>
                    <div class="col-sm-8">
                        <input name="rewardDanwei" th:field="*{rewardDanwei}" class="form-control" type="text" required maxlength="500">
                    </div>
                </div>
                </div>


                <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">颁发时间：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input name="rewardTime" th:value="${#dates.format(sysReward.rewardTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">分类：</label>
                    <div class="col-sm-8">
                        <select name="rewardFenlei" class="form-control" th:field="*{rewardFenlei}" type="text" th:with="type=${@dict.getType('sys_reward_fenlei')}"  required >
<!--                            <option value="省级教学成果奖">省级教学成果奖</option>-->
<!--                            <option value="省级科学技术奖">省级科学技术奖</option>-->
<!--                            <option value="省级一流精品课评比">省级一流精品课评比</option>-->
<!--                            <option value="市、厅局级自然科学类评奖">市、厅局级自然科学类评奖</option>-->
<!--                            <option value="市、厅局级社科类评奖">市、厅局级社科类评奖</option>-->
<!--                            <option value="校级教学成果奖">校级教学成果奖</option>-->
<!--                            <option value="应用型科研校级成果奖">应用型科研校级成果奖</option>-->
<!--                            <option value="校级精品课评比">校级精品课评比</option>-->
<!--                            <option value="指导学生参加国家科创大赛且获得名次">指导学生参加国家科创大赛且获得名次</option>-->
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
                </div>

                <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">排名：</label>
                    <div class="col-sm-8">
                        <select name="rewardPaiming" class="form-control" required disabled>
                            <option value="1" selected>第一名</option>
                        </select>
                    </div>
                </div>
                </div>

<!--            <div class="col-xs-6">-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-4 control-label is-required" for="rewardJibie">级别：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select id="rewardJibie" th:field="*{rewardJibie}" class="form-control" required>-->
<!--                        <option value="校级">校级</option>-->
<!--                        <option value="省级">省级</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            </div>-->

                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">等级：</label>
                        <div class="col-sm-8">
                            <select id="rewarDengji"  th:field="*{rewardDengji}" class="form-control" type="text" th:with="type=${@dict.getType('sys_reward_dengji')}" required>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label is-required">主持人：</label>
                        <div class="col-sm-8">
                            <select id="firstPersonSelect" name="firstPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                                <option value="">---请选择--</option>
                                <option th:each="user : ${sysUsers1}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${ #strings.toString(user.userId) == sysReward.firstPersonId}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label">预期科研分：</label>
                        <div class="col-sm-8">
                            <input id="expectedScore1" class="form-control" type="text" readonly placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label is-required">成员1：</label>
                        <div class="col-sm-8">
                            <select id="member1Select" name="secondPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                                <option value="">无</option>
                                <option th:each="user : ${sysUsers1}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${ #strings.toString(user.userId) == sysReward.secondPersonId}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label">预期科研分：</label>
                        <div class="col-sm-8">
                            <input id="expectedScore2" class="form-control" type="text" readonly placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label is-required">成员2：</label>
                        <div class="col-sm-8">
                            <select id="member2Select" name="thirdPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                                <option value="">无</option>
                                <option th:each="user : ${sysUsers1}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${ #strings.toString(user.userId) == sysReward.thirdPersonId}"  ></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label">预期科研分：</label>
                        <div class="col-sm-8">
                            <input id="expectedScore3" class="form-control" type="text" readonly placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label is-required">成员3：</label>
                        <div class="col-sm-8">
                            <select id="member3Select" name="fourthPersonId" class="form-control m-b" onchange="updateMemberLists()" required>
                                <option value="">无</option>
                                <option th:each="user : ${sysUsers1}" th:text="${user.userName}" th:value="${user.userId}" th:selected="${ #strings.toString(user.userId) == sysReward.fourthPersonId}"  ></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label">预期科研分：</label>
                        <div class="col-sm-8">
                            <input id="expectedScore4" class="form-control" type="text" readonly placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 预计积分字段 -->
            <input type="hidden" name="extraMemberIds" id="extraMemberIds">
            <input type="hidden" name="expectedJifen" id="expectedJifen">
            <!-- 各成员预计积分隐藏字段（用于表单提交） -->
            <input type="hidden" name="expectedScore1" id="hiddenExpectedScore1">
            <input type="hidden" name="expectedScore2" id="hiddenExpectedScore2">
            <input type="hidden" name="expectedScore3" id="hiddenExpectedScore3">
            <input type="hidden" name="expectedScore4" id="hiddenExpectedScore4">
            <input type="hidden" name="extraMemberScores" id="extraMemberScores">
            <!-- 第5位及以后：可动态添加 -->
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">更多成员：</label>
                    <div class="col-sm-10">
                        <div id="memberContainer" class="row" ></div>
                        <button type="button" id="addMemberBtn" class="btn btn-white btn-sm" title="新增成员">
                            <i class="fa fa-plus-circle" ></i>增加成员
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">证书文件：</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="rewardWenjian" th:field="*{rewardWenjian}" id="rewardWenjian">
                        <div class="file-loading">
                            <input class="form-control file-upload" id="rewardWenjian" name="file" type="file">
                        </div>
                        <div style="display: inline-block;">
                            <div  style="display: inline; margin-right: 5px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <h4 class="form-header h4">批阅记录</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">  </i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"> 关 闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
        $(function(){
            var kid = $("#ktid").val();
            var options = {
                url: prefix + "/bhyy/"+kid,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                pagination:false,

                columns: [

                    {
                        field : 'createTime',
                        title : '批阅时间',
                        width: 200

                    } ,
                    {
                        field : 'uname',
                        title : '批阅人',
                        width: 100
                    },
                    {
                        field : 'concate',
                        title : '内容',
                        width: 500
                    },
                    {
                        field : 'state',
                        title : '审核状态',
                        width: 100
                    }
                ]
            };
            $.table.init(options);
        });
    </script>
    <script th:inline="javascript">
        var prefix = ctx + "system/reward";
        var scoreConfigs = []; // 存储当前分类+等级下的所有积分配置

        /**
         * 【页面加载完成后执行】初始化成员联动功能
         */
        $(function(){
            // 【步骤1】保存所有下拉框的原始选项（包括主持人）
            $('#firstPersonSelect, #member1Select, #member2Select, #member3Select').each(function() {
                var originalOptions = $(this).html();
                $(this).data('original-options', originalOptions);
            });

            // 排名固定为第一名，触发排名安排，让主持人默认为当前用户
            arrangeMembersByRank('1');

            // 【步骤3】加载已有动态成员（从后端 extraMembers 数据）
            initExtraMembers();

            // 【步骤4】执行一次联动，过滤已被选中的成员
            updateMemberLists();
            loadScoreConfigs(); // 加载积分配置

            // 【步骤5】绑定"增加成员"按钮点击事件
            $('#addMemberBtn').on('click', function(){
                appendMemberSelect();
            });

            // 【步骤6】事件委托：绑定动态生成的删除按钮点击事件
            $(document).on('click', '.remove-member', function(){
                $(this).closest('.member-item').remove();  // 删除整行
                updateMemberLists();  // 更新联动（释放被占用的选项）
                loadScoreConfigs(); // 重新加载积分配置
            });

            // 【步骤7】初始化Select2
            $('#firstPersonSelect, #member1Select, #member2Select, #member3Select').select2({
                width: '100%',
                placeholder: '输入检索成员',
                allowClear: true
            });

            // 【步骤8】监听分类和等级变化，更新积分配置
            $('select[name="rewardFenlei"], select[name="rewardDengji"]').on('change', function() {
                loadScoreConfigs();
            });
        });

        /**
         * 【初始化动态成员】从后端 extraMembers 加载第5位及以后的成员
         */
        function initExtraMembers() {
            // 通过 Thymeleaf 内联语法获取后端数据
            var extraMembers = /*[[${extraMembers}]]*/ [];

            if (extraMembers && extraMembers.length > 0) {
                for (var i = 0; i < extraMembers.length; i++) {
                    // 成员编号从5开始（前面有主持人、成员1-3）
                    appendMemberSelectWithValue(extraMembers[i], i + 5);
                }
            }
        }

        /**
         * 【核心函数】更新所有成员下拉框，排除已选的人，避免重复选择
         */
        function updateMemberLists() {
            var selectedIds = new Set();

            // 获取固定成员的值
            var firstValue = $('#firstPersonSelect').val();
            var member1Value = $('#member1Select').val();
            var member2Value = $('#member2Select').val();
            var member3Value = $('#member3Select').val();

            if (firstValue) selectedIds.add(firstValue);
            if (member1Value) selectedIds.add(member1Value);
            if (member2Value) selectedIds.add(member2Value);
            if (member3Value) selectedIds.add(member3Value);

            // 获取动态成员的值
            $('.member-select').each(function() {
                var value = $(this).val();
                if (value) selectedIds.add(value);
            });

            // 更新所有下拉框
            updateSelectOptions('#firstPersonSelect', firstValue, selectedIds);
            updateSelectOptions('#member1Select', member1Value, selectedIds);
            updateSelectOptions('#member2Select', member2Value, selectedIds);
            updateSelectOptions('#member3Select', member3Value, selectedIds);

            $('.member-select').each(function() {
                rebuildSelectOptions($(this), $(this).val(), selectedIds);
            });

            // 更新隐藏字段
            updateExtraMemberIds();
        }

        // 更新额外成员ID列表
        function updateExtraMemberIds() {
            var extraIds = [];
            $('.member-select').each(function() {
                var val = $(this).val();
                if (val) extraIds.push(val);
            });
            $('#extraMemberIds').val(extraIds.join(','));
        }

        /**
         * 【辅助函数】更新指定下拉框的选项
         * @param selectId - jQuery选择器，如 '#member1Select'
         * @param currentValue - 当前选中的值（必须保留）
         * @param selectedIds - 已选成员ID集合（需要排除的）
         */
        function updateSelectOptions(selectId, currentValue, selectedIds) {
            var $select = $(selectId);
            var originalOptions = $select.data('original-options');

            $select.find('option:not(:first)').remove();

            var tempDiv = $('<div>' + originalOptions + '</div>');
            tempDiv.find('option').each(function() {
                var value = $(this).val();
                if (value && (!selectedIds.has(value) || value === currentValue || value === "-1")) {
                    $select.append($(this).clone());
                }
            });

            if (currentValue) {
                $select.val(currentValue);
            }
        }

        // 重建下拉框选项（用于动态成员）
        function rebuildSelectOptions($select, currentValue, selectedIds) {
            var originalOptions = $('#member1Select').data('original-options');
            if (!originalOptions) return;

            $select.find('option:not(:first)').remove();

            var tempDiv = $('<div>').html(originalOptions);
            tempDiv.find('option').each(function() {
                var value = $(this).val();
                var text = $(this).text();
                if (value && (!selectedIds.has(value) || value === currentValue || value === "-1")) {
                    $select.append($('<option></option>').val(value).text(text));
                }
            });

            if (currentValue) {
                $select.val(currentValue);
            }
        }

        /**
         * 【添加新成员】点击"增加成员"按钮调用
         * 创建第5位及以后的成员选择框
         */
        function appendMemberSelect() {
            // 计算新成员编号
            var existingCount = $('.member-item').length;
            var memberNumber = existingCount + 5;  // 成员5、成员6...
            var memberId = 'dynamicMember' + memberNumber;

            // 构建HTML，包含预期科研分输入框
            var html = '<div class="col-xs-12 member-item m-b-xs">' +
                '<div class="form-group">' +
                '<div class="col-sm-6">' +
                '<div class="input-group">' +
                '<label class="input-group-addon" style="min-width: 90px;">成员' + memberNumber + '：</label>' +
                '<select id="' + memberId + '" class="form-control member-select" onchange="updateMemberLists()">' +
                '<option value="">---请选择--</option>' +
                '</select>' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-danger btn-sm remove-member" type="button" title="移除"><i class="fa fa-minus"></i></button>' +
                '</span>' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-6">' +
                '<div class="input-group">' +
                '<label class="input-group-addon" style="min-width: 90px;">预期科研分：</label>' +
                '<input id="expectedScore' + memberNumber + '" class="form-control expected-score-input" type="text" readonly placeholder="">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';

            var $tpl = $(html);
            var $select = $tpl.find('select.member-select');

            // 填充所有选项
            var originalOptions = $('#member1Select').data('original-options');
            if (originalOptions) {
                var tempDiv = $('<div>').html(originalOptions);
                tempDiv.find('option').each(function() {
                    var value = $(this).val();
                    var text = $(this).text();
                    if (value) {
                        $select.append($('<option></option>').val(value).text(text));
                    }
                });
            }

            // 添加到页面
            $('#memberContainer').append($tpl);

            // 初始化Select2
            $select.select2({
                width: '100%',
                placeholder: '输入检索成员',
                allowClear: true
            });

            // 更新联动（过滤已被占用的选项）
            updateMemberLists();
            // 加载积分配置
            loadScoreConfigs();
        }

        /**
         * 【带值添加成员】用于初始化时加载已有数据
         */
        function appendMemberSelectWithValue(selectedValue, memberNumber) {
            var memberId = 'dynamicMember' + memberNumber;

            var html = '<div class="col-xs-12 member-item m-b-xs">' +
                '<div class="form-group">' +
                '<div class="col-sm-6">' +
                '<div class="input-group">' +
                '<label class="input-group-addon" style="min-width: 90px;">成员' + memberNumber + '：</label>' +
                '<select id="' + memberId + '" class="form-control member-select" onchange="updateMemberLists()">' +
                '<option value="">---请选择--</option>' +
                '</select>' +
                '<span class="input-group-btn">' +
                '<button class="btn btn-danger btn-sm remove-member" type="button" title="移除"><i class="fa fa-minus"></i></button>' +
                '</span>' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-6">' +
                '<div class="input-group">' +
                '<label class="input-group-addon" style="min-width: 90px;">预期科研分：</label>' +
                '<input id="expectedScore' + memberNumber + '" class="form-control expected-score-input" type="text" readonly placeholder="">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';

            var $tpl = $(html);
            var $select = $tpl.find('select.member-select');

            // 填充所有选项
            var originalOptions = $('#member1Select').data('original-options');
            if (originalOptions) {
                var tempDiv = $('<div>').html(originalOptions);
                tempDiv.find('option').each(function() {
                    var value = $(this).val();
                    var text = $(this).text();
                    if (value) {
                        $select.append($('<option></option>').val(value).text(text));
                    }
                });
            }

            // 设置选中值
            if (selectedValue) {
                $select.val(selectedValue);
            }

            // 添加到页面
            $('#memberContainer').append($tpl);

            // 初始化Select2
            $select.select2({
                width: '100%',
                placeholder: '输入检索成员',
                allowClear: true
            });
        }

        $("#form-reward-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            // 提交前重新启用所有禁用的下拉框，确保值能被提交
            $('#firstPersonSelect, #member1Select, #member2Select, #member3Select, .member-select, select[name="rewardPaiming"]').prop('disabled', false);
            updateExtraMemberIds();

            if ($.validate.form()) {
                $.operate.saveTab(prefix + "/edit", $('#form-reward-edit').serialize());
            }
        }
        function chakan(){
            var c = $("#rewardWenjian").val();
            $.modal.openTab("查看证书文件" ,c );
        }

        $("input[name='rewardTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function downloadFile(type){
            var contextPath = '/' + window.location.pathname.split('/')[1];
        var c = window.location.origin + contextPath + $("#"+type).val();
            if(c){
                var a = document.createElement("a");
                a.href=c;
                a.download="";
                a.style.display = "none";
                document.body.appendChild(a);
                a.click();
                document.Element.removeChild(a);
            }else{
                alert("网址无效");
            }

        }

        $(".file-upload").each(function (i) {
            var val = $("input[name='" + this.id + "']").val()
            var initialPreview = [];
            var initialPreviewConfig = [];
            
            if (val && val.trim() !== '') {
                initialPreview = [val];
                initialPreviewConfig = [{
                    type: "pdf",
                    caption: val.split('/').pop(),
                    url: ctx + "common/delete",
                    key: val
                }];
            }
            
                        $(this).fileinput({
                'uploadUrl': ctx + 'common/upload/jl',
                initialPreviewAsData: true,
                initialPreview: initialPreview,
                initialPreviewConfig: initialPreviewConfig,
                maxFileCount: 1,
        maxFileSize: 51200,
                autoReplace: true,
                overwriteInitial: true,
                allowedFileExtensions: ["pdf", "jpg", "jpeg", "png", "doc", "docx"],
                slugCallback: function(filename) {
                    if ($("input[name='topName']").val()===""){
                        $(".file-uploadb").fileinput('clear');
                        $.modal.alertError("请先输入课题名称");
                        return false;
                    }
                    // 自定义文件名生成规则
                    fileExtension = filename.split('.').pop();
                    const year = new Date().getFullYear();
                    const newName = year +"-"+ $("input[name='rewardName']").val() +"-"+ "证书文件"+ "." + fileExtension;
                    return newName;
                },
                showUpload: false,  // 隐藏上传按钮
            }).on('fileuploaded', function (event, data, previewId, index) {
                if (data.response && data.response.url) {
                    $("input[name='" + event.currentTarget.id + "']").val(data.response.url);
                }
            }).on('fileremoved', function (event, id, index) {
                $("input[name='" + event.currentTarget.id + "']").val('');
            }).on('fileclear', function (event) {
                $("input[name='" + event.currentTarget.id + "']").val('');
            }).on('filebatchselected', function(event) {
                // 批量选择文件后立即上传
                $(this).fileinput('upload');
            }).on('fileselected', function(event) {
                // 单个文件选择后立即上传
                $(this).fileinput('upload');
            });
            $(this).fileinput('_initFileActions');
        });
        // 加载积分配置
        function loadScoreConfigs() {
            var fenlei = $('select[name="rewardFenlei"]').val();
            var dengji = $('select[name="rewardDengji"]').val();

            if (fenlei && dengji) {
                $.ajax({
                    url: ctx + 'system/rewardcfg/getScoreConfigs',
                    type: 'GET',
                    data: { fenLei: fenlei, dengJi: dengji },
                    success: function(result) {
                        if (result.code === 0) {
                            scoreConfigs = result.data;
                            assignScoresToMembers(); // 分配分数
                        }
                    }
                });
            }
        }

        // 分配分数给所有成员
        function assignScoresToMembers() {
            // 1. 主持人（第1名）
            if (scoreConfigs.length > 0) {
                $('#expectedScore1').val(scoreConfigs[0].totalScore);
                $('#hiddenExpectedScore1').val(scoreConfigs[0].totalScore); // 同步到隐藏字段
                // 设置预计积分隐藏字段（取主持人的积分作为预计积分）
                $('#expectedJifen').val(scoreConfigs[0].totalScore);
            } else {
                $('#expectedScore1').val('');
                $('#hiddenExpectedScore1').val('');
                $('#expectedJifen').val('');
            }

            // 2. 成员1（第2名）
            if (scoreConfigs.length > 1) {
                $('#expectedScore2').val(scoreConfigs[1].totalScore);
                $('#hiddenExpectedScore2').val(scoreConfigs[1].totalScore); // 同步到隐藏字段
            } else {
                $('#expectedScore2').val('');
                $('#hiddenExpectedScore2').val('');
            }

            // 3. 成员2（第3名）
            if (scoreConfigs.length > 2) {
                $('#expectedScore3').val(scoreConfigs[2].totalScore);
                $('#hiddenExpectedScore3').val(scoreConfigs[2].totalScore); // 同步到隐藏字段
            } else {
                $('#expectedScore3').val('');
                $('#hiddenExpectedScore3').val('');
            }

            // 4. 成员3（第4名）
            if (scoreConfigs.length > 3) {
                $('#expectedScore4').val(scoreConfigs[3].totalScore);
                $('#hiddenExpectedScore4').val(scoreConfigs[3].totalScore); // 同步到隐藏字段
            } else {
                $('#expectedScore4').val('');
                $('#hiddenExpectedScore4').val('');
            }

            // 5. 动态成员（从第5名开始）
            var extraScores = [];
            $('.expected-score-input').each(function(index) {
                var rankIndex = index + 4; // 第5名对应索引4
                if (scoreConfigs.length > rankIndex) {
                    $(this).val(scoreConfigs[rankIndex].totalScore);
                    extraScores.push(scoreConfigs[rankIndex].totalScore);
                } else {
                    $(this).val('');
                    extraScores.push('');
                }
            });
            // 将动态成员积分存入隐藏字段
            $('#extraMemberScores').val(extraScores.join(","));
        }

        // 根据排名安排成员位置
        function arrangeMembersByRank(rank) {
            // 获取当前用户ID（从申请人的下拉框获取）
            var currentUserId = $('select[name="userId"]').val();

            // 先恢复所有框为可编辑状态
            $('#firstPersonSelect').prop('disabled', false);
            $('#member1Select').prop('disabled', false);
            $('#member2Select').prop('disabled', false);
            $('#member3Select').prop('disabled', false);

            // 先恢复所有下拉框的完整原始选项
            restoreFullOptions('#firstPersonSelect');
            restoreFullOptions('#member1Select');
            restoreFullOptions('#member2Select');
            restoreFullOptions('#member3Select');

            // 清空所有选择
            $('#firstPersonSelect').val('');
            $('#member1Select').val('');
            $('#member2Select').val('');
            $('#member3Select').val('');

            // 清空动态成员
            $('#memberContainer').empty();

            // 根据排名放置当前用户，并将该框设为只读
            switch(rank) {
                case "1":
                    // 第1名：主持人
                    $('#firstPersonSelect').val(currentUserId).trigger('change');
                    $('#firstPersonSelect').prop('disabled', true);
                    break;
                case "2":
                    // 第2名：成员1
                    $('#member1Select').val(currentUserId).trigger('change');
                    $('#member1Select').prop('disabled', true);
                    break;
                case "3":
                    // 第3名：成员2
                    $('#member2Select').val(currentUserId).trigger('change');
                    $('#member2Select').prop('disabled', true);
                    break;
                case "4":
                    // 第4名：成员3
                    $('#member3Select').val(currentUserId).trigger('change');
                    $('#member3Select').prop('disabled', true);
                    break;
                default:
                    // 第5名及以后：动态添加
                    var rankNum = parseInt(rank);
                    if (rankNum >= 5) {
                        // 先添加足够的动态成员框
                        for (var i = 5; i <= rankNum; i++) {
                            appendMemberSelect();
                        }
                        // 然后在最后一个位置选中当前用户
                        var lastMemberSelect = $('.member-select').last();
                        lastMemberSelect.val(currentUserId).trigger('change');
                        lastMemberSelect.prop('disabled', true);
                    }
                    break;
            }

            // 更新成员列表（互斥逻辑）
            updateMemberLists();
        }

        // 恢复下拉框的完整原始选项
        function restoreFullOptions(selectId) {
            var $select = $(selectId);
            var originalOptions = $select.data('original-options');
            if (originalOptions) {
                $select.html(originalOptions);
            }
        }
        bindOtherScoreDisplays([
            ["#firstPersonSelect", "#expectedScore1"],
            ["#member1Select", "#expectedScore2"],
            ["#member2Select", "#expectedScore3"],
            ["#member3Select", "#expectedScore4"]
        ]);
    </script>
</body>
</html>
