<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('奖励列表')" />
    <style>
        /* 保持原有样式不变 */
        .track-list {
            margin: 20px;
            padding-left: 5px;
            position: relative;
        }

        /* 确保页面可以正常滚动 */
        body {
            overflow: auto !important;
        }

        .container-div {
            min-height: 80vh;
        }

        .select-table {
            overflow: auto;
        }

        /* 确保表格不会超出容器 */
        #bootstrap-table {
            width: 100% !important;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <!-- 搜索表单 - 所有角色都能看到 -->
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <!-- 科研处：学院查询 -->
                        <li th:if="${@permission.isAnyRoles('sci_tesearch,admin')}">
                            <label>学院：</label>
                            <input type="text" name="yname" placeholder="请输入学院名称"/>
                        </li>
                        <!-- 学院、科研处：专业查询 -->
                        <li shiro:hasAnyPermissions="system:reward:hecha,system:reward:chayue">
                            <label>专业：</label>
                            <input type="text" name="dname" placeholder="请输入专业名称"/>
                        </li>
                        <!-- 教研室、学院、科研处：主持人查询 -->
                        <li shiro:hasAnyPermissions="system:reward:process,system:reward:hecha,system:reward:chayue">
                            <label>主持人：</label>
                            <input type="text" name="userName" placeholder="请输入主持人姓名"/>
                        </li>
                        <!-- 所有角色：课题名称查询 -->
                        <li>
                            <label>课题名称：</label>
                            <input type="text" name="rewardName" placeholder="请输入课题名称"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div id="toolbar" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <div class="btn-group-sm" role="group" style="display: inline-flex; gap: 8px;">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:reward:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <!-- 批量下载按钮 -->
                <a class="btn btn-primary" onclick="batchDownload('reward')">
                    <i class="fa fa-download"></i> 批量下载
                </a>
            </div>
            <div style="display: flex; align-items: center; gap: 15px; padding: 6px 36px; border-radius: 4px;">
                <th:block th:replace="include :: status-circles"/>
            </div>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<!-- 流程记录模态框 - 保持原有代码 -->
<div class="wrapper wrapper-content fadeInRight" style="position: absolute; left: -9999px;">
    <!-- ... 模态框代码保持不变 ... -->
</div>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:reward:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:reward:remove')}]];
    var proFlag = [[${@permission.hasPermi('system:reward:process')}]];
    var editInfo = [[${@permission.hasPermi('system:reward:info')}]];
    var hechaFlag = [[${@permission.hasPermi('system:reward:hecha')}]];
    var topTypeDatas = [[${@dict.getType('sci_top_type')}]];
    var datas = [[${@dict.getType('sys_reward_sg')}]];
    var chayueFlag = [[${@permission.hasPermi('system:reward:chayue')}]];
    var paimingDatas = [[${@dict.getType('sys_reward_paiming')}]];
    var fenleiDatas = [[${@dict.getType('sys_reward_fenlei')}]];
    var dengjiDatas = [[${@dict.getType('sys_reward_dengji')}]];

    // 角色权限标识
    var isAdmin = [[${@permission.hasPermi('system:reward:admin')}]] != 'hidden';
    var isKyc = [[${@permission.hasPermi('system:reward:kyc')}]] != 'hidden';
    var isXueyuan = [[${@permission.hasPermi('system:reward:xueyuan')}]] != 'hidden';
    var isJys = [[${@permission.hasPermi('system:reward:jys')}]] != 'hidden';

    var prefix = ctx + "system/reward";

    $(function() {
        var options = {
            url: prefix + "/list",  // 统一使用 /list 接口
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/detail/{id}",
            recallUrl: prefix + "/recall/{id}",
            pushUrl: prefix + "/push/{id}",
            addUrl: prefix + "/add",
            modalName: "奖励",
            rowStyle: rowStyle0,
            // 【关键修复】添加 queryParams 函数，确保搜索参数正确传递
            queryParams: function(params) {
                var formData = $('#formId').serializeArray();
                var queryParams = {
                    pageNum: params.pageNumber,
                    pageSize: params.pageSize,
                    orderByColumn: params.sortName,
                    isAsc: params.sortOrder
                };
                
                // 添加表单中的搜索字段
                $.each(formData, function(index, field) {
                    queryParams[field.name] = field.value;
                });
                
                return queryParams;
            },
            columns: [
                { checkbox: true },
                {
                    field: 'number',
                    title: '序号',
                    width: 5,
                    align: 'center',
                    switchable: false,
                    formatter: function(value, row, index) {
                        var pageSize = $('#bootstrap-table').bootstrapTable('getOptions').pageSize;
                        var pageNumber = $('#bootstrap-table').bootstrapTable('getOptions').pageNumber;
                        return pageSize * (pageNumber - 1) + index + 1;
                    }
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'yname',
                    align: 'center',
                    title: '学院'
                },
                {
                    field: 'dname',
                    align: 'center',
                    title: '专业'
                },
                {
                    field: 'userName',
                    align: 'center',
                    title: '申请人'
                },
                {
                    field: 'rewardName',
                    align: 'center',
                    title: '荣誉名称'
                },
                {
                    field: 'rewardTime',
                    align: 'center',
                    title: '获得时间'
                },
                {
                    field: 'rewardFenlei',
                    align: 'center',
                    title: '分类',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(fenleiDatas, value);
                    }
                },
                {
                    field: 'rewardDengji',
                    align: 'center',
                    title: '等级',
                    formatter: function(value, row, index) {
                        // return $.table.selectDictLabel(dengjiDatas, value);
                        return value || '';
                    }
                },
                {
                    field: 'rewardPaiming',
                    align: 'center',
                    title: '个人排名',
                    formatter: function(value, row, index) {
                        return value || '';
                    }
                },
                {
                    field: 'jifen',
                    align: 'center',
                    title: '积分'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        var huanhang = false;
                        if (row.state == 11) {
                            if (row.userId == row.uid) {
                                actions.push('<a class="' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.push(\'' + row.id + '\')">提交&nbsp;&nbsp;&nbsp;&nbsp;</a>');
                                actions.push('<a class="' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')">编辑&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                                actions.push('<a class="' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')" style="color : #c90000">删除</a>');
                            }
                            huanhang = true;
                        } else if (row.state == 1) {
                            if (proFlag != 'hidden') {
                                actions.push('<a class="' + proFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/pro' + '\')">批阅&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                                huanhang = true;
                            }
                        } else if ((row.state == 3 || row.state == 5 || row.state == 7)) {
                            if (row.userId == row.uid) {
                                actions.push('<a class="' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')">编辑&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                                huanhang = true;
                            }
                        } else if (row.state == 2) {
                            actions.push('<a class="' + proFlag + '" href="javascript:void(0)" onclick="$.operate.recallTab(\'' + row.id + '\')" style="color : #c90000">撤回&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                            if (hechaFlag != 'hidden') {
                                actions.push('<a class="' + hechaFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/hecha' + '\')">批阅&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                            }
                            huanhang = true;
                        } else if (row.state == 4) {
                            if (hechaFlag != 'hidden') {
                                actions.push('<a class="' + hechaFlag + '" href="javascript:void(0)" onclick="$.operate.recallTab(\'' + row.id + '\')" style="color : #c90000">撤回&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                                huanhang = true;
                            }
                            if (chayueFlag != 'hidden') {
                                actions.push('<a class="' + chayueFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/chayue' + '\')">批阅&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                                huanhang = true;
                            }
                        } else if (row.state == 6) {
                            if (chayueFlag != 'hidden') {
                                actions.push('<a class="' + chayueFlag + '" href="javascript:void(0)" onclick="$.operate.recallTab(\'' + row.id + '\')" style="color : #c90000">撤回&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                                huanhang = true;
                            }
                        }

                        if (huanhang) {
                            actions.push('<br>');
                        }
                        actions.push('<a class="' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '/chakan' + '\')">查看&nbsp;&nbsp;&nbsp;&nbsp;</a> ');
                        actions.push('<a data-toggle="modal" data-target="#lcjl_Moda" onclick="showhistory(' + row.id + ',' + row.state + ')" >流程记录&nbsp;</a> ');

                        return actions.join('');
                    }
                }
            ]
        };

        // 【关键修复】直接使用包含 queryParams 的 options 初始化表格
        $.table.init(options);

        // 监听年份变化事件
        window.addEventListener("storage", function(event) {
            if (event.key === "year") {
                $('#bootstrap-table').bootstrapTable('destroy');
                $.table.init(options);
            }
        });
    });

    // 保持其他函数不变
    function downloadFiles(id) {
        window.location.href = ctx + 'common/HXdownloadZip?id=' + id;
    }

    function rowStyle0(row, index) {
        const stateColorMap = {
            6: '#67c23a',
            3: '#e6a344',
            5: '#e6a344',
            7: '#e6a344',
            11: '#e6a344',
            1: '#2c99ff',
            2: '#2c99ff',
            4: '#2c99ff',
        };
        const state = String(row.state);
        if (state in stateColorMap) {
            return { css: { color: stateColorMap[state] } };
        }
        return { css: { color: '#000000' } };
    }

    function showhistory(id, state) {
        updateProgressStepColor(state);
        $.ajax({
            url: prefix + '/bhyy/' + id,
            type: 'POST',
            data: { kid: id },
            success: function(response) {
                const eventList = document.getElementById('event-list');
                eventList.innerHTML = '';
                response.rows.sort((a, b) => new Date(b.createTime) - new Date(a.createTime));
                response.rows.forEach(function(row) {
                    const li = document.createElement('li');
                    li.innerHTML = `
                        <div class="event-item">
                            <div class="event-content">
                                <i class="node-icon"></i>
                                <span class="time" id="current-time">${row.createTime}</span>
                                <span class="txt">[${row.state}] - ${row.uname}</span>
                            </div>
                        </div>
                    `;
                    eventList.appendChild(li);
                });
            },
            error: function() {
                alert('Failed to fetch event history.');
            }
        });
    }

    function updateProgressStepColor(state) {
        const steps = document.querySelectorAll('.progress_inner__step');
        const progressBar = document.querySelector('.progress_inner__bar--progress');

        steps.forEach(step => {
            step.classList.remove('active', 'completed', 'pending');
            step.querySelector('.status-text').classList.remove('active', 'completed');
        });

        if ([11, 3, 5, 7].includes(state)) {
            document.getElementById('step-1').classList.add('active');
            document.getElementById('step-1').querySelector('.status-text').classList.add('active');
            progressBar.style.width = '0';
        } else if (state === 6) {
            document.getElementById('step-1').classList.add('completed');
            document.getElementById('step-1').querySelector('.status-text').classList.add('completed');
            document.getElementById('step-2').classList.add('completed');
            document.getElementById('step-2').querySelector('.status-text').classList.add('completed');
            document.getElementById('step-3').classList.add('completed');
            document.getElementById('step-3').querySelector('.status-text').classList.add('completed');
            progressBar.style.width = '100%';
        } else if ([1, 2, 4].includes(state)) {
            document.getElementById('step-1').classList.add('completed');
            document.getElementById('step-1').querySelector('.status-text').classList.add('completed');
            document.getElementById('step-2').classList.add('active');
            document.getElementById('step-2').querySelector('.status-text').classList.add('active');
            progressBar.style.width = '50%';
        } else {
            steps.forEach(step => {
                step.classList.add('pending');
                step.querySelector('.status-text').classList.add('pending');
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('current-time').textContent = new Date().toLocaleString();
    });

    //javascript
/**
 * 批量下载功能
 * @param {string} module - 模块类型，如：'intraSch', 'vertical', 'horizontal' 等
 */
var batchDownloadInProgress = false;
function batchDownload(module) {
    // 1. 获取选中的数据ID列表
    var ids = $.table.selectColumns("id", false);

    // 2. 校验：未选择数据时提示
    if (!ids || ids.length === 0) {
        $.modal.alertWarning("未选择数据");
        return;
    }

    // 3. 防止重复提交
    if (batchDownloadInProgress) {
        $.modal.alertWarning("批量下载正在处理中，请稍候...");
        return;
    }

    batchDownloadInProgress = true;
    $.modal.loading("正在打包下载，请稍候...");

    // 4. 创建 XMLHttpRequest 发送请求
    var xhr = new XMLHttpRequest();
    xhr.open("GET", ctx + "common/batchDownload?ids="
        + encodeURIComponent(ids.join(","))
        + "&module=" + encodeURIComponent(module), true);

    // 5. 设置响应类型为 blob（二进制流）
    xhr.responseType = "blob";
    xhr.timeout = 10 * 60 * 1000; // 10分钟超时

    // 6. 请求成功回调
    xhr.onload = function () {
        var blob = xhr.response;
        var contentDisposition = xhr.getResponseHeader("Content-Disposition") || "";
        var contentType = xhr.getResponseHeader("Content-Type") || "";

        // 判断是否为文件下载响应
        var isDownloadResponse = contentDisposition.indexOf("attachment") !== -1
            || contentType.indexOf("application/zip") !== -1;

        if (xhr.status >= 200 && xhr.status < 300 && isDownloadResponse) {
            // 触发文件下载
            triggerBlobDownload(blob, parseDownloadFileName(contentDisposition));
            finishBatchDownload();
        } else {
            // 处理错误响应
            readBlobAsText(blob, function (text) {
                $.modal.alertError(extractDownloadErrorMessage(text));
                finishBatchDownload();
            });
        }
    };

    // 7. 错误处理
    xhr.onerror = function () {
        $.modal.alertError("批量下载失败，请检查网络或稍后重试");
        finishBatchDownload();
    };

    xhr.ontimeout = function () {
        $.modal.alertError("批量下载超时，请稍后重试");
        finishBatchDownload();
    };

    // 8. 发送请求
    xhr.send();
}

// 辅助函数：触发 Blob 文件下载
function triggerBlobDownload(blob, fileName) {
    var resolvedFileName = fileName || "批量下载.zip";

    // IE浏览器兼容
    if (window.navigator.msSaveOrOpenBlob) {
        window.navigator.msSaveOrOpenBlob(blob, resolvedFileName);
        return;
    }

    // 标准浏览器
    var downloadUrl = window.URL.createObjectURL(blob);
    var link = document.createElement("a");
    link.style.display = "none";
    link.href = downloadUrl;
    link.download = resolvedFileName;
    document.body.appendChild(link);
    link.click();

    // 清理
    setTimeout(function () {
        document.body.removeChild(link);
        window.URL.revokeObjectURL(downloadUrl);
    }, 100);
}

// 辅助函数：从 Content-Disposition 解析文件名
function parseDownloadFileName(contentDisposition) {
    if (!contentDisposition) return "";

    // 尝试 UTF-8 编码的文件名
    var utf8Match = contentDisposition.match(/filename\*=UTF-8''([^;]+)/i);
    if (utf8Match && utf8Match[1]) {
        return decodeURIComponent(utf8Match[1]).replace(/["]/g, "");
    }

    // 尝试普通文件名
    var fileNameMatch = contentDisposition.match(/filename="?([^";]+)"?/i);
    return fileNameMatch && fileNameMatch[1]
        ? decodeURIComponent(fileNameMatch[1])
        : "";
}

// 辅助函数：重置下载状态
function finishBatchDownload() {
    batchDownloadInProgress = false;
    $.modal.closeLoading();
}
</script>
</body>
</html>