<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改论文')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: select2-css"/>
    <style>
        .row-top-margin {
            margin-top: 20px;
            clear: both;
        }
        .first-author-aligned .first-author-label {
            width: 25% !important;
        }
        .first-author-aligned .first-author-input {
            width: 66.66% !important;
            padding-right: 15px !important; /* 与Bootstrap的col-sm-8保持一致 */
        }
        /* 作者分数样式 */
        .author-score {
            background-color: #5cb85c;
            color: white;
            font-weight: bold;
            border-radius: 0 4px 4px 0;
            min-width: 80px;
            text-align: center;
        }
        /* 通讯作者样式 */
        .corresponding-author-label {
            color: #5cb85c;
            font-weight: bold;
        }
    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-paper-edit" th:object="${sciPaperA}">
            <input name="id" id="p_id" th:field="*{id}" type="hidden">

            <div class="form-group">
                <label class="col-sm-3 control-label">论文名称：</label>
                <div class="col-sm-8">
                    <input name="paperTitle" th:field="*{paperTitle}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">论文类型：</label>
                <div class="col-sm-8">
                    <select name="paperType" class="form-control" th:with="type=${@dict.getType('sci_paper_type')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{paperType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">论文类别：</label>
                <div class="col-sm-8">
                    <select name="paperCategory" class="form-control" th:with="type=${@dict.getType('sci_paper_k')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{paperCategory}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">发表期刊：</label>
                <div class="col-sm-8">
                    <input name="publishedJournal" th:field="*{publishedJournal}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">发表时间：</label>
              <div class="col-sm-8">
                <div class="input-group date">
                    <input autocomplete="off" name="publicationTime" th:field="*{publicationTime}"
                           th:value="${#dates.format(publicationTime, 'yyyy-MM-dd')}"  class="form-control"
                           placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否与行业联合发表：</label>

                <div class="col-sm-9" >
                    <label class="radio-box">
                        <input name="isIndustryCollaborative" th:field="*{isIndustryCollaborative}" class="form-control" type="radio" value="是">是</label>
                    <label class="radio-box">
                        <input name="isIndustryCollaborative" th:field="*{isIndustryCollaborative}" class="form-control" type="radio" value="否">否</label>
                </div>

<!--                <div class="col-sm-8">-->
<!--                    <input name="isIndustryCollaborative" th:field="*{isIndustryCollaborative}" class="form-control" type="text">-->
<!--                </div>-->

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否与地方联合发表：</label>
                <div class="col-sm-9" >
                    <label class="radio-box">
                        <input name="isLocalCollaborative" th:field="*{isLocalCollaborative}" class="form-control" type="radio" value="是">是</label>
                    <label class="radio-box">
                        <input name="isLocalCollaborative" th:field="*{isLocalCollaborative}"class="form-control" type="radio" value="否">否</label>
                </div>
<!--                <div class="col-sm-8">-->
<!--                    <input name="isLocalCollaborative" th:field="*{isLocalCollaborative}" class="form-control" type="text">-->
<!--                </div>-->

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否与国际联合发表：</label>
                <div class="col-sm-9" >
                    <label class="radio-box">
                        <input name="isInternationalCollaborative" th:field="*{isInternationalCollaborative}" class="form-control" type="radio" value="是">是</label>
                    <label class="radio-box">
                        <input name="isInternationalCollaborative" th:field="*{isInternationalCollaborative}"class="form-control" type="radio" value="否">否</label>
                </div>
<!--                <div class="col-sm-8">-->
<!--                    <input name="isInternationalCollaborative" th:field="*{isInternationalCollaborative}" class="form-control" type="text">-->
<!--                </div>-->
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否是跨学科论文：</label>
                <div class="col-sm-9" >
                    <label class="radio-box">
                        <input name="isCrossDiscipline" th:field="*{isCrossDiscipline}" class="form-control" type="radio" value="是">是</label>
                    <label class="radio-box">
                        <input name="isCrossDiscipline" th:field="*{isCrossDiscipline}"class="form-control" type="radio" value="否">否</label>
                </div>
<!--                <div class="col-sm-8">-->
<!--                    <input name="isCrossDiscipline" th:field="*{isCrossDiscipline}" class="form-control" type="text">-->
<!--                </div>-->
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">是否是独立作者：</label>
                    <div class="col-sm-9" id = "isIndependentauthor">
                        <label class="radio-box">
                            <input name="isIndependentauthor" th:field="*{isIndependentauthor}" class="form-control" type="radio" value="1" required>是</label>
                        <label class="radio-box">
                            <input name="isIndependentauthor" th:field="*{isIndependentauthor}" class="form-control" type="radio" value="0">否</label>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="col-sm-3 control-label">排名：</label>-->
<!--                    <div class="col-sm-8" th:with="type=${@dict.getType('sci_paper_qwer')}">-->
<!--                        <select th:field="*{paperRanking}" disabled class="form-control m-b">-->
<!--                            &lt;!&ndash; 默认选项 &ndash;&gt;-->
<!--                            <option value="" th:if="${#lists.isEmpty(type)}">无可用选项</option>-->
<!--                            &lt;!&ndash; 动态生成选项 &ndash;&gt;-->
<!--                            <option th:each="dict : ${type}"-->
<!--                                    th:text="${dict.dictLabel}"-->
<!--                                    th:value="${dict.dictValue}"-->
<!--                                    th:selected="${sciPaperA.paperRanking == dict.dictValue}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--          <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">排名：</label>-->
<!--            <div class="col-sm-8">-->
<!--              <select id="paperRanking"  name="paperRanking" class="form-control m-b" th:with="type=${@dict.getType('sci_paper_qwer')}" required>-->
<!--                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
            <div class="col-xs-6" id="firstAuthorGroup">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required first-author-label">一作：</label>
                    <div class="col-sm-8 first-author-input">
                        <div class="input-group">
                            <select name="firstPersonId" class="form-control m-b" id="firstPersonId">
                                <option value="">---请选择--</option>
                                <option th:each="user : ${sysUsers}"
                                        th:text="${user.userName}"
                                        th:value="${user.userId}"
                                        th:selected="${sciPaperA.firstPersonId == user.userId.toString()}"
                                        th:data-user-id="${user.userId}"></option>
                            </select>
                            <span class="input-group-addon author-score" id="firstAuthorScore">0分</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">二作：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select name="secondPersonId" class="form-control m-b" id="secondPersonId">
                                <option value="">---请选择--</option>
                                <option th:each="user : ${sysUsers}"
                                        th:text="${user.userName}"
                                        th:value="${user.userId}"
                                        th:selected="${sciPaperA.secondPersonId == user.userId.toString()}"
                                        th:data-user-id="${user.userId}"></option>
                            </select>
                            <span class="input-group-addon author-score" id="secondAuthorScore">0分</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">三作：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select name="thirdPersonId" class="form-control m-b" id="thirdPersonId">
                                <option value="">---请选择--</option>
                                <option th:each="user : ${sysUsers}"
                                        th:text="${user.userName}"
                                        th:value="${user.userId}"
                                        th:selected="${sciPaperA.thirdPersonId == user.userId.toString()}"
                                        th:data-user-id="${user.userId}"></option>
                            </select>
                            <span class="input-group-addon author-score" id="thirdAuthorScore">0分</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">四作：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select name="fourthPersonId" class="form-control m-b" id="fourthPersonId">
                                <option value="">--请选择--</option>
                                <option th:each="user : ${sysUsers}"
                                        th:text="${user.userName}"
                                        th:value="${user.userId}"
                                        th:selected="${sciPaperA.fourthPersonId == user.userId.toString()}"
                                        th:data-user-id="${user.userId}"></option>
                            </select>
                            <span class="input-group-addon author-score" id="fourthAuthorScore">0分</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">通讯作者：</label>
                    <div class="col-sm-8">
                        <select name="communicationAuthorId" class="form-control m-b" id="correspondingAuthorId">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- 科研分分配显示区域 - 按照图一样式 -->
            <div class="form-group">
                <label class="col-sm-3 control-label">科研分分配：</label>
                <div class="col-sm-8">
                    <div class="score-display-box" style="border: 1px solid #ddd; padding: 15px; border-radius: 4px; background-color: #f9f9f9;">
                        <div class="score-rule" style="margin-bottom: 10px; color: #666;">
                            <strong>科研分分配规则：</strong>
                            <ul style="margin-top: 5px; margin-bottom: 0; padding-left: 20px;">
                                <li>规则一：一作不是本校老师 + 通讯作者是本校老师 → 通讯作者按一作分算，其他作者顺延</li>
                                <li>规则二：一作是本校老师 → 通讯作者按二作分数算，其他作者顺延</li>
                                <li>特殊情况：一作同时是通讯作者 → 保持一作分数不变</li>
                                <li>仅前四个负责人可获得科研分，后续添加成员不参与科研分分配</li>
                            </ul>
                        </div>
                        <div class="score-calculation" style="margin-bottom: 10px;">
                            <strong>预计科研分分配：</strong>
                            <div id="score-details" style="margin-top: 5px; padding-left: 10px;">
                                第一负责人：<span id="firstAuthorScoreDisplay" class="score-value" style="font-weight: bold; color: #333;">0</span> 分，
                                第二负责人：<span id="secondAuthorScoreDisplay" class="score-value" style="font-weight: bold; color: #333;">0</span> 分，
                                第三负责人：<span id="thirdAuthorScoreDisplay" class="score-value" style="font-weight: bold; color: #333;">0</span> 分，
                                第四负责人：<span id="fourthAuthorScoreDisplay" class="score-value" style="font-weight: bold; color: #333;">0</span> 分
                            </div>
                        </div>
                        <div class="score-notice" style="color: #e6a23c; font-size: 12px;">
                            <strong>注意：</strong>仅前四个负责人可获得科研分，后续添加成员不参与科研分分配。
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" id="searchWebGroup">
                <label class="col-sm-3 control-label">论文网址：</label>
                <div class="col-sm-8">
                    <input name="search_web" th:field="*{search_web}" class="form-control" type="text">
                </div>
            </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
              <input name="remarks" th:field="*{remarks}" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">录用/检索证明：</label>
            <div class="col-sm-8">
              <input type="hidden" name="text_paper">
              <div class="file-loading">
                <input class="form-control file-upload" id="text_paper" name ="file" type="file" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">论文原文：</label>
            <div class="col-sm-8">
              <input type="hidden" name="word_paper">
              <div class="file-loading">
                <input class="form-control file-wupload" id="word_paper" name ="file" type="file" >
              </div>
            </div>
          </div>

            <h4 class="form-header h4 tdiv2"  style="display:none;">批阅记录</h4>
            <div class="row tdiv2" style="display:none;">
                <div class="col-sm-12">

                    <div class="form-group"  >
                        <table id='bootstrap-table'></table>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()">  </i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"> 关 闭 </button>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: select2-js"/>
    <script th:inline="javascript">

        function displayFileName(inputId, fileNameId) {
            const input = document.getElementById(inputId);
            const fileNameSpan = document.getElementById(fileNameId);
            if (input.value) {
                const fileName = input.value.split('/').pop(); // 获取文件名
                const parts = fileName.split('_'); // 按下划线分割
                const firstPart = parts[0]; // 下划线前的部分

                const dotParts = fileName.split('.'); // 按点分割
                const lastPart = dotParts[dotParts.length - 1]; // 点后的部分
                const year =0;
                fileNameSpan.textContent = `${firstPart}.${lastPart}`; // 组合并显示
            } else {
                fileNameSpan.textContent = '';
            }
        }
        function downloadFile(type){
            var contextPath = '/' + window.location.pathname.split('/')[1];
            var c = window.location.origin + contextPath + $("#"+type).val();
            if(c){
                var a = document.createElement("a");
                a.href=c;
                a.download="";
                a.style.display = "none";
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            }else{
                alert("网址无效");
            }
        }

        // function chakanpaper(){
        //     var c = $("#text_paper").val();
        //     console.log("c:",c)
        //     $.modal.openTab("查看论文文件" ,c);
        // }



        var prefix = ctx + "system/paper";
        $("#form-paper-edit").validate({
            focusCleanup: true
        });
        // 当被退回后进行更新时显示退回记录
        $(function(){
            var pid = $("#p_id").val();
            var options = {
                url: prefix + "/bhxs/"+pid,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                pagination:false,
                columns: [

                    {
                        field : 'create_time',
                        title : '批阅时间',
                        width: 200

                    } ,
                    {
                        field : 'uname',
                        title : '批阅人',
                        width: 100
                    },
                    {
                        field : 'concate',
                        title : '内容',
                        width: 500
                    },
                    {
                        field : 'state',
                        title : '审核状态',
                        width: 100
                    } ]
            };
            $.table.init(options);

            $('#bootstrap-table').on('load-success.bs.table', function (e, name, args) {
                // console.log('Event Name:', name.rows);
                var a =$("#state").val();

                if(a != 1){
                    if(name.rows.length > 0){
                        $(".tdiv2").show();
                    }
                }

            });
        })

        function submitHandler() {
            if ($.validate.form()) {
                // 校验作者信息是否重复
                const authorIds = [
                    $("#firstPersonId").val(),
                    $("#secondPersonId").val(),
                    $("#thirdPersonId").val(),
                    $("#fourthPersonId").val()
                ].filter(id => id !== ""); // 过滤掉空值

                // 检查是否有重复的作者ID
                const uniqueAuthors = new Set(authorIds);
                if (authorIds.length !== uniqueAuthors.size) {
                    $.modal.alertError("第一作者到第四作者不能重复");
                    return false;
                }
                if ($("#correspondingAuthorId").val() == null || $("#correspondingAuthorId").val() == ""){
                    const isIndependent = $('input[name="isIndependentauthor"]:checked').val();
                    if (isIndependent == "0" || !isIndependent){
                        $.modal.alertError("通讯作者不能为空");
                        return false;
                    }
                }
                // 校验网址
                const searchWeb = $("input[name='search_web']").val().trim();
                if (searchWeb !== "" && !validateUrl(searchWeb)) {
                    $.modal.alertError("论文网址格式不正确，请以 http:// 或 https:// 开头");
                    return false;
                }
                
                $.operate.saveTab(prefix + "/edit", $('#form-paper-edit').serialize());
            }
        }
        
        // 更新通讯作者下拉框选项
        function updateCorrespondingAuthorOptions() {
            const correspondingAuthorSelect = $('#correspondingAuthorId');
            const selectedAuthors = [];
            
            // 获取所有选中的作者ID和名称
            $('#firstPersonId, #secondPersonId, #thirdPersonId, #fourthPersonId').each(function() {
                const authorId = $(this).val();
                const authorName = $(this).find('option:selected').text();
                if (authorId && authorId !== '') {
                    selectedAuthors.push({
                        id: authorId,
                        name: authorName
                    });
                }
            });
            
            // 保存当前选中的通讯作者
            const currentSelected = correspondingAuthorSelect.val();
            
            // 清空下拉框
            correspondingAuthorSelect.empty();
            correspondingAuthorSelect.append('<option value="">--请选择--</option>');
            
            // 添加选中的作者作为选项
            selectedAuthors.forEach(function(author) {
                correspondingAuthorSelect.append('<option value="' + author.id + '">' + author.name + '</option>');
            });
            
            // 如果之前选中的通讯作者仍然在选项中，则保持选中状态
            if (currentSelected && selectedAuthors.some(author => author.id === currentSelected)) {
                correspondingAuthorSelect.val(currentSelected);
            }
        }
        
        function validateUrl(string) {
            // 确保网址以 http:// 或 https:// 开头
            if (!string.startsWith('http://') && !string.startsWith('https://')) {
                return false;
            }

            // 使用正则表达式验证网址格式
            const urlPattern = /^(https?):\/\/([^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})/;
            return urlPattern.test(string);
        }
        $(".file-wupload").each(function (i) {
            var val = $("input[name='" + this.id + "']").val()
            $(this).fileinput({
                'uploadUrl': ctx + 'common/upload/lw',
                initialPreviewAsData: true,
                initialPreview: [val],
                maxFileCount: 1,
                maxFileSize: 51200,
                autoReplace: true,
                allowedFileExtensions: ["doc","docx"],
                showUpload: false,  // 隐藏上传按钮
                slugCallback: function(filename) {
                    if ($("input[name='paperTitle']").val()===""){
                        $(".file-uploada").fileinput('clear');
                        $.modal.alertError("请先输入论文名称");
                        return false;
                    }
                    // 自定义文件名生成规则
                    fileExtension = filename.split('.').pop();
                    const year = new Date().getFullYear();
                    const newName = year +"-"+ $("input[name='paperTitle']").val() +"-"+ "论文原文"+ "." + fileExtension;
                    // console.log('newName=',newName)
                    return newName;
                },
            }).on('fileuploaded', function (event, data, previewId, index) {
                $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
            }).on('fileremoved', function (event, id, index) {
                $("input[name='" + event.currentTarget.id + "']").val('')
            }).on('filebatchselected', function(event) {
                // 批量选择文件后立即上传
                $(this).fileinput('upload');
            }).on('fileselected', function(event) {
                // 单个文件选择后立即上传
                $(this).fileinput('upload');
            })
            $(this).fileinput('_initFileActions');
        });

        $(".file-upload").each(function (i) {
            var val = $("input[name='" + this.id + "']").val()
            $(this).fileinput({
                'uploadUrl': ctx + 'common/upload/lw',
                initialPreviewAsData: true,
                initialPreview: [val],
                maxFileCount: 1,
                maxFileSize: 51200,
                autoReplace: true,
                allowedFileExtensions: ["pdf"],
                showUpload: false,  // 隐藏上传按钮
                slugCallback: function(filename) {
                    if ($("input[name='paperTitle']").val()===""){
                        $(".file-uploada").fileinput('clear');
                        $.modal.alertError("请先输入论文名称");
                        return false;
                    }
                    // 自定义文件名生成规则
                    fileExtension = filename.split('.').pop();
                    const year = new Date().getFullYear();
                    const newName = year +"-"+ $("input[name='paperTitle']").val() +"-"+ "录用/检索证明"+ "." + fileExtension;
                    return newName;
                },
            }).on('fileuploaded', function (event, data, previewId, index) {
                $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
            }).on('fileremoved', function (event, id, index) {
                $("input[name='" + event.currentTarget.id + "']").val('')
            }).on('filebatchselected', function(event) {
                // 批量选择文件后立即上传
                $(this).fileinput('upload');
            }).on('fileselected', function(event) {
                // 单个文件选择后立即上传
                $(this).fileinput('upload');
            })
            $(this).fileinput('_initFileActions');
        });

        $("input[name='publicationTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(document).ready(function() {
            // 初始化选择器为select2，提供搜索能力
            $('#firstPersonId, #secondPersonId, #thirdPersonId, #fourthPersonId, #correspondingAuthorId').select2({
                width: '100%',
                placeholder: '--请选择--',
                allowClear: true
            });

            // 初始化通讯作者下拉框（在页面加载时）
            updateCorrespondingAuthorOptions();

            // 设置默认选中的通讯作者
            var communicationAuthorId = /*[[${sciPaperA.communicationAuthorId}]]*/ '';
            if (communicationAuthorId && communicationAuthorId !== '') {
                $('#correspondingAuthorId').val(communicationAuthorId).trigger('change');
            }

            // 根据论文类别，应用启禁用规则
            const initialCategory = $('select[name="paperCategory"]').val();
            if (initialCategory) {
                applyAuthorEnableRule(initialCategory);
            }

            // 监听1-4作的选择变化
            $('#firstPersonId, #secondPersonId, #thirdPersonId, #fourthPersonId').on('change', function() {
                updateAuthorDropdownOptions();
                updateCorrespondingAuthorOptions();
                calculateAndUpdateScores();
            });

            // 监听论文类别变化，动态启禁用作者下拉框
            $('select[name="paperCategory"]').on('change', function () {
                applyAuthorEnableRule($(this).val());
                updateAuthorDropdownOptions();
                calculateAndUpdateScores();
            });
            
            // 监听是否独立作者变化
            $('input[name="isIndependentauthor"]').on('change', function () {
                handleIndependentAuthor($(this).val());
                calculateAndUpdateScores();
            });
            
            // 监听通讯作者选择变化
            $('#correspondingAuthorId').on('change', function() {
                calculateAndUpdateScores();
            });
            
            // 页面加载时检查是否独立作者
            const isIndependent = $('input[name="isIndependentauthor"]:checked').val();
            if (isIndependent === "1") {
                handleIndependentAuthor("1");
            }
            
            // 页面首次加载时刷新作者互斥选项，保证同步
            updateAuthorDropdownOptions();
            
            // 页面加载时计算一次分数
            calculateAndUpdateScores();
        });
        
        // 获取当前作者信息
        function getCurrentAuthors() {
            const authors = {
                '1': $('#firstPersonId').val(),
                '2': $('#secondPersonId').val(),
                '3': $('#thirdPersonId').val(),
                '4': $('#fourthPersonId').val()
            };
            return authors;
        }
        
        // 计算并更新分数
        function calculateAndUpdateScores() {
            const paperCategory = $('select[name="paperCategory"]').val();
            const authors = getCurrentAuthors();
            const communicationAuthorId = $('#correspondingAuthorId').val();
            
            // console.log('=== 开始计算分数 ===');
            // console.log('论文类别:', paperCategory);
            // console.log('作者信息:', authors);
            // console.log('通讯作者ID:', communicationAuthorId);
            
            // 如果论文类别未选择，不计算分数
            if (!paperCategory) {
                // console.log('论文类别未选择，不计算分数');
                return;
            }
            
            // 构造请求数据
            const requestData = {
                paperCategory: paperCategory,
                authors: authors,
                communicationAuthorId: communicationAuthorId || ''
            };
            
            // console.log('请求数据:', requestData);
            
            // 调用后端API计算分数
            $.ajax({
                url: prefix + '/calculateScore',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function(response) {
                    // console.log('API响应:', response);
                    
                    if (response.code === 0) {
                        const scores = response.data;
                        // console.log('分数数据:', scores);
                        
                        // 更新各作者分数显示
                        updateAuthorScores(scores, authors);
                    } else {
                        // console.error('API返回错误:', response.msg);
                        // 显示错误提示
                        showScoreError();
                    }
                },
                error: function(xhr, status, error) {
                    // console.error('计算科研分失败:', status, error);
                    // console.error('XHR状态:', xhr.status);
                    // console.error('XHR响应文本:', xhr.responseText);
                    // 显示错误提示
                    showScoreError();
                }
            });
        }
        
        // 显示分数计算错误提示
        function showScoreError() {
            // 更新所有分数显示为0
            $('#firstAuthorScore').text('0分');
            $('#secondAuthorScore').text('0分');
            $('#thirdAuthorScore').text('0分');
            $('#fourthAuthorScore').text('0分');
            
            $('#firstAuthorScoreDisplay').text('0');
            $('#secondAuthorScoreDisplay').text('0');
            $('#thirdAuthorScoreDisplay').text('0');
            $('#fourthAuthorScoreDisplay').text('0');
            
            // 可以添加错误提示信息
            // $.modal.alertWarning('分数计算失败，显示默认分数');
        }
        
        // 更新作者分数显示
        function updateAuthorScores(scores, authors) {
            // console.log('=== 更新作者分数 ===');
        // console.log('分数数据:', scores);
        // console.log('作者信息:', authors);
            
            // 更新一作分数
            const firstKey = '1_' + authors['1'];
            const firstAuthorScore = scores[firstKey] || 0;
            // console.log('一作分数计算:', firstKey, '=>', firstAuthorScore);
            $('#firstAuthorScore').text(firstAuthorScore + '分');
            $('#firstAuthorScoreDisplay').text(firstAuthorScore);
            
            // 更新二作分数
            const secondKey = '2_' + authors['2'];
            const secondAuthorScore = scores[secondKey] || 0;
            // console.log('二作分数计算:', secondKey, '=>', secondAuthorScore);
            $('#secondAuthorScore').text(secondAuthorScore + '分');
            $('#secondAuthorScoreDisplay').text(secondAuthorScore);
            
            // 更新三作分数
            const thirdKey = '3_' + authors['3'];
            const thirdAuthorScore = scores[thirdKey] || 0;
            // console.log('三作分数计算:', thirdKey, '=>', thirdAuthorScore);
            $('#thirdAuthorScore').text(thirdAuthorScore + '分');
            $('#thirdAuthorScoreDisplay').text(thirdAuthorScore);
            
            // 更新四作分数
            const fourthKey = '4_' + authors['4'];
            const fourthAuthorScore = scores[fourthKey] || 0;
            // console.log('四作分数计算:', fourthKey, '=>', fourthAuthorScore);
            $('#fourthAuthorScore').text(fourthAuthorScore + '分');
            $('#fourthAuthorScoreDisplay').text(fourthAuthorScore);
            
            // console.log('=== 分数更新完成 ===');
        }

        function applyAuthorEnableRule(inputValue){
            // 如果选择的是独立作者，优先应用独立作者逻辑
            const isIndependent = $('input[name="isIndependentauthor"]:checked').val();
            if (isIndependent === "1") {
                handleIndependentAuthor("1");
                return;
            }
            
            // 10,11,12: 只允许1-2作者
            if(inputValue == "10" || inputValue == "11" || inputValue == "12") {
                $('#secondPersonId').prop('disabled', false);
                $('#thirdPersonId, #fourthPersonId').prop('disabled', true).val('').trigger('change');
            } else if (inputValue == "8" || inputValue == "9"){
                // 8,9: 仅第一作者
                $('#secondPersonId, #thirdPersonId, #fourthPersonId').prop('disabled', true).val('').trigger('change');
            } else {
                // 其他: 全部可选
                $('#secondPersonId, #thirdPersonId, #fourthPersonId').prop('disabled', false);
            }
            // 更新作者互斥选项和通讯作者选项
            updateAuthorDropdownOptions();
            updateCorrespondingAuthorOptions();
        }
        
        function handleIndependentAuthor(value) {
            if (value === "1") {
                // 是独立作者：清除二三四作者和通讯作者，隐藏相应控件
                $('#secondPersonId, #thirdPersonId, #fourthPersonId, #correspondingAuthorId').val('').trigger('change');
                $('.form-group:has(#secondPersonId), .form-group:has(#thirdPersonId), .form-group:has(#fourthPersonId), .form-group:has(#correspondingAuthorId)').hide();
                
                // 调整一作布局使其与其他控件对齐
                $('#firstAuthorGroup').removeClass('col-xs-6').addClass('first-author-full-width');
                $('#firstAuthorGroup .form-group').addClass('first-author-aligned');
                
                // 移动论文网址到下一行显示
                $('#searchWebGroup').addClass('row-top-margin');
            } else {
                // 不是独立作者：显示所有作者控件，恢复布局
                $('.form-group:has(#secondPersonId), .form-group:has(#thirdPersonId), .form-group:has(#fourthPersonId), .form-group:has(#correspondingAuthorId)').show();
                
                // 恢复一作原始布局
                $('#firstAuthorGroup').removeClass('first-author-full-width').addClass('col-xs-6');
                $('#firstAuthorGroup .form-group').removeClass('first-author-aligned');
                
                // 恢复论文网址到原始位置
                $('#searchWebGroup').removeClass('row-top-margin');
            }
            updateAuthorDropdownOptions();
            updateCorrespondingAuthorOptions();
        }
        
        // 作者互斥逻辑：确保第一到第四作者不能重复选择
        function updateAuthorDropdownOptions() {
            // 构造所有未禁用select及其已选值
            var selects = [
                {id: 'firstPersonId', $el: $('#firstPersonId'), selected: $('#firstPersonId').val()},
                {id: 'secondPersonId', $el: $('#secondPersonId'), selected: $('#secondPersonId').val()},
                {id: 'thirdPersonId', $el: $('#thirdPersonId'), selected: $('#thirdPersonId').val()},
                {id: 'fourthPersonId', $el: $('#fourthPersonId'), selected: $('#fourthPersonId').val()}
            ];
            // 收集所有选中的ID，但跳过空值和"其他"选项
            var selectedIds = selects.filter(s => !s.$el.prop('disabled') && s.selected && s.selected !== '' && s.selected !== '-1').map(s => s.selected);

            selects.forEach(currentSel => {
                // 只处理未禁用的下拉框
                if (currentSel.$el.prop('disabled')) return;
                currentSel.$el.find('option').each(function() {
                    var val = $(this).val();
                    if (!val || val === '') return; // 保留"请选择"等空选项
                    // 如果该选项被其它未禁用下拉选中则禁用(但自身已选要保留)
                    var isByOtherSelected = selectedIds.includes(val) && currentSel.selected !== val;
                    $(this).prop('disabled', isByOtherSelected);
                });
                // 让select2刷新可选项
                if (currentSel.$el.data('select2')) {
                    currentSel.$el.trigger('change.select2');
                }
            });
        }

        // window.onload = function() {
        //     displayFileName('text_paper', 'contractFileName');
        //     displayFileName('word_paper', 'wordFileName');
        // };
    </script>
</body>
</html>
