<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增审批状态')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-state-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">所属流程编码：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="processCode" placeholder="为空表示通用">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">状态编码：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="stateCode" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">状态名称：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="stateName" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" name="sort">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" id="status0" name="status" value="0" checked>
                        <label for="status0">启用</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="status1" name="status" value="1">
                        <label for="status1">停用</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "approval/state";

        $("#form-state-add").validate({
            onkeyup: false,
            rules: {
                stateCode: {
                    required: true
                },
                stateName: {
                    required: true
                },
                sort: {
                    digits: true
                }
            },
            messages: {
                stateCode: {
                    required: "请输入状态编码"
                },
                stateName: {
                    required: "请输入状态名称"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-state-add').serialize());
            }
        }
    </script>
</body>
</html>