<!--校内横向课题管理的页面，包含已完结，立项申请，结项申请的三个tab页面-->
<!DOCTYPE html>
<!--<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="https://github.com/theborakompanioni/thymeleaf-extras-shiro">

<head>
    <th:block th:include="include :: header('横向课题列表')" />
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">

    <div class="row">

        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-0" aria-expanded="true">已完结</a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-1" aria-expanded="false"> 立项申请</a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">结项申请</a>
                </li>

            </ul>
            <div class="tab-content">
                <div id="tab-0" class="tab-pane active">
                    <div class="panel-body">
                        <div class="container-div">
                            <div class="row">
                                <div class="col-sm-12 search-collapse">
                                    <form id="formId0">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    <label>申请人：</label>
                                                    <input type="text" name="userName"/>
                                                </li>
                                                <li>
                                                    <label>课题名称：</label>
                                                    <input type="text" name="topName"/>
                                                </li>
                                                <li>
                                                    <label>状态：</label>
                                                    <select name="state" th:with="type=${@dict.getType('sys_intraschpro_tasks')}">
                                                        <option value="">所有</option>
                                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>

                                <div class="btn-group-sm" id="toolbar0" role="group">
                                    <!--                                    <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:apply:add">-->
                                    <!--                                        <i class="fa fa-plus"></i> 添加-->
                                    <!--                                    </a>-->
                                    <!--                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="system:apply:edit">-->
                                    <!--                    <i class="fa fa-edit"></i> 修改-->
                                    <!--                </a>-->
                                    <!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:apply:remove">-->
                                    <!--                    <i class="fa fa-remove"></i> 删除-->
                                    <!--                </a>-->
                                    <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:apply:list">
                                        <i class="fa fa-download"></i> 导出
                                    </a>-->
                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table0"></table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="tab-1" class="tab-pane ">
                    <div class="panel-body">
                        <div class="container-div">
                            <div class="row">
                                <div class="col-sm-12 search-collapse">
                                    <form id="formId1">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    <label>申请人：</label>
                                                    <input type="text" name="userName"/>
                                                </li>
                                                <li>
                                                    <label>课题名称：</label>
                                                    <input type="text" name="topName"/>
                                                </li>
                                                <li>
                                                    <label>状态：</label>
                                                    <select name="state" th:with="type=${@dict.getType('sys_intraschpro_tasks')}">
                                                        <option value="">所有</option>
                                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>

                                <div class="btn-group-sm" id="toolbar1" role="group">
                                    <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="system:apply:add">
                                        <i class="fa fa-plus"></i> 添加
                                    </a>
                                    <!--                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="system:apply:edit">-->
                                    <!--                    <i class="fa fa-edit"></i> 修改-->
                                    <!--                </a>-->
                                    <!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:apply:remove">-->
                                    <!--                    <i class="fa fa-remove"></i> 删除-->
                                    <!--                </a>-->
                                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:apply:export">
                                        <i class="fa fa-download"></i> 导出
                                    </a>

                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table1"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="container-div">
                            <div class="row">
                                <div class="col-sm-12 search-collapse">
                                    <form id="formId2">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    <label>申请人：</label>
                                                    <input type="text" name="userName"/>
                                                </li>
                                                <li>
                                                    <label>课题名称：</label>
                                                    <input type="text" name="topName"/>
                                                </li>
                                                <li>
                                                    <label>状态：</label>
                                                    <select name="state" th:with="type=${@dict.getType('sys_intraschpro_tasks')}">
                                                        <option value="">所有</option>
                                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>

                                <div class="btn-group-sm" id="toolbar2" role="group">
                                    <!--                                    <a class="btn btn-success" onclick="$.operate.addTab()">-->
                                    <!--                                        <i class="fa fa-plus"></i> 添加-->
                                    <!--                                    </a>-->
                                    <!--                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="system:apply:edit">-->
                                    <!--                    <i class="fa fa-edit"></i> 修改-->
                                    <!--                </a>-->
                                    <!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:apply:remove">-->
                                    <!--                    <i class="fa fa-remove"></i> 删除-->
                                    <!--                </a>-->
                                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:apply:export">
                                        <i class="fa fa-download"></i> 导出
                                    </a>
                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table2"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var proFlag = [[${@permission.hasPermi('system:apply:process')}]];
    var editFlag = [[${@permission.hasPermi('system:apply:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:apply:remove')}]];
    var editInfo = [[${@permission.hasPermi('system:apply:info')}]];
    var hechaFlag = [[${@permission.hasPermi('system:apply:hecha')}]];
    var topTypeDatas = [[${@dict.getType('sci_top_type')}]];
    var datas = [[${@dict.getType('sys_intraschpro_tasks')}]];
    var createFlag = [[${@permission.hasPermi('system:apply:add')}]];

    var prefix = ctx + "IntraSchPro";

    // 动态生成URL
    function getUrl(tableId) {
        var year = localStorage.getItem("year");
        return prefix+"/list/"+tableId+"?year="+year;
    }

    $(function() {

        function initTable(options) {
            // 获取当前表格的ID
            var tableId = options.id;
            // 根据表格ID生成URL
            options.url = getUrl(tableId);
            // 使用生成的选项初始化表格
            $.table.init(options);
        }
        // tab-0
        var options0 = {
            id: "bootstrap-table0",
            toolbar:"toolbar0",
            url:getUrl($('table').attr('id')),
            createUrl: prefix + "/add",
            detailUrl: prefix + "/overdetail/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "横向课题",
            sortOrder: "asc",
            columns: [{
                field: 'number',
                title: '序号',
                width:5 ,
                align:'center',
                switchable:false,
                formatter:function(value,row,index){
                    //return index+1; //序号正序排序从1开始

                    //通过表的#id 可以得到每页多少条
                    var pageSize=$('#bootstrap-table').bootstrapTable('getOptions').pageSize;
                    //通过表的#id 可以得到当前第几页
                    var pageNumber=$('#bootstrap-table').bootstrapTable('getOptions').pageNumber;
                    //返回每条的序号： 每页条数 * （当前页 - 1 ）+ 序号
                    // return pageSize * (pageNumber - 1) + index + 1;
                    return $.table.serialNumber(index);
                }
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'yname',
                    align: 'center',
                    title: '学院'
                },
                {
                    field: 'dname',
                    align: 'center',
                    title: '专业'
                },
                {
                    field: 'userName',
                    align: 'center',
                    title: '申请人'
                },
                {
                    field: 'topName',
                    align: 'center',
                    title: '课题名称'
                },
                // {
                //     field: 'topType',
                //     title: '课题类型',
                //     formatter: function(value, row, index) {
                //        return $.table.selectDictLabel(topTypeDatas, value);
                //     }
                // },

                {
                    field: 'signingData',
                    align: 'center',
                    title: '签订日期'
                },
                {
                    field: 'amount',
                    align: 'center',
                    title: '项目金额'
                },
                {
                    field: 'pa',
                    align: 'center',
                    title: '甲方'
                },
                {
                    field: 'pb',
                    align: 'center',
                    title: '乙方'
                },
                {
                    field: 'state',
                    title: '申请状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                }  ,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.state ==  6){

                            //actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.overdetailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                            actions.push('<a  class="btn btn-success btn-xs ' + '" href="javascript:void(0)" onclick="$.operate.overdetailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };

        initTable(options0);

        // tab-1
        var options1 = {
            id: "bootstrap-table1",
            toolbar:"toolbar1",
            url:getUrl($('table').attr('id')),
            createUrl: prefix + "/add",
            overUrl: prefix + "/overadd?id={id}",
            detailUrl: prefix + "/detail/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "横向课题",
            sortOrder: "asc",
            columns: [{
                field: 'number',
                title: '序号',
                width:5 ,
                align:'center',
                switchable:false,
                formatter:function(value,row,index){
                    //return index+1; //序号正序排序从1开始

                    //通过表的#id 可以得到每页多少条
                    var pageSize=$('#bootstrap-table').bootstrapTable('getOptions').pageSize;
                    //通过表的#id 可以得到当前第几页
                    var pageNumber=$('#bootstrap-table').bootstrapTable('getOptions').pageNumber;
                    //返回每条的序号： 每页条数 * （当前页 - 1 ）+ 序号
                    // return pageSize * (pageNumber - 1) + index + 1;
                    return $.table.serialNumber(index);
                }
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'yname',
                    align: 'center',
                    title: '学院'
                },
                {
                    field: 'dname',
                    align: 'center',
                    title: '专业'
                },
                {
                    field: 'userName',
                    align: 'center',
                    title: '申请人'
                },
                {
                    field: 'topName',
                    align: 'center',
                    title: '课题名称'
                },
                // {
                //     field: 'topType',
                //     title: '课题类型',
                //     formatter: function(value, row, index) {
                //        return $.table.selectDictLabel(topTypeDatas, value);
                //     }
                // },

                {
                    field: 'signingData',
                    align: 'center',
                    title: '签订日期'
                },
                {
                    field: 'amount',
                    align: 'center',
                    title: '项目金额'
                },
                {
                    field: 'pa',
                    align: 'center',
                    title: '甲方'
                },
                {
                    field: 'pb',
                    align: 'center',
                    title: '乙方'
                },
                {
                    field: 'state',
                    title: '申请状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                }  ,
                {
                    title: '操作',
                    align: 'center',
                    // formatter: function(value, row, index) {
                    //     console.log("roe=",row)
                    //     var actions = [];
                    //
                    //     if(row.state == 1 ){
                    //         if(row.userId == row.uid){
                    //             actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                    //             actions.push('<a   class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>更新</a> ');
                    //         }
                    //
                    //         actions.push('<a  class="btn btn-success btn-xs ' + proFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id+'/pro' + '\')"><i class="fa fa-edit"></i>批阅</a> ');
                    //
                    //     }else if((row.state == 3 || row.state == 5)  && row.userId == row.uid){/*被俩退回了，同时还是自己的*/
                    //         actions.push('<a   class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"> <i class="fa fa-edit"></i>更新</a> ');
                    //     }else if(row.state ==  2){/*教研室通过的*/
                    //         //console.log("this state is 2")
                    //         actions.push('<a  class="btn btn-success btn-xs ' + hechaFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/hecha'+ '\')"><i class="fa fa-edit"></i>核查</a> ');
                    //         //待科研处处理，不能查看
                    //         /*if(row.secondPersonId == row.uid || row.thirdPersonId == row.uid || row.fourthPersonId == row.uid ) {/!*如果不是自己的项目但是自己是负责人*!/
                    //             //console.log("this state is 2 and i in this")
                    //             actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.overdetailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                    //         }*/
                    //     }else
                    //     if(row.state ==  4){/*科研处通过*/
                    //         console.log("this is 4 ")
                    //         if(row.userId == row.uid){
                    //             console.log("this is 4 and this is my")
                    //             actions.push('<a  class="btn btn-success btn-xs ' + createFlag + '" href="javascript:void(0)" onclick="$.operate.overTab(\'' + row.id +'\')"><i class="fa fa-edit"></i>申请结项</a> ');
                    //             actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                    //
                    //         }else if(row.secondPersonId == row.uid || row.thirdPersonId == row.uid || row.fourthPersonId == row.uid) {/*如果不是自己的项目但是自己是负责人*/
                    //             actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                    //         }
                    //     }
                    //
                    //     return actions.join('');
                    // }

                    formatter: function(value, row, index) {
                        console.log("roe=",row)
                        var actions = [];

                        if(row.state == 1 ){
                            if(row.userId == row.uid){
                                actions.push('<a class="btn btn-danger btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                                actions.push('<a   class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>更新</a> ');
                            }

                            actions.push('<a  class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id+'/pro' + '\')"><i class="fa fa-edit"></i>批阅</a> ');

                        }else if((row.state == 3 || row.state == 5)  && row.userId == row.uid){/*被俩退回了，同时还是自己的*/
                            actions.push('<a   class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"> <i class="fa fa-edit"></i>更新</a> ');
                        }else if(row.state ==  2){/*教研室通过的*/
                            //console.log("this state is 2")
                            actions.push('<a  class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/hecha'+ '\')"><i class="fa fa-edit"></i>核查</a> ');
                            //待科研处处理，不能查看
                            /*if(row.secondPersonId == row.uid || row.thirdPersonId == row.uid || row.fourthPersonId == row.uid ) {/!*如果不是自己的项目但是自己是负责人*!/
                                //console.log("this state is 2 and i in this")
                                actions.push('<a  class="btn btn-success btn-xs ' + editInfo + '" href="javascript:void(0)" onclick="$.operate.overdetailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                            }*/
                        }else
                        if(row.state ==  4){/*科研处通过*/
                            console.log("this is 4 ")
                            if(row.userId == row.uid){
                                console.log("this is 4 and this is my")
                                actions.push('<a  class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.overTab(\'' + row.id +'\')"><i class="fa fa-edit"></i>申请结项</a> ');
                                actions.push('<a  class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');

                            }else if(row.secondPersonId == row.uid || row.thirdPersonId == row.uid || row.fourthPersonId == row.uid) {/*如果不是自己的项目但是自己是负责人*/
                                actions.push('<a  class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id +'/chakan'+ '\')"><i class="fa fa-edit"></i>查看</a> ');
                            }
                        }

                        return actions.join('');
                    }
                }]
        };
        initTable(options1);

        // tab-2
        var options2 = {
            id: "bootstrap-table2",
            toolbar:"toolbar2",
            url:getUrl($('table').attr('id')),
            createUrl: prefix + "/overadd?id={id}",
            detailUrl: prefix + "/overdetail/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "横向课题结项",
            sortOrder: "asc",
            columns: [{
                field: 'number',
                title: '序号',
                width:5 ,
                align:'center',
                switchable:false,
                formatter:function(value,row,index){
                    //return index+1; //序号正序排序从1开始

                    //通过表的#id 可以得到每页多少条
                    var pageSize=$('#bootstrap-table').bootstrapTable('getOptions').pageSize;
                    //通过表的#id 可以得到当前第几页
                    var pageNumber=$('#bootstrap-table').bootstrapTable('getOptions').pageNumber;
                    //返回每条的序号： 每页条数 * （当前页 - 1 ）+ 序号
                    // return pageSize * (pageNumber - 1) + index + 1;
                    return $.table.serialNumber(index);
                }
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'yname',
                    align: 'center',
                    title: '学院'
                },
                {
                    field: 'dname',
                    align: 'center',
                    title: '专业'
                },
                {
                    field: 'userName',
                    align: 'center',
                    title: '申请人'
                },
                {
                    field: 'topName',
                    align: 'center',
                    title: '课题名称'
                },
                // {
                //     field: 'topType',
                //     title: '课题类型',
                //     formatter: function(value, row, index) {
                //        return $.table.selectDictLabel(topTypeDatas, value);
                //     }
                // },

                {
                    field: 'signingData',
                    align: 'center',
                    title: '签订日期'
                },
                {
                    field: 'amount',
                    align: 'center',
                    title: '项目金额'
                },
                {
                    field: 'pa',
                    align: 'center',
                    title: '甲方'
                },
                {
                    field: 'pb',
                    align: 'center',
                    title: '乙方'
                },
                {
                    field: 'state',
                    title: '申请状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                }  ,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];

                        if(row.state == 7 ){
                            if(row.userId == row.uid){
                                actions.push('<a class="btn btn-danger btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"> <i class="fa fa-remove"></i>删除</a>');
                                actions.push('<a   class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"> <i class="fa fa-edit"></i>更新</a> ');
                            }
                            actions.push('<a  class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.overdetailTab(\'' + row.id+'/JYSOVER' + '\')"><i class="fa fa-edit"></i>批阅结项</a> ');

                        }else
                        if((row.state == 9 || row.state == 10)  && row.userId == row.uid){
                            actions.push('<a   class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>更新</a> ');
                        }else if(row.state ==  8){

                            actions.push('<a  class="btn btn-success btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.overdetailTab(\'' + row.id +'/KYCOVER'+ '\')"><i class="fa fa-edit"></i>批阅结项</a> ');
                        }
                        return actions.join('');
                    }
                    // formatter: function(value, row, index) {
                    //     var actions = [];
                    //
                    //     if(row.state == 7 ){
                    //         if(row.userId == row.uid){
                    //             actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"> <i class="fa fa-remove"></i>删除</a>');
                    //             actions.push('<a   class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"> <i class="fa fa-edit"></i>更新</a> ');
                    //         }
                    //         actions.push('<a  class="btn btn-success btn-xs ' + proFlag + '" href="javascript:void(0)" onclick="$.operate.overdetailTab(\'' + row.id+'/JYSOVER' + '\')"><i class="fa fa-edit"></i>批阅结项</a> ');
                    //
                    //     }else
                    //     if((row.state == 9 || row.state == 10)  && row.userId == row.uid){
                    //         actions.push('<a   class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>更新</a> ');
                    //     }else if(row.state ==  8){
                    //
                    //         actions.push('<a  class="btn btn-success btn-xs ' + hechaFlag + '" href="javascript:void(0)" onclick="$.operate.overdetailTab(\'' + row.id +'/KYCOVER'+ '\')"><i class="fa fa-edit"></i>批阅结项</a> ');
                    //     }
                    //     return actions.join('');
                    // }
                }]
        };
        initTable(options2);

        window.addEventListener("storage",function (event){
            if (event.key==="year"){
                // 销毁表格，再初始化
                $('#bootstrap-table0').bootstrapTable('destroy');
                initTable(options0)
                $('#bootstrap-table1').bootstrapTable('destroy');
                initTable(options1)
                $('#bootstrap-table2').bootstrapTable('destroy');
                initTable(options2)
            }

        })
    });
</script>
</body>
</html>
